In [1]:
# Import SparkSession
from pyspark.sql import SparkSession

# Create SparkSession 
spark = SparkSession.builder \
      .master("local[*]") \
      .appName("Hands-On Spark 3") \
      .getOrCreate()

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

22/11/26 11:53:06 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
22/11/26 11:53:06 WARN Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.
22/11/26 11:53:06 WARN Utils: Service 'SparkUI' could not bind on port 4041. Attempting port 4042.
22/11/26 11:53:06 WARN Utils: Service 'SparkUI' could not bind on port 4042. Attempting port 4043.
22/11/26 11:53:06 WARN Utils: Service 'SparkUI' could not bind on port 4043. Attempting port 4044.
22/11/26 11:53:06 WARN Utils: Service 'SparkUI' could not bind on port 4044. Attempting port 4045.
22/11/26 11:53:06 WARN Utils: Service 'SparkUI' could not bind on port 4045. Attempting port 4046.

In [2]:
spark.sparkContext.setLogLevel("ERROR")

In [3]:
print(spark.sparkContext)
print("Spark App Name : "+ spark.sparkContext.appName)

<SparkContext master=local[*] appName=Hands-On Spark 3>
Spark App Name : Hands-On Spark 3

In [8]:
currencyList = ["USD;Euro;GBP;CHF","CHF;JPY;CNY;KRW","CNY;KRW;Euro;USD","CAD;NZD;SEK;MXN"]

currencyListRdd = spark.sparkContext.parallelize(currencyList, 4)

In [9]:
currenciesRdd = currencyListRdd.flatMap(lambda x: x.split(";"))

In [10]:
sampleData = currenciesRdd.take(3)

for f in sampleData:
    print(str(f[0]) +", "+str(f[1]))

U, S
E, u
G, B

In [130]:
pairRDD = currenciesRdd.map(lambda x: (x,1))

In [135]:
sampleData = pairRDD.take(5)

for f in sampleData:
    print(str("("+f[0]) +","+str(f[1])+")")

(USD,1)
(Euro,1)
(GBP,1)
(CHF,1)
(CHF,1)

In [133]:
sampleData = pairRDD.collect()

for f in sampleData:
    print(str("("+f[0]) +","+str(f[1])+")")

(USD,1)
(Euro,1)
(GBP,1)
(CHF,1)
(CHF,1)
(JPY,1)
(CNY,1)
(KRW,1)
(CNY,1)
(KRW,1)
(Euro,1)
(USD,1)
(CAD,1)
(NZD,1)
(SEK,1)
(MXN,1)

In [142]:
# distinct – Returns distinct keys.
sampleData = sorted(pairRDD.distinct().collect())
for f in sampleData:
    print(str("("+f[0]) +","+str(f[1])+")")

(CAD,1)
(CHF,1)
(CNY,1)
(Euro,1)
(GBP,1)
(JPY,1)
(KRW,1)
(MXN,1)
(NZD,1)
(SEK,1)
(USD,1)

In [143]:
# sortByKey – Transformation returns an RDD after sorting by key
# https://sparkbyexamples.com/apache-spark-rdd/spark-pair-rdd-functions/


sampleData = pairRDD.sortByKey().collect()
for f in sampleData:
    print(str("("+f[0]) +","+str(f[1])+")")

(CAD,1)
(CHF,1)
(CHF,1)
(CNY,1)
(CNY,1)
(Euro,1)
(Euro,1)
(GBP,1)
(JPY,1)
(KRW,1)
(KRW,1)
(MXN,1)
(NZD,1)
(SEK,1)
(USD,1)
(USD,1)

In [141]:
# pyspark.RDD.countByValue
#sorted(pairRDD.countByValue().items())

sampleData = sorted(pairRDD.countByValue().items())
for f in sampleData:
    print(f)

(('CAD', 1), 1)
(('CHF', 1), 2)
(('CNY', 1), 2)
(('Euro', 1), 2)
(('GBP', 1), 1)
(('JPY', 1), 1)
(('KRW', 1), 2)
(('MXN', 1), 1)
(('NZD', 1), 1)
(('SEK', 1), 1)
(('USD', 1), 2)

In [11]:
#Create RDD from parallelize    
dataList = [1,2,3,4,5,6,7,8,9,10,11,12]

rdd = spark.sparkContext.parallelize(dataList, 4)

In [12]:
print("Number of partitions: "+str(rdd.getNumPartitions()))

Number of partitions: 4

In [13]:
alphabetList = ['a','b','c','d','e','f','g','h','i','j','k','l']
rdd = spark.sparkContext.parallelize(dataList, 4)
print("Number of partitions: "+str(rdd.getNumPartitions()))

Number of partitions: 4

In [27]:
DonQuixote = ["The Ingenious Gentleman Don Quixote of La Mancha", "El Ingenioso Hidalgo Don Quijote de La Mancha"]

DonQuixoteRdd = spark.sparkContext.parallelize(DonQuixote, 4)

print("Number of partitions: "+str(rdd.getNumPartitions()))

Number of partitions: 4

In [28]:
pairDonQuixoteRdd = DonQuixoteRdd.map(lambda x: (x.split(" ")[0], x))

In [29]:
rdd2 = DonQuixoteRdd.flatMap(lambda x: x.split(" "))

In [35]:
pairDonQuixoteRddColl=DonQuixoteRdd.collect()

for i in pairDonQuixoteRddColl:
    print(i[0] + "," +str(i[1])+ "," +str(i[2])+ "," +str(i[3]))

T,h,e,
E,l, ,I

In [36]:
# Action - take
data3 = rdd2.take(3)
for f in data3:
    print("data3 Key:"+ str(f[0]) +", Value:"+f[1])

data3 Key:T, Value:h
data3 Key:I, Value:n
data3 Key:G, Value:e

In [58]:
DonQuixoteRdd = spark.sparkContext.textFile("DonQuixote.txt")

In [150]:
for row in DonQuixoteRdd:
    print(row)

TypeError: 'RDD' object is not iterable

In [71]:
DonQuixoteRdd2 = DonQuixoteRdd.flatMap(lambda x: x.split(" "))

In [72]:
DonQuixoteRdd3 = DonQuixoteRdd2.map(lambda x: (x,1))

In [75]:
# Action - take
DonQuixotePairedRdd = DonQuixoteRdd3.take(6)
print("Key - Value")
for f in DonQuixotePairedRdd:
    print("(" + str(f[0]) +","+ str(f[1])+")")

Key - Value
(In,1)
(a,1)
(village,1)
(of,1)
(La,1)
(Mancha,,1)

In [81]:
# Distinct keys
DonQuixoteRdd4 = DonQuixoteRdd3.distinct().collect()

for pair in DonQuixoteRdd4:
    print(pair)

('In', 1)
('a', 1)
('village', 1)
('La', 1)
('Mancha,', 1)
('the', 1)
('which', 1)
('I', 1)
('desire', 1)
('to', 1)
('mind,', 1)
('not', 1)
('since', 1)
('one', 1)
('those', 1)
('that', 1)
('keep', 1)
('lance-rack,', 1)
('old', 1)
('buckler,', 1)
('lean', 1)
('hack,', 1)
('and', 1)
('for', 1)
('coursing.', 1)
('An', 1)
('olla', 1)
('on', 1)
('most', 1)
('scraps', 1)
('Saturdays,', 1)
('or', 1)
('so', 1)
('extra', 1)
('Sundays,', 1)
('made', 1)
('with', 1)
('three-quarters', 1)
('income.', 1)
('it', 1)
('went', 1)
('cloth', 1)
('while', 1)
('homespun.', 1)
('He', 1)
('had', 1)
('housekeeper', 1)
('under', 1)
('lad', 1)
('who', 1)
('hack', 1)
('well', 1)
('bill-hook.', 1)
('age', 1)
('ours', 1)
('habit,', 1)
('gaunt-featured,', 1)
('early', 1)
('great', 1)
('will', 1)
('Quixada', 1)
('here', 1)
('some', 1)
('difference', 1)
('among', 1)
('authors', 1)
('write', 1)
('subject),', 1)
('from', 1)
('reasonable', 1)
('seems', 1)
('plain', 1)
('called', 1)
('little', 1)
('importance', 1)
('our', 1)
('tale;', 1)
('be', 1)
('enough', 1)
('hair’s', 1)
('truth', 1)
('telling', 1)
('of', 1)
('name', 1)
('have', 1)
('no', 1)
('call', 1)
('there', 1)
('lived', 1)
('long', 1)
('gentlemen', 1)
('lance', 1)
('in', 1)
('an', 1)
('greyhound', 1)
('rather', 1)
('more', 1)
('beef', 1)
('than', 1)
('mutton,', 1)
('salad', 1)
('nights,', 1)
('lentils', 1)
('Fridays,', 1)
('pigeon', 1)
('away', 1)
('his', 1)
('The', 1)
('rest', 1)
('doublet', 1)
('fine', 1)
('velvet', 1)
('breeches', 1)
('shoes', 1)
('match', 1)
('holidays,', 1)
('week-days', 1)
('he', 1)
('brave', 1)
('figure', 1)
('best', 1)
('house', 1)
('past', 1)
('forty,', 1)
('niece', 1)
('twenty,', 1)
('field', 1)
('market-place,', 1)
('used', 1)
('saddle', 1)
('as', 1)
('handle', 1)
('this', 1)
('gentleman', 1)
('was', 1)
('bordering', 1)
('fifty;', 1)
('hardy', 1)
('spare,', 1)
('very', 1)
('riser', 1)
('sportsman.', 1)
('They', 1)
('surname', 1)
('Quesada', 1)
('(for', 1)
('is', 1)
('opinion', 1)
('although', 1)
('conjectures', 1)
('Quexana.', 1)
('This,', 1)
('however,', 1)
('but', 1)
('stray', 1)
('breadth', 1)
('it.', 1)

In [84]:
# Distinct keys II
DonQuixoteRdd4 = DonQuixoteRdd2.distinct().collect()

for pair in DonQuixoteRdd4:
    print(pair)

of
name
have
no
call
there
lived
long
gentlemen
lance
in
an
greyhound
rather
more
beef
than
mutton,
salad
nights,
lentils
Fridays,
pigeon
away
his
The
rest
doublet
fine
velvet
breeches
shoes
match
holidays,
week-days
he
brave
figure
best
house
past
forty,
niece
twenty,
field
market-place,
used
saddle
as
handle
this
gentleman
was
bordering
fifty;
hardy
spare,
very
riser
sportsman.
They
surname
Quesada
(for
is
opinion
although
conjectures
Quexana.
This,
however,
but
stray
breadth
it.
In
a
village
La
Mancha,
the
which
I
desire
to
mind,
not
since
one
those
that
keep
lance-rack,
old
buckler,
lean
hack,
and
for
coursing.
An
olla
on
most
scraps
Saturdays,
or
so
extra
Sundays,
made
with
three-quarters
income.
it
went
cloth
while
homespun.
He
had
housekeeper
under
lad
who
hack
well
bill-hook.
age
ours
habit,
gaunt-featured,
early
great
will
Quixada
here
some
difference
among
authors
write
subject),
from
reasonable
seems
plain
called
little
importance
our
tale;
be
enough
hair’s
truth
telling

In [83]:
# pyspark.RDD.countByValue
# Return the count of each unique value in this RDD as a dictionary of (value, count) pairs.
DonQuixoteRdd5 = DonQuixoteRdd2.countByValue().items()

for pair in DonQuixoteRdd5:
    print(pair)

('In', 1)
('a', 15)
('village', 1)
('of', 13)
('La', 1)
('Mancha,', 1)
('the', 9)
('name', 1)
('which', 1)
('I', 1)
('have', 2)
('no', 1)
('desire', 1)
('to', 6)
('call', 1)
('mind,', 1)
('there', 2)
('lived', 1)
('not', 2)
('long', 1)
('since', 1)
('one', 1)
('those', 1)
('gentlemen', 1)
('that', 2)
('keep', 1)
('lance', 1)
('in', 5)
('lance-rack,', 1)
('an', 1)
('old', 1)
('buckler,', 1)
('lean', 1)
('hack,', 1)
('and', 7)
('greyhound', 1)
('for', 3)
('coursing.', 1)
('An', 1)
('olla', 1)
('rather', 1)
('more', 1)
('beef', 1)
('than', 1)
('mutton,', 1)
('salad', 1)
('on', 7)
('most', 1)
('nights,', 1)
('scraps', 1)
('Saturdays,', 1)
('lentils', 1)
('Fridays,', 1)
('pigeon', 1)
('or', 2)
('so', 1)
('extra', 1)
('Sundays,', 1)
('made', 2)
('away', 1)
('with', 1)
('three-quarters', 1)
('his', 4)
('income.', 1)
('The', 2)
('rest', 1)
('it', 4)
('went', 1)
('doublet', 1)
('fine', 1)
('cloth', 1)
('velvet', 1)
('breeches', 1)
('shoes', 1)
('match', 1)
('holidays,', 1)
('while', 1)
('week-days', 1)
('he', 3)
('brave', 1)
('figure', 1)
('best', 1)
('homespun.', 1)
('He', 1)
('had', 1)
('house', 1)
('housekeeper', 1)
('past', 1)
('forty,', 1)
('niece', 1)
('under', 1)
('twenty,', 1)
('lad', 1)
('field', 1)
('market-place,', 1)
('who', 2)
('used', 1)
('saddle', 1)
('hack', 1)
('as', 2)
('well', 1)
('handle', 1)
('bill-hook.', 1)
('age', 1)
('this', 1)
('gentleman', 1)
('ours', 1)
('was', 4)
('bordering', 1)
('fifty;', 1)
('hardy', 1)
('habit,', 1)
('spare,', 1)
('gaunt-featured,', 1)
('very', 1)
('early', 1)
('riser', 1)
('great', 1)
('sportsman.', 1)
('They', 1)
('will', 2)
('surname', 1)
('Quixada', 1)
('Quesada', 1)
('(for', 1)
('here', 1)
('is', 2)
('some', 1)
('difference', 1)
('opinion', 1)
('among', 1)
('authors', 1)
('write', 1)
('subject),', 1)
('although', 1)
('from', 2)
('reasonable', 1)
('conjectures', 1)
('seems', 1)
('plain', 1)
('called', 1)
('Quexana.', 1)
('This,', 1)
('however,', 1)
('but', 1)
('little', 1)
('importance', 1)
('our', 1)
('tale;', 1)
('be', 1)
('enough', 1)
('stray', 1)
('hair’s', 1)
('breadth', 1)
('truth', 1)
('telling', 1)
('it.', 1)

In [149]:
DonQuixoteRddReduceByKey = DonQuixoteRdd3.reduceByKey(lambda x,y: x+y)

for pair in DonQuixoteRddReduceByKey:
    print(pair)

TypeError: 'PipelinedRDD' object is not iterable

22/09/25 03:00:24 WARN HeartbeatReceiver: Removing executor driver with no recent heartbeats: 1074325 ms exceeds timeout 120000 ms
22/09/25 03:00:24 WARN SparkContext: Killing executors is not supported by current scheduler.

In [151]:
# Action - count
print("Count : "+str(DonQuixoteRddReduceByKey.count()))

Count : 157

Saving RDDs as text files

In [ ]:


import tempfile
from tempfile import NamedTemporaryFile

tempfile.tempdir = "./"

RDDDonQuixote = NamedTemporaryFile(delete=True)

RDDDonQuixote.close()

DonQuixoteRdd3.saveAsTextFile(RDDDonQuixote.name)

In [172]:
from fileinput import input

from glob import glob

''.join(sorted(input(glob(RDDDonQuixote.name + "/part-0000*"))))

"('(for', 1)\n('An', 1)\n('Fridays,', 1)\n('He', 1)\n('I', 1)\n('In', 1)\n('La', 1)\n('Mancha,', 1)\n('Quesada', 1)\n('Quexana.', 1)\n('Quixada', 1)\n('Saturdays,', 1)\n('Sundays,', 1)\n('The', 1)\n('The', 1)\n('They', 1)\n('This,', 1)\n('a', 1)\n('a', 1)\n('a', 1)\n('a', 1)\n('a', 1)\n('a', 1)\n('a', 1)\n('a', 1)\n('a', 1)\n('a', 1)\n('a', 1)\n('a', 1)\n('a', 1)\n('a', 1)\n('a', 1)\n('age', 1)\n('although', 1)\n('among', 1)\n('an', 1)\n('and', 1)\n('and', 1)\n('and', 1)\n('and', 1)\n('and', 1)\n('and', 1)\n('and', 1)\n('as', 1)\n('as', 1)\n('authors', 1)\n('away', 1)\n('be', 1)\n('beef', 1)\n('best', 1)\n('bill-hook.', 1)\n('bordering', 1)\n('brave', 1)\n('breadth', 1)\n('breeches', 1)\n('buckler,', 1)\n('but', 1)\n('call', 1)\n('called', 1)\n('cloth', 1)\n('conjectures', 1)\n('coursing.', 1)\n('desire', 1)\n('difference', 1)\n('doublet', 1)\n('early', 1)\n('enough', 1)\n('extra', 1)\n('field', 1)\n('fifty;', 1)\n('figure', 1)\n('fine', 1)\n('for', 1)\n('for', 1)\n('for', 1)\n('forty,', 1)\n('from', 1)\n('from', 1)\n('gaunt-featured,', 1)\n('gentleman', 1)\n('gentlemen', 1)\n('great', 1)\n('greyhound', 1)\n('habit,', 1)\n('hack', 1)\n('hack,', 1)\n('had', 1)\n('hair’s', 1)\n('handle', 1)\n('hardy', 1)\n('have', 1)\n('have', 1)\n('he', 1)\n('he', 1)\n('he', 1)\n('here', 1)\n('his', 1)\n('his', 1)\n('his', 1)\n('his', 1)\n('holidays,', 1)\n('homespun.', 1)\n('house', 1)\n('housekeeper', 1)\n('however,', 1)\n('importance', 1)\n('in', 1)\n('in', 1)\n('in', 1)\n('in', 1)\n('in', 1)\n('income.', 1)\n('is', 1)\n('is', 1)\n('it', 1)\n('it', 1)\n('it', 1)\n('it', 1)\n('it.', 1)\n('keep', 1)\n('lad', 1)\n('lance', 1)\n('lance-rack,', 1)\n('lean', 1)\n('lentils', 1)\n('little', 1)\n('lived', 1)\n('long', 1)\n('made', 1)\n('made', 1)\n('market-place,', 1)\n('match', 1)\n('mind,', 1)\n('more', 1)\n('most', 1)\n('mutton,', 1)\n('name', 1)\n('niece', 1)\n('nights,', 1)\n('no', 1)\n('not', 1)\n('not', 1)\n('of', 1)\n('of', 1)\n('of', 1)\n('of', 1)\n('of', 1)\n('of', 1)\n('of', 1)\n('of', 1)\n('of', 1)\n('of', 1)\n('of', 1)\n('of', 1)\n('of', 1)\n('old', 1)\n('olla', 1)\n('on', 1)\n('on', 1)\n('on', 1)\n('on', 1)\n('on', 1)\n('on', 1)\n('on', 1)\n('one', 1)\n('opinion', 1)\n('or', 1)\n('or', 1)\n('our', 1)\n('ours', 1)\n('past', 1)\n('pigeon', 1)\n('plain', 1)\n('rather', 1)\n('reasonable', 1)\n('rest', 1)\n('riser', 1)\n('saddle', 1)\n('salad', 1)\n('scraps', 1)\n('seems', 1)\n('shoes', 1)\n('since', 1)\n('so', 1)\n('some', 1)\n('spare,', 1)\n('sportsman.', 1)\n('stray', 1)\n('subject),', 1)\n('surname', 1)\n('tale;', 1)\n('telling', 1)\n('than', 1)\n('that', 1)\n('that', 1)\n('the', 1)\n('the', 1)\n('the', 1)\n('the', 1)\n('the', 1)\n('the', 1)\n('the', 1)\n('the', 1)\n('the', 1)\n('there', 1)\n('there', 1)\n('this', 1)\n('those', 1)\n('three-quarters', 1)\n('to', 1)\n('to', 1)\n('to', 1)\n('to', 1)\n('to', 1)\n('to', 1)\n('truth', 1)\n('twenty,', 1)\n('under', 1)\n('used', 1)\n('velvet', 1)\n('very', 1)\n('village', 1)\n('was', 1)\n('was', 1)\n('was', 1)\n('was', 1)\n('week-days', 1)\n('well', 1)\n('went', 1)\n('which', 1)\n('while', 1)\n('who', 1)\n('who', 1)\n('will', 1)\n('will', 1)\n('with', 1)\n('write', 1)\n"

In [173]:
print(RDDDonQuixote)
print(RDDDonQuixote.name)

<tempfile._TemporaryFileWrapper object at 0x7f9ed1e65040>
/Users/aantolinez/tmp906w7eoy

In [177]:
print(tempfile.tempdir)

./

In [184]:
# x = sc.parallelize([("a", 1), ("b", 1), ("a", 2)])

pairs = sc.parallelize([("a", 1), ("a", 3), ("b", 2), ("a", 5), ("b", 4), ("a", 7), ("b", 6)])

def to_list(x):
    return [x]

def append(x, y):
    x.append(y) # The append() method adds the y element to the x list.
    return x

def extend(x, y):
    x.extend(y) # The extend() method adds the y list elements to the end of the x list.
    return x


sorted(pairs.combineByKey(to_list, append, extend).collect())

[('a', [1, 3, 5, 7]), ('b', [2, 4, 6])]

In [180]:
x = sc.parallelize([("a", 1), ("b", 1), ("a", 2)])

def to_list(y):

    return [y]


def append(a, b):

    a.append(b)

    return a


def extend(a, b):

    a.extend(b)

    return a


sorted(x.combineByKey(to_list, append, extend).collect())

[('a', [1, 2]), ('b', [1])]

JOINS

In [20]:
rdd1 = spark.sparkContext.parallelize([("PySpark",10),("Scala",15),("R",100)])
rdd2 = spark.sparkContext.parallelize([("Scala",11),("Scala",20),("PySpark",75), ("PySpark",35)])

joinedRDD = rdd1.join(rdd2)

print(joinedRDD.collect())

[('Scala', (15, 11)), ('Scala', (15, 20)), ('PySpark', (10, 75)), ('PySpark', (10, 35))]

In [21]:
# ------ leftOuterJoin

rdd1 = spark.sparkContext.parallelize([("PySpark",10),("Scala",15),("R",100)])
rdd2 = spark.sparkContext.parallelize([("Scala",11),("Scala",20),("PySpark",75), ("PySpark",35)])

joinedRDD = rdd1.leftOuterJoin(rdd2)

print(joinedRDD.collect())

[('R', (100, None)), ('Scala', (15, 11)), ('Scala', (15, 20)), ('PySpark', (10, 75)), ('PySpark', (10, 35))]

In [22]:
# ------ rightOuterJoin

rdd1 = spark.sparkContext.parallelize([("PySpark",10),("Scala",15),("R",100)])
rdd2 = spark.sparkContext.parallelize([("Scala",11),("Scala",20),("PySpark",75), ("PySpark",35)])

joinedRDD = rdd1.rightOuterJoin(rdd2)

print(joinedRDD.collect())

[('Scala', (15, 11)), ('Scala', (15, 20)), ('PySpark', (10, 75)), ('PySpark', (10, 35))]

PySpark RDD | countByKey method
* https://skytowner.com/explore/pyspark_rdd_countbykey_method

In [24]:
rdd2 = spark.sparkContext.parallelize([("Scala",11),("Scala",20),("PySpark",75), ("PySpark",35)])
rdd2.collect()

[('Scala', 11), ('Scala', 20), ('PySpark', 75), ('PySpark', 35)]

In [27]:
rdd2.countByKey()

defaultdict(int, {'Scala': 2, 'PySpark': 2})

In [26]:
# Getting the count of each group in PySpark Pair RDD
# To group by the key, and get the count of each group:
                   
elementsCount = rdd2.countByKey()

print(elementsCount)

defaultdict(<class 'int'>, {'Scala': 2, 'PySpark': 2})

In [29]:
elementsCount['Scala']

2

In [30]:
# Trying to access of elementsCount that do not exist will return 0:
elementsCount['SQL']

0

**countByValue()**
 
RDD.countByValue() → Dict[K, int][source]
 
*Return the count of each unique value in this RDD as a dictionary of (value, count) pairs.

In [ ]:
rdd2 = spark.sparkContext.parallelize([("Scala",11),("Scala",20),("PySpark",75), ("PySpark",35)])

In [32]:
sorted(rdd2.countByValue().items())

[(('PySpark', 35), 1),
 (('PySpark', 75), 1),
 (('Scala', 11), 1),
 (('Scala', 20), 1)]

**PySpark RDD | collectAsMap method**

* RDD's collectAsMap(~) method collects all the elements of a pair RDD in the driver node and converts the RDD into a dictionary.
 
* NOTE

* A pair RDD is a RDD that contains a list of tuples.
* Parameters. This method does not take in any parameters.
* Return Value. A dictionary.
 
Example. Consider the following PySpark pair RDD:

In [35]:
# rdd = sc.parallelize([("a",5),("b",2),("c",3)]) 
# rdd.collect()
# https://skytowner.com/explore/pyspark_rdd_collectasmap_method

# rdd1 = spark.sparkContext.parallelize([("PySpark",10),("Scala",15),("R",100)])
# rdd2 = spark.sparkContext.parallelize([("Scala",11),("Scala",20),("PySpark",75), ("PySpark",35)])

rdd1.collectAsMap()

{'PySpark': 10, 'Scala': 15, 'R': 100}

In case of duplicate keys

When we have duplicate keys, the latter key-value pair will overwrite the former ones:

In [34]:
# Here, the tuple ("Scala",20) has overwritten ("Scala",11).
rdd2.collectAsMap()

{'Scala': 20, 'PySpark': 35}

PySpark RDD – lookup()

lookup() is an action in pair RDD, which is used to return all the values that are associated with a key in a list. It is performed on single pair RDD. It takes a key as a parameter.

Syntax:
RDD_data.lookup(key)
* https://linuxhint.com/pyspark-rdd-lookup-collectasmap/

In [36]:
# rdd2 = spark.sparkContext.parallelize([("Scala",11),("Scala",20),("PySpark",75), ("PySpark",35)])

rdd2.lookup("PySpark")

[75, 35]

**Broadcast Variables**

In [39]:
bVariable =  spark.sparkContext.broadcast([1, 2, 3, 4, 5, 6, 7, 8, 9])

In [40]:
bVariable.value

[1, 2, 3, 4, 5, 6, 7, 8, 9]

**Accumulators**

In [47]:
acc = spark.sparkContext.accumulator(0)
rdd = spark.sparkContext.parallelize([1,2,3,4,5])
rdd.foreach(lambda x:acc.add(x))
print("Acc value: ", acc.value) #Accessed by driver

Acc value:  15

**DataFrames. Generic Load/Save Functions**

In [4]:
personasDF = spark.read.load("/Users/aantolinez/Downloads/personas.csv")

22/10/29 18:00:06 ERROR Executor: Exception in task 0.0 in stage 0.0 (TID 0)
org.apache.spark.SparkException: Exception thrown in awaitResult:
	at org.apache.spark.util.ThreadUtils$.awaitResult(ThreadUtils.scala:301)
	at org.apache.spark.util.ThreadUtils$.parmap(ThreadUtils.scala:375)
	at org.apache.spark.sql.execution.datasources.parquet.ParquetFileFormat$.readParquetFootersInParallel(ParquetFileFormat.scala:477)
	at org.apache.spark.sql.execution.datasources.parquet.ParquetFileFormat$.$anonfun$mergeSchemasInParallel$1(ParquetFileFormat.scala:523)
	at org.apache.spark.sql.execution.datasources.parquet.ParquetFileFormat$.$anonfun$mergeSchemasInParallel$1$adapted(ParquetFileFormat.scala:517)
	at org.apache.spark.sql.execution.datasources.SchemaMergeUtils$.$anonfun$mergeSchemasInParallel$2(SchemaMergeUtils.scala:76)
	at org.apache.spark.rdd.RDD.$anonfun$mapPartitions$2(RDD.scala:855)
	at org.apache.spark.rdd.RDD.$anonfun$mapPartitions$2$adapted(RDD.scala:855)
	at org.apache.spark.rdd.MapPartitionsRDD.compute(MapPartitionsRDD.scala:52)
	at org.apache.spark.rdd.RDD.computeOrReadCheckpoint(RDD.scala:365)
	at org.apache.spark.rdd.RDD.iterator(RDD.scala:329)
	at org.apache.spark.scheduler.ResultTask.runTask(ResultTask.scala:90)
	at org.apache.spark.scheduler.Task.run(Task.scala:136)
	at org.apache.spark.executor.Executor$TaskRunner.$anonfun$run$3(Executor.scala:548)
	at org.apache.spark.util.Utils$.tryWithSafeFinally(Utils.scala:1504)
	at org.apache.spark.executor.Executor$TaskRunner.run(Executor.scala:551)
	at java.base/java.util.concurrent.ThreadPoolExecutor.runWorker(ThreadPoolExecutor.java:1136)
	at java.base/java.util.concurrent.ThreadPoolExecutor$Worker.run(ThreadPoolExecutor.java:635)
	at java.base/java.lang.Thread.run(Thread.java:833)
Caused by: java.io.IOException: Could not read footer for file: FileStatus{path=file:/Users/aantolinez/Downloads/personas.csv; isDirectory=false; length=200; replication=0; blocksize=0; modification_time=0; access_time=0; owner=; group=; permission=rw-rw-rw-; isSymlink=false; hasAcl=false; isEncrypted=false; isErasureCoded=false}
	at org.apache.spark.sql.errors.QueryExecutionErrors$.cannotReadFooterForFileError(QueryExecutionErrors.scala:864)
	at org.apache.spark.sql.execution.datasources.parquet.ParquetFileFormat$.$anonfun$readParquetFootersInParallel$1(ParquetFileFormat.scala:490)
	at org.apache.spark.util.ThreadUtils$.$anonfun$parmap$2(ThreadUtils.scala:372)
	at scala.concurrent.Future$.$anonfun$apply$1(Future.scala:659)
	at scala.util.Success.$anonfun$map$1(Try.scala:255)
	at scala.util.Success.map(Try.scala:213)
	at scala.concurrent.Future.$anonfun$map$1(Future.scala:292)
	at scala.concurrent.impl.Promise.liftedTree1$1(Promise.scala:33)
	at scala.concurrent.impl.Promise.$anonfun$transform$1(Promise.scala:33)
	at scala.concurrent.impl.CallbackRunnable.run(Promise.scala:64)
	at java.base/java.util.concurrent.ForkJoinTask$RunnableExecuteAction.exec(ForkJoinTask.java:1395)
	at java.base/java.util.concurrent.ForkJoinTask.doExec(ForkJoinTask.java:373)
	at java.base/java.util.concurrent.ForkJoinPool$WorkQueue.topLevelExec(ForkJoinPool.java:1182)
	at java.base/java.util.concurrent.ForkJoinPool.scan(ForkJoinPool.java:1655)
	at java.base/java.util.concurrent.ForkJoinPool.runWorker(ForkJoinPool.java:1622)
	at java.base/java.util.concurrent.ForkJoinWorkerThread.run(ForkJoinWorkerThread.java:165)
Caused by: java.lang.RuntimeException: file:/Users/aantolinez/Downloads/personas.csv is not a Parquet file. Expected magic number at tail, but found [48, 44, 70, 10]
	at org.apache.parquet.hadoop.ParquetFileReader.readFooter(ParquetFileReader.java:556)
	at org.apache.parquet.hadoop.ParquetFileReader.<init>(ParquetFileReader.java:776)
	at org.apache.parquet.hadoop.ParquetFileReader.open(ParquetFileReader.java:657)
	at org.apache.spark.sql.execution.datasources.parquet.ParquetFooterReader.readFooter(ParquetFooterReader.java:53)
	at org.apache.spark.sql.execution.datasources.parquet.ParquetFooterReader.readFooter(ParquetFooterReader.java:44)
	at org.apache.spark.sql.execution.datasources.parquet.ParquetFileFormat$.$anonfun$readParquetFootersInParallel$1(ParquetFileFormat.scala:484)
	... 14 more
22/10/29 18:00:06 ERROR TaskSetManager: Task 0 in stage 0.0 failed 1 times; aborting job

Py4JJavaError: An error occurred while calling o26.load.
: org.apache.spark.SparkException: Job aborted due to stage failure: Task 0 in stage 0.0 failed 1 times, most recent failure: Lost task 0.0 in stage 0.0 (TID 0) (192.168.47.224 executor driver): org.apache.spark.SparkException: Exception thrown in awaitResult:
	at org.apache.spark.util.ThreadUtils$.awaitResult(ThreadUtils.scala:301)
	at org.apache.spark.util.ThreadUtils$.parmap(ThreadUtils.scala:375)
	at org.apache.spark.sql.execution.datasources.parquet.ParquetFileFormat$.readParquetFootersInParallel(ParquetFileFormat.scala:477)
	at org.apache.spark.sql.execution.datasources.parquet.ParquetFileFormat$.$anonfun$mergeSchemasInParallel$1(ParquetFileFormat.scala:523)
	at org.apache.spark.sql.execution.datasources.parquet.ParquetFileFormat$.$anonfun$mergeSchemasInParallel$1$adapted(ParquetFileFormat.scala:517)
	at org.apache.spark.sql.execution.datasources.SchemaMergeUtils$.$anonfun$mergeSchemasInParallel$2(SchemaMergeUtils.scala:76)
	at org.apache.spark.rdd.RDD.$anonfun$mapPartitions$2(RDD.scala:855)
	at org.apache.spark.rdd.RDD.$anonfun$mapPartitions$2$adapted(RDD.scala:855)
	at org.apache.spark.rdd.MapPartitionsRDD.compute(MapPartitionsRDD.scala:52)
	at org.apache.spark.rdd.RDD.computeOrReadCheckpoint(RDD.scala:365)
	at org.apache.spark.rdd.RDD.iterator(RDD.scala:329)
	at org.apache.spark.scheduler.ResultTask.runTask(ResultTask.scala:90)
	at org.apache.spark.scheduler.Task.run(Task.scala:136)
	at org.apache.spark.executor.Executor$TaskRunner.$anonfun$run$3(Executor.scala:548)
	at org.apache.spark.util.Utils$.tryWithSafeFinally(Utils.scala:1504)
	at org.apache.spark.executor.Executor$TaskRunner.run(Executor.scala:551)
	at java.base/java.util.concurrent.ThreadPoolExecutor.runWorker(ThreadPoolExecutor.java:1136)
	at java.base/java.util.concurrent.ThreadPoolExecutor$Worker.run(ThreadPoolExecutor.java:635)
	at java.base/java.lang.Thread.run(Thread.java:833)
Caused by: java.io.IOException: Could not read footer for file: FileStatus{path=file:/Users/aantolinez/Downloads/personas.csv; isDirectory=false; length=200; replication=0; blocksize=0; modification_time=0; access_time=0; owner=; group=; permission=rw-rw-rw-; isSymlink=false; hasAcl=false; isEncrypted=false; isErasureCoded=false}
	at org.apache.spark.sql.errors.QueryExecutionErrors$.cannotReadFooterForFileError(QueryExecutionErrors.scala:864)
	at org.apache.spark.sql.execution.datasources.parquet.ParquetFileFormat$.$anonfun$readParquetFootersInParallel$1(ParquetFileFormat.scala:490)
	at org.apache.spark.util.ThreadUtils$.$anonfun$parmap$2(ThreadUtils.scala:372)
	at scala.concurrent.Future$.$anonfun$apply$1(Future.scala:659)
	at scala.util.Success.$anonfun$map$1(Try.scala:255)
	at scala.util.Success.map(Try.scala:213)
	at scala.concurrent.Future.$anonfun$map$1(Future.scala:292)
	at scala.concurrent.impl.Promise.liftedTree1$1(Promise.scala:33)
	at scala.concurrent.impl.Promise.$anonfun$transform$1(Promise.scala:33)
	at scala.concurrent.impl.CallbackRunnable.run(Promise.scala:64)
	at java.base/java.util.concurrent.ForkJoinTask$RunnableExecuteAction.exec(ForkJoinTask.java:1395)
	at java.base/java.util.concurrent.ForkJoinTask.doExec(ForkJoinTask.java:373)
	at java.base/java.util.concurrent.ForkJoinPool$WorkQueue.topLevelExec(ForkJoinPool.java:1182)
	at java.base/java.util.concurrent.ForkJoinPool.scan(ForkJoinPool.java:1655)
	at java.base/java.util.concurrent.ForkJoinPool.runWorker(ForkJoinPool.java:1622)
	at java.base/java.util.concurrent.ForkJoinWorkerThread.run(ForkJoinWorkerThread.java:165)
Caused by: java.lang.RuntimeException: file:/Users/aantolinez/Downloads/personas.csv is not a Parquet file. Expected magic number at tail, but found [48, 44, 70, 10]
	at org.apache.parquet.hadoop.ParquetFileReader.readFooter(ParquetFileReader.java:556)
	at org.apache.parquet.hadoop.ParquetFileReader.<init>(ParquetFileReader.java:776)
	at org.apache.parquet.hadoop.ParquetFileReader.open(ParquetFileReader.java:657)
	at org.apache.spark.sql.execution.datasources.parquet.ParquetFooterReader.readFooter(ParquetFooterReader.java:53)
	at org.apache.spark.sql.execution.datasources.parquet.ParquetFooterReader.readFooter(ParquetFooterReader.java:44)
	at org.apache.spark.sql.execution.datasources.parquet.ParquetFileFormat$.$anonfun$readParquetFootersInParallel$1(ParquetFileFormat.scala:484)
	... 14 more

Driver stacktrace:
	at org.apache.spark.scheduler.DAGScheduler.failJobAndIndependentStages(DAGScheduler.scala:2672)
	at org.apache.spark.scheduler.DAGScheduler.$anonfun$abortStage$2(DAGScheduler.scala:2608)
	at org.apache.spark.scheduler.DAGScheduler.$anonfun$abortStage$2$adapted(DAGScheduler.scala:2607)
	at scala.collection.mutable.ResizableArray.foreach(ResizableArray.scala:62)
	at scala.collection.mutable.ResizableArray.foreach$(ResizableArray.scala:55)
	at scala.collection.mutable.ArrayBuffer.foreach(ArrayBuffer.scala:49)
	at org.apache.spark.scheduler.DAGScheduler.abortStage(DAGScheduler.scala:2607)
	at org.apache.spark.scheduler.DAGScheduler.$anonfun$handleTaskSetFailed$1(DAGScheduler.scala:1182)
	at org.apache.spark.scheduler.DAGScheduler.$anonfun$handleTaskSetFailed$1$adapted(DAGScheduler.scala:1182)
	at scala.Option.foreach(Option.scala:407)
	at org.apache.spark.scheduler.DAGScheduler.handleTaskSetFailed(DAGScheduler.scala:1182)
	at org.apache.spark.scheduler.DAGSchedulerEventProcessLoop.doOnReceive(DAGScheduler.scala:2860)
	at org.apache.spark.scheduler.DAGSchedulerEventProcessLoop.onReceive(DAGScheduler.scala:2802)
	at org.apache.spark.scheduler.DAGSchedulerEventProcessLoop.onReceive(DAGScheduler.scala:2791)
	at org.apache.spark.util.EventLoop$$anon$1.run(EventLoop.scala:49)
	at org.apache.spark.scheduler.DAGScheduler.runJob(DAGScheduler.scala:952)
	at org.apache.spark.SparkContext.runJob(SparkContext.scala:2228)
	at org.apache.spark.SparkContext.runJob(SparkContext.scala:2249)
	at org.apache.spark.SparkContext.runJob(SparkContext.scala:2268)
	at org.apache.spark.SparkContext.runJob(SparkContext.scala:2293)
	at org.apache.spark.rdd.RDD.$anonfun$collect$1(RDD.scala:1021)
	at org.apache.spark.rdd.RDDOperationScope$.withScope(RDDOperationScope.scala:151)
	at org.apache.spark.rdd.RDDOperationScope$.withScope(RDDOperationScope.scala:112)
	at org.apache.spark.rdd.RDD.withScope(RDD.scala:406)
	at org.apache.spark.rdd.RDD.collect(RDD.scala:1020)
	at org.apache.spark.sql.execution.datasources.SchemaMergeUtils$.mergeSchemasInParallel(SchemaMergeUtils.scala:70)
	at org.apache.spark.sql.execution.datasources.parquet.ParquetFileFormat$.mergeSchemasInParallel(ParquetFileFormat.scala:527)
	at org.apache.spark.sql.execution.datasources.parquet.ParquetUtils$.inferSchema(ParquetUtils.scala:125)
	at org.apache.spark.sql.execution.datasources.parquet.ParquetFileFormat.inferSchema(ParquetFileFormat.scala:168)
	at org.apache.spark.sql.execution.datasources.DataSource.$anonfun$getOrInferFileFormatSchema$11(DataSource.scala:210)
	at scala.Option.orElse(Option.scala:447)
	at org.apache.spark.sql.execution.datasources.DataSource.getOrInferFileFormatSchema(DataSource.scala:207)
	at org.apache.spark.sql.execution.datasources.DataSource.resolveRelation(DataSource.scala:411)
	at org.apache.spark.sql.DataFrameReader.loadV1Source(DataFrameReader.scala:228)
	at org.apache.spark.sql.DataFrameReader.$anonfun$load$2(DataFrameReader.scala:210)
	at scala.Option.getOrElse(Option.scala:189)
	at org.apache.spark.sql.DataFrameReader.load(DataFrameReader.scala:210)
	at org.apache.spark.sql.DataFrameReader.load(DataFrameReader.scala:185)
	at java.base/jdk.internal.reflect.DirectMethodHandleAccessor.invoke(DirectMethodHandleAccessor.java:104)
	at java.base/java.lang.reflect.Method.invoke(Method.java:577)
	at py4j.reflection.MethodInvoker.invoke(MethodInvoker.java:244)
	at py4j.reflection.ReflectionEngine.invoke(ReflectionEngine.java:357)
	at py4j.Gateway.invoke(Gateway.java:282)
	at py4j.commands.AbstractCommand.invokeMethod(AbstractCommand.java:132)
	at py4j.commands.CallCommand.execute(CallCommand.java:79)
	at py4j.ClientServerConnection.waitForCommands(ClientServerConnection.java:182)
	at py4j.ClientServerConnection.run(ClientServerConnection.java:106)
	at java.base/java.lang.Thread.run(Thread.java:833)
Caused by: org.apache.spark.SparkException: Exception thrown in awaitResult:
	at org.apache.spark.util.ThreadUtils$.awaitResult(ThreadUtils.scala:301)
	at org.apache.spark.util.ThreadUtils$.parmap(ThreadUtils.scala:375)
	at org.apache.spark.sql.execution.datasources.parquet.ParquetFileFormat$.readParquetFootersInParallel(ParquetFileFormat.scala:477)
	at org.apache.spark.sql.execution.datasources.parquet.ParquetFileFormat$.$anonfun$mergeSchemasInParallel$1(ParquetFileFormat.scala:523)
	at org.apache.spark.sql.execution.datasources.parquet.ParquetFileFormat$.$anonfun$mergeSchemasInParallel$1$adapted(ParquetFileFormat.scala:517)
	at org.apache.spark.sql.execution.datasources.SchemaMergeUtils$.$anonfun$mergeSchemasInParallel$2(SchemaMergeUtils.scala:76)
	at org.apache.spark.rdd.RDD.$anonfun$mapPartitions$2(RDD.scala:855)
	at org.apache.spark.rdd.RDD.$anonfun$mapPartitions$2$adapted(RDD.scala:855)
	at org.apache.spark.rdd.MapPartitionsRDD.compute(MapPartitionsRDD.scala:52)
	at org.apache.spark.rdd.RDD.computeOrReadCheckpoint(RDD.scala:365)
	at org.apache.spark.rdd.RDD.iterator(RDD.scala:329)
	at org.apache.spark.scheduler.ResultTask.runTask(ResultTask.scala:90)
	at org.apache.spark.scheduler.Task.run(Task.scala:136)
	at org.apache.spark.executor.Executor$TaskRunner.$anonfun$run$3(Executor.scala:548)
	at org.apache.spark.util.Utils$.tryWithSafeFinally(Utils.scala:1504)
	at org.apache.spark.executor.Executor$TaskRunner.run(Executor.scala:551)
	at java.base/java.util.concurrent.ThreadPoolExecutor.runWorker(ThreadPoolExecutor.java:1136)
	at java.base/java.util.concurrent.ThreadPoolExecutor$Worker.run(ThreadPoolExecutor.java:635)
	... 1 more
Caused by: java.io.IOException: Could not read footer for file: FileStatus{path=file:/Users/aantolinez/Downloads/personas.csv; isDirectory=false; length=200; replication=0; blocksize=0; modification_time=0; access_time=0; owner=; group=; permission=rw-rw-rw-; isSymlink=false; hasAcl=false; isEncrypted=false; isErasureCoded=false}
	at org.apache.spark.sql.errors.QueryExecutionErrors$.cannotReadFooterForFileError(QueryExecutionErrors.scala:864)
	at org.apache.spark.sql.execution.datasources.parquet.ParquetFileFormat$.$anonfun$readParquetFootersInParallel$1(ParquetFileFormat.scala:490)
	at org.apache.spark.util.ThreadUtils$.$anonfun$parmap$2(ThreadUtils.scala:372)
	at scala.concurrent.Future$.$anonfun$apply$1(Future.scala:659)
	at scala.util.Success.$anonfun$map$1(Try.scala:255)
	at scala.util.Success.map(Try.scala:213)
	at scala.concurrent.Future.$anonfun$map$1(Future.scala:292)
	at scala.concurrent.impl.Promise.liftedTree1$1(Promise.scala:33)
	at scala.concurrent.impl.Promise.$anonfun$transform$1(Promise.scala:33)
	at scala.concurrent.impl.CallbackRunnable.run(Promise.scala:64)
	at java.base/java.util.concurrent.ForkJoinTask$RunnableExecuteAction.exec(ForkJoinTask.java:1395)
	at java.base/java.util.concurrent.ForkJoinTask.doExec(ForkJoinTask.java:373)
	at java.base/java.util.concurrent.ForkJoinPool$WorkQueue.topLevelExec(ForkJoinPool.java:1182)
	at java.base/java.util.concurrent.ForkJoinPool.scan(ForkJoinPool.java:1655)
	at java.base/java.util.concurrent.ForkJoinPool.runWorker(ForkJoinPool.java:1622)
	at java.base/java.util.concurrent.ForkJoinWorkerThread.run(ForkJoinWorkerThread.java:165)
Caused by: java.lang.RuntimeException: file:/Users/aantolinez/Downloads/personas.csv is not a Parquet file. Expected magic number at tail, but found [48, 44, 70, 10]
	at org.apache.parquet.hadoop.ParquetFileReader.readFooter(ParquetFileReader.java:556)
	at org.apache.parquet.hadoop.ParquetFileReader.<init>(ParquetFileReader.java:776)
	at org.apache.parquet.hadoop.ParquetFileReader.open(ParquetFileReader.java:657)
	at org.apache.spark.sql.execution.datasources.parquet.ParquetFooterReader.readFooter(ParquetFooterReader.java:53)
	at org.apache.spark.sql.execution.datasources.parquet.ParquetFooterReader.readFooter(ParquetFooterReader.java:44)
	at org.apache.spark.sql.execution.datasources.parquet.ParquetFileFormat$.$anonfun$readParquetFootersInParallel$1(ParquetFileFormat.scala:484)
	... 14 more

In [12]:
personasDF = spark.read.load("/Users/aantolinez/Downloads/personas.parquet")
personasDF.show(1)

+------+---------------+----------------+----+----+
|Nombre|Primer_Apellido|Segundo_Apellido|Edad|Sexo|
+------+---------------+----------------+----+----+
|Miguel|   de Cervantes|        Saavedra|  50|   M|
+------+---------------+----------------+----+----+
only showing top 1 row

**Querying Files Using SQL language**

In [15]:
spark.sql("SELECT * FROM parquet.`/Users/aantolinez/Downloads/personas.parquet`").show()

+--------+-----------------+-------------------+----+----+
|  Nombre|  Primer_Apellido|   Segundo_Apellido|Edad|Sexo|
+--------+-----------------+-------------------+----+----+
|  Miguel|     de Cervantes|           Saavedra|  50|   M|
|Fancisco|          Quevedo|Santibáñez Villegas|  55|   M|
|    Luis|       de Góngora|           y Argote|  65|   M|
|  Teresa|Sánchez de Cepeda|          y Ahumada|  70|   F|
+--------+-----------------+-------------------+----+----+

**Modification Time Path Filters**
* https://spark.apache.org/docs/latest/sql-data-sources-generic-options.html#recursive-file-lookup

In [17]:
modifiedAfterDF = spark.read.format("csv") \
  .option("header", "true") \
  .option("modifiedAfter", "2022-10-30T05:30:00") \
  .load("/Users/aantolinez/Downloads/Hands-On-Spark3");

modifiedAfterDF.show();

+--------+-----------------+-------------------+----+----+
|  Nombre|  Primer_Apellido|   Segundo_Apellido|Edad|Sexo|
+--------+-----------------+-------------------+----+----+
|  Miguel|     de Cervantes|           Saavedra|  50|   M|
|Fancisco|          Quevedo|Santibáñez Villegas|  55|   M|
|    Luis|       de Góngora|           y Argote|  65|   M|
|  Teresa|Sánchez de Cepeda|          y Ahumada|  70|   F|
+--------+-----------------+-------------------+----+----+

In [22]:
from pyspark.sql.types import StructField, StringType, StructType, IntegerType

schemaWriters = StructType([ 
    StructField("Name",StringType(),True), 
    StructField("Surname",StringType(),True), 
    StructField("Century",StringType(),True), 
    StructField("YearOfBirth", IntegerType(), True) 
  ])

SpanishWritersDf = spark.read.option("header", "true") \
    .schema(schemaWriters) \
    .csv("/Users/aantolinez/Downloads/Spanish_Writers_by_Century.csv")

In [24]:
SpanishWritersDf.show()

+---------+---------------+-------+-----------+
|     Name|        Surname|Century|YearOfBirth|
+---------+---------------+-------+-----------+
|  Gonzalo|      de Berceo|   XIII|       1196|
|    Juan |           Ruiz|    XIV|       1283|
| Fernando|       de Rojas|     XV|       1465|
|Garcilaso|     de la Vega|    XVI|       1539|
|   Miguel|   de Cervantes|    XVI|       1547|
|Francisco|     de Quevedo|    XVI|       1580|
|     Luis|     de Góngora|    XVI|       1561|
|     Lope|        de Vega|    XVI|       1562|
|    Tirso|      de Molina|    XVI|       1583|
| Calderón|    de la Barca|   XVII|       1600|
|   Adolfo|        Bécquer|    XIX|       1836|
|   Benito|   Pérez Galdós|    XIX|       1843|
|   Emilia|    Pardo Bazán|    XIX|       1851|
|     José|Ortega y Gasset|     XX|       1883|
+---------+---------------+-------+-----------+

In [23]:
SpanishWritersDf.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Surname: string (nullable = true)
 |-- Century: string (nullable = true)
 |-- YearOfBirth: integer (nullable = true)

In [26]:
# Saving data with default compression codec: snappy
SpanishWritersDf.write.parquet("/Users/aantolinez/Downloads/Spanish_Writers_by_Century.parquet")

AnalysisException: path file:/Users/aantolinez/Downloads/Spanish_Writers_by_Century.parquet already exists.

In [ ]:
# Saving data with gzip compression codec
SpanishWritersDf.write.mode("append").option("compression", "gzip").parquet("/Users/aantolinez/Downloads/Spanish_Writers_by_Century.parquet")

In [29]:
parquetDF = spark.read.parquet("/Users/aantolinez/Downloads/Spanish_Writers_by_Century.parquet")

parquetDF.createOrReplaceTempView("TempTable")

sqlDf = spark.sql("select * from TempTable where YearOfBirth = 1600")

sqlDf.show()

+--------+-----------+-------+-----------+
|    Name|    Surname|Century|YearOfBirth|
+--------+-----------+-------+-----------+
|Calderón|de la Barca|   XVII|       1600|
+--------+-----------+-------+-----------+

**Parquet File Partitioning**

In [32]:
from pyspark.sql.types import StructField, StringType, StructType, IntegerType

schemaWriters = StructType([ 
    StructField("Name",StringType(),True), 
    StructField("Surname",StringType(),True), 
    StructField("Century",StringType(),True), 
    StructField("YearOfBirth", IntegerType(),True),
    StructField("Gender",StringType(),True),
  ])

SpanishWritersDf = spark.read.option("header", "true") \
    .schema(schemaWriters) \
    .csv("/Users/aantolinez/Downloads/Spanish_Writers_by_Gender.csv")

In [33]:
SpanishWritersDf.show(5, False)

+---------+------------+-------+-----------+------+
|Name     |Surname     |Century|YearOfBirth|Gender|
+---------+------------+-------+-----------+------+
|Gonzalo  |de Berceo   |XIII   |1196       |M     |
|Juan     |Ruiz        |XIV    |1283       |M     |
|Fernando |de Rojas    |XV     |1465       |M     |
|Garcilaso|de la Vega  |XVI    |1539       |M     |
|Miguel   |de Cervantes|XVI    |1547       |M     |
+---------+------------+-------+-----------+------+
only showing top 5 rows

In [34]:
SpanishWritersDf.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Surname: string (nullable = true)
 |-- Century: string (nullable = true)
 |-- YearOfBirth: integer (nullable = true)
 |-- Gender: string (nullable = true)

In [ ]:
SpanishWritersDf.write.partitionBy("Century","Gender") \
    .parquet("/Users/aantolinez/Downloads/Spanish_Writers_by_Gender.parquet")

**Reading Parquet File Partitions**

In [36]:
partitionDF = spark.read.parquet("/Users/aantolinez/Downloads/Spanish_Writers_by_Gender.parquet/Century=XX")

partitionDF.show()

+----+---------------+-----------+------+
|Name|        Surname|YearOfBirth|Gender|
+----+---------------+-----------+------+
|José|Ortega y Gasset|       1883|     M|
+----+---------------+-----------+------+

**Spark JSON Read and Write operations**

*Spark Read JSON File into DataFrame*

In [3]:
jsonDf = spark.read.json("/Users/aantolinez/Downloads/Spaniards.json")

In [4]:
jsonDf.printSchema()

root
 |-- country: string (nullable = true)
 |-- email: string (nullable = true)
 |-- first_name: string (nullable = true)
 |-- id: long (nullable = true)
 |-- last_name: string (nullable = true)
 |-- registered: boolean (nullable = true)
 |-- updated: string (nullable = true)

In [ ]:
multilineJsonDf = spark.read.option("multiline","true") \
.json("/Users/aantolinez/Downloads/Spaniards_array.json")

In [9]:
multilineJsonDf.show()

+-------+-------------------+----------+---+---------+----------+----------+
|country|              email|first_name| id|last_name|registered|   updated|
+-------+-------------------+----------+---+---------+----------+----------+
|  Spain| luis.ortiz@mapy.cz|      Luis|  1|    Ortiz|     false|2015-05-16|
|  Spain| aantolinez@optc.es|   Alfonso|  2|Antolinez|      true|2015-03-11|
|  Spain|     jdomin@xyz.org|      Juan|  3|Dominguez|      true|2015-02-15|
|  Spain|ssanchez@google.com|  Santiago|  4|  Sanchez|     false|2014-10-31|
+-------+-------------------+----------+---+---------+----------+----------+

**Reading Multiple JSON Files at Once**

In [12]:
# Loading a multiline JSON strings file into a dataframe at once

multipleJsonsDf = spark.read.option("multiline","true") \
.json(["/Users/aantolinez/Downloads/Spaniards_array.json", \
      "/Users/aantolinez/Downloads/Spaniards_array2.json"])

In [15]:
multipleJsonsDf.show(10,False)

+-------+-------------------+----------+---+---------+----------+----------+
|country|email              |first_name|id |last_name|registered|updated   |
+-------+-------------------+----------+---+---------+----------+----------+
|Spain  |luis.ortiz@mapy.cz |Luis      |1  |Ortiz    |false     |2015-05-16|
|Spain  |aantolinez@optc.es |Alfonso   |2  |Antolinez|true      |2015-03-11|
|Spain  |jdomin@xyz.org     |Juan      |3  |Dominguez|true      |2015-02-15|
|Spain  |ssanchez@google.com|Santiago  |4  |Sanchez  |false     |2014-10-31|
|Spain  |luis.herrera@xyz.es|Luis      |1  |Herrera  |false     |2015-05-15|
|Spain  |mabad@opti.es      |Marcos    |2  |Abad     |true      |2015-03-21|
|Spain  |jabalos@redis.org  |Juan      |3  |Abalos   |true      |2015-02-14|
|Spain  |samo@terra.es      |Santiago  |4  |Amo      |false     |2014-10-21|
+-------+-------------------+----------+---+---------+----------+----------+

**Reading JSON Files Based On Patterns At Once**

In [16]:
patternJsonsDf = spark.read.option("multiline","true").json(
    "/Users/aantolinez/Downloads/Spaniards_array*.json")

In [17]:
patternJsonsDf.show(20, False)

+-------+-------------------------+----------+---+---------+----------+----------+
|country|email                    |first_name|id |last_name|registered|updated   |
+-------+-------------------------+----------+---+---------+----------+----------+
|Spain  |luis.garcia@xyz.es       |Lucia     |9  |Garcia   |true      |2015-05-15|
|Spain  |maria.rodriguez@opti.es  |Maria     |10 |Rodriguez|true      |2015-03-21|
|Spain  |carmen.gonzalez@redis.org|Carmen    |11 |Gonzalez |true      |2015-02-14|
|Spain  |sara.fernandez@terra.es  |Sara      |12 |Fernandez|true      |2014-10-21|
|Spain  |luis.ortiz@mapy.cz       |Luis      |1  |Ortiz    |false     |2015-05-16|
|Spain  |aantolinez@optc.es       |Alfonso   |2  |Antolinez|true      |2015-03-11|
|Spain  |jdomin@xyz.org           |Juan      |3  |Dominguez|true      |2015-02-15|
|Spain  |ssanchez@google.com      |Santiago  |4  |Sanchez  |false     |2014-10-31|
|Spain  |luis.herrera@xyz.es      |Luis      |1  |Herrera  |false     |2015-05-15|
|Spain  |mabad@opti.es            |Marcos    |2  |Abad     |true      |2015-03-21|
|Spain  |jabalos@redis.org        |Juan      |3  |Abalos   |true      |2015-02-14|
|Spain  |samo@terra.es            |Santiago  |4  |Amo      |false     |2014-10-21|
+-------+-------------------------+----------+---+---------+----------+----------+

In [ ]:
# Reading all the JSON files from a directory and only JSON files.

patternJsonsDf = spark.read.option("multiline","true").json(
    "/Users/aantolinez/Downloads/*.json")

In [ ]:
# Reading ALL the files from a directory.

patternJsonsDf = spark.read.option("multiline","true").json(
    "/Users/aantolinez/Downloads/")

**Direct Queries on Parquet Files**

In [30]:
# spark.sql("CREATE OR REPLACE TEMPORARY VIEW zipcode USING json OPTIONS" + " (path 'resources/zipcodes.json')")

spark.sql("CREATE TEMPORARY VIEW Spaniards USING json OPTIONS" + 
      " (path '/Users/aantolinez/Downloads/Spaniards.json')")

DataFrame[]

In [31]:

spark.sql("select * from Spaniards").show(10, False)

+-------+-------------------+----------+---+---------+----------+----------+
|country|email              |first_name|id |last_name|registered|updated   |
+-------+-------------------+----------+---+---------+----------+----------+
|Spain  |luis.ortiz@mapy.cz |Luis      |1  |Ortiz    |false     |2015-05-16|
|Spain  |aantolinez@optc.es |Alfonso   |2  |Antolinez|true      |2015-03-11|
|Spain  |jdomin@xyz.org     |Juan      |3  |Dominguez|true      |2015-02-15|
|Spain  |ssanchez@google.com|Santiago  |4  |Sanchez  |false     |2014-10-31|
+-------+-------------------+----------+---+---------+----------+----------+

**Saving a DataFrame To JSON File**

In [ ]:
multipleJsonsDf.write
 .json("/Users/aantolinez/Downloads/Merged_Spaniards_array.json")

In [72]:
multipleJsonsDf.write.mode("append").json("/Users/aantolinez/Downloads/Merged_Spaniards_array.json")

**Load JSON Files Based On Customized Schemas**

In [67]:
from pyspark.sql.types import StructType,StructField,StringType,IntegerType,BooleanType,DateType

schemaSpaniards = StructType([ \
                              StructField("id",IntegerType(),nullable=True), \
                              StructField("first_name",StringType(),nullable=True), \
                              StructField("last_name",StringType(),nullable=True), \
                              StructField("email",StringType(),nullable=True), \
                              StructField("country",StringType(),nullable=True), \
                              StructField("updated",DateType(),nullable=True), \
                              StructField("registered",BooleanType(),nullable=True) \
                             ])

In [68]:
schemaSpaniardsDf = spark.read.schema(schemaSpaniards).json("/Users/aantolinez/Downloads/Spaniards.json")

In [69]:
schemaSpaniardsDf.printSchema()

root
 |-- id: integer (nullable = true)
 |-- first_name: string (nullable = true)
 |-- last_name: string (nullable = true)
 |-- email: string (nullable = true)
 |-- country: string (nullable = true)
 |-- updated: date (nullable = true)
 |-- registered: boolean (nullable = true)

In [70]:
schemaSpaniardsDf.show(4, False)

+---+----------+---------+-------------------+-------+----------+----------+
|id |first_name|last_name|email              |country|updated   |registered|
+---+----------+---------+-------------------+-------+----------+----------+
|1  |Luis      |Ortiz    |luis.ortiz@mapy.cz |Spain  |2015-05-16|false     |
|2  |Alfonso   |Antolinez|aantolinez@optc.es |Spain  |2015-03-11|true      |
|3  |Juan      |Dominguez|jdomin@xyz.org     |Spain  |2015-02-15|true      |
|4  |Santiago  |Sanchez  |ssanchez@google.com|Spain  |2014-10-31|false     |
+---+----------+---------+-------------------+-------+----------+----------+

**Chapter 4. Read and Write CSV Files with Spark**

In [4]:
# The default delimiter is "," for CSV files
PATH ="Downloads/Spanish_Writers_by_Century_II.csv"

df0 = spark.read.csv(PATH)
df0.show(5)

+--------------------+
|                 _c0|
+--------------------+
|Name;Surname;Cent...|
|Gonzalo;de Berceo...|
| Juan ;Ruiz;XIV;1283|
|Fernando;de Rojas...|
|Garcilaso;de la V...|
+--------------------+
only showing top 5 rows

**Chapter 4. Drop DataFrame column(s)**

* Deleting a single column: dataframe.drop("column name")
* Deleting multiple columns: dataframe.drop(*("column 1","column 2","column n"))
* Deleting all columns of dataframe: dataframe.drop(*list_of_column names)

In [4]:
dfWC=spark.read.option("header", "true").csv("file:///Users/aantolinez/Downloads/WorldCups.csv")

In [6]:
# The show() function without parameters displays 20 rows and truncates the text length to 20 characters by default.
dfWC.show(5)

+----+-----------+----------+--------------+-------+----------+-----------+--------------+-------------+----------+
|Year|    Country|    Winner|    Runners-Up|  Third|    Fourth|GoalsScored|QualifiedTeams|MatchesPlayed|Attendance|
+----+-----------+----------+--------------+-------+----------+-----------+--------------+-------------+----------+
|1930|    Uruguay|   Uruguay|     Argentina|    USA|Yugoslavia|         70|            13|           18|   590.549|
|1934|      Italy|     Italy|Czechoslovakia|Germany|   Austria|         70|            16|           17|   363.000|
|1938|     France|     Italy|       Hungary| Brazil|    Sweden|         84|            15|           18|   375.700|
|1950|     Brazil|   Uruguay|        Brazil| Sweden|     Spain|         88|            13|           22| 1.045.246|
|1954|Switzerland|Germany FR|       Hungary|Austria|   Uruguay|        140|            16|           26|   768.607|
+----+-----------+----------+--------------+-------+----------+-----------+--------------+-------------+----------+
only showing top 5 rows

In [9]:
from pyspark.sql import functions as F

dfWC.select("*").filter(F.col("Attendance") == "1.045.246").show()

+----+-------+-------+----------+------+------+-----------+--------------+-------------+----------+
|Year|Country| Winner|Runners-Up| Third|Fourth|GoalsScored|QualifiedTeams|MatchesPlayed|Attendance|
+----+-------+-------+----------+------+------+-----------+--------------+-------------+----------+
|1950| Brazil|Uruguay|    Brazil|Sweden| Spain|         88|            13|           22| 1.045.246|
+----+-------+-------+----------+------+------+-----------+--------------+-------------+----------+

In [13]:
# Applying transformations to the data in the Attendance column to transform it into numeric (I)

dfWC2=dfWC.select(F.regexp_replace("Attendance", "\\.", "").alias("Attendance"))
dfWC2.select("Attendance").show()

+----------+
|Attendance|
+----------+
|    590549|
|    363000|
|    375700|
|   1045246|
|    768607|
|    819810|
|    893172|
|   1563135|
|   1603975|
|   1865753|
|   1545791|
|   2109723|
|   2394031|
|   2516215|
|   3587538|
|   2785100|
|   2705197|
|   3359439|
|   3178856|
|   3386810|
+----------+

In [31]:
# Applying transformations to the data in the Attendance column to transform it into numeric (II)

# IMPORTANT
# Do not mix solutions (II) with (I) otherwise next won't work

dfWC2=dfWC.withColumn("Attendance", F.regexp_replace("Attendance", "\\.", ""))
dfWC2.select("Attendance").show()


# Use an alias to assign a new name to the returned column
#df.select(F.regexp_replace('name', 'le', 'LE').alias('new_name')).show()

+----------+
|Attendance|
+----------+
|    590549|
|    363000|
|    375700|
|   1045246|
|    768607|
|    819810|
|    893172|
|   1563135|
|   1603975|
|   1865753|
|   1545791|
|   2109723|
|   2394031|
|   2516215|
|   3587538|
|   2785100|
|   2705197|
|   3359439|
|   3178856|
|   3386810|
+----------+

In [34]:
# Ones the data format is ready, we can transform it to numeric, integer in this case
from pyspark.sql.types import IntegerType

dfWC3=dfWC2.withColumn("GoalsScored", F.col("GoalsScored").cast(IntegerType())) \
.withColumn("QualifiedTeams", F.col("QualifiedTeams").cast(IntegerType())) \
.withColumn("MatchesPlayed", F.col("MatchesPlayed").cast(IntegerType())) \
.withColumn("Attendance", F.col("Attendance").cast(IntegerType()))

dfWC3.printSchema()

root
 |-- Year: string (nullable = true)
 |-- Country: string (nullable = true)
 |-- Winner: string (nullable = true)
 |-- Runners-Up: string (nullable = true)
 |-- Third: string (nullable = true)
 |-- Fourth: string (nullable = true)
 |-- GoalsScored: integer (nullable = true)
 |-- QualifiedTeams: integer (nullable = true)
 |-- MatchesPlayed: integer (nullable = true)
 |-- Attendance: integer (nullable = true)

In [38]:
#Adding a new column to the DataFrame fans attendance per match played

from pyspark.sql.functions import round

dfWCExt=dfWC3.withColumn("AttendancePerMatch", round(F.col("Attendance").cast(IntegerType())/F.col("MatchesPlayed").cast(IntegerType()), 3))

dfWCExt.select("Attendance","MatchesPlayed","AttendancePerMatch").show(5)

+----------+-------------+------------------+
|Attendance|MatchesPlayed|AttendancePerMatch|
+----------+-------------+------------------+
|    590549|           18|         32808.278|
|    363000|           17|         21352.941|
|    375700|           18|         20872.222|
|   1045246|           22|         47511.182|
|    768607|           26|         29561.808|
+----------+-------------+------------------+
only showing top 5 rows

**Chapter 4. Renaming DataFrame Columns**

In [39]:
dfRenamed = dfWCExt.withColumnRenamed("AttendancePerMatch","AxMatch")
dfRenamed.select("Attendance", "MatchesPlayed","AxMatch").show(5)

+----------+-------------+---------+
|Attendance|MatchesPlayed|  AxMatch|
+----------+-------------+---------+
|    590549|           18|32808.278|
|    363000|           17|21352.941|
|    375700|           18|20872.222|
|   1045246|           22|47511.182|
|    768607|           26|29561.808|
+----------+-------------+---------+
only showing top 5 rows

In [41]:
#Renaming several columns at onces joining calls to withColumnRenamed()

dfRenamed2 = dfRenamed \
.withColumnRenamed("Attendance","Att") \
.withColumnRenamed("AxMatch","AttendancexMatch")

dfRenamed2.select("Att", "MatchesPlayed","AttendancexMatch").show(5)

+-------+-------------+----------------+
|    Att|MatchesPlayed|AttendancexMatch|
+-------+-------------+----------------+
| 590549|           18|       32808.278|
| 363000|           17|       21352.941|
| 375700|           18|       20872.222|
|1045246|           22|       47511.182|
| 768607|           26|       29561.808|
+-------+-------------+----------------+
only showing top 5 rows

**Chapter 4. Drop DataFrame column(s)**

* Deleting a single column: dataframe.drop("column name")
* Deleting multiple columns: dataframe.drop(*("column 1","column 2","column n"))
* Deleting all columns of dataframe: dataframe.drop(*list_of_column names)

In [43]:
dfFropOne = dfRenamed2.drop("AttendancexMatch")
dfFropOne.show(5)

+----+-----------+----------+--------------+-------+----------+-----------+--------------+-------------+-------+
|Year|    Country|    Winner|    Runners-Up|  Third|    Fourth|GoalsScored|QualifiedTeams|MatchesPlayed|    Att|
+----+-----------+----------+--------------+-------+----------+-----------+--------------+-------------+-------+
|1930|    Uruguay|   Uruguay|     Argentina|    USA|Yugoslavia|         70|            13|           18| 590549|
|1934|      Italy|     Italy|Czechoslovakia|Germany|   Austria|         70|            16|           17| 363000|
|1938|     France|     Italy|       Hungary| Brazil|    Sweden|         84|            15|           18| 375700|
|1950|     Brazil|   Uruguay|        Brazil| Sweden|     Spain|         88|            13|           22|1045246|
|1954|Switzerland|Germany FR|       Hungary|Austria|   Uruguay|        140|            16|           26| 768607|
+----+-----------+----------+--------------+-------+----------+-----------+--------------+-------------+-------+
only showing top 5 rows

In [44]:
dfFropTwo = dfRenamed2.drop(*("MatchesPlayed","AttendancexMatch"))
dfFropTwo.show(5)

+----+-----------+----------+--------------+-------+----------+-----------+--------------+-------+
|Year|    Country|    Winner|    Runners-Up|  Third|    Fourth|GoalsScored|QualifiedTeams|    Att|
+----+-----------+----------+--------------+-------+----------+-----------+--------------+-------+
|1930|    Uruguay|   Uruguay|     Argentina|    USA|Yugoslavia|         70|            13| 590549|
|1934|      Italy|     Italy|Czechoslovakia|Germany|   Austria|         70|            16| 363000|
|1938|     France|     Italy|       Hungary| Brazil|    Sweden|         84|            15| 375700|
|1950|     Brazil|   Uruguay|        Brazil| Sweden|     Spain|         88|            13|1045246|
|1954|Switzerland|Germany FR|       Hungary|Austria|   Uruguay|        140|            16| 768607|
+----+-----------+----------+--------------+-------+----------+-----------+--------------+-------+
only showing top 5 rows

In [45]:
allColumnsList = dfRenamed2.columns
dfFropAll = dfRenamed2.drop(*allColumnsList)
dfFropAll.show(2)

++
||
++
||
||
++
only showing top 2 rows

In [12]:
# ----------------- CUIDADO ---------------
# Este ejercicio usa dataframe, no RDD

emp = [(1,"Smith",-1,"2018","10","M",3000), \
    (2,"Rose",1,"2010","20","M",4000), \
    (3,"Williams",1,"2010","10","M",1000), \
    (4,"Jones",2,"2005","10","F",2000), \
    (5,"Brown",2,"2010","40","",-1), \
      (6,"Brown",2,"2010","50","",-1) \
  ]
empColumns = ["emp_id","name","superior_emp_id","year_joined", \
       "emp_dept_id","gender","salary"]

empDF = spark.createDataFrame(data=emp, schema = empColumns)
empDF.printSchema()
empDF.show(truncate=False)

dept = [("Finance",10), \
    ("Marketing",20), \
    ("Sales",30), \
    ("IT",40) \
  ]
deptColumns = ["dept_name","dept_id"]
deptDF = spark.createDataFrame(data=dept, schema = deptColumns)
deptDF.printSchema()
deptDF.show(truncate=False)

root
 |-- emp_id: long (nullable = true)
 |-- name: string (nullable = true)
 |-- superior_emp_id: long (nullable = true)
 |-- year_joined: string (nullable = true)
 |-- emp_dept_id: string (nullable = true)
 |-- gender: string (nullable = true)
 |-- salary: long (nullable = true)

+------+--------+---------------+-----------+-----------+------+------+
|emp_id|name    |superior_emp_id|year_joined|emp_dept_id|gender|salary|
+------+--------+---------------+-----------+-----------+------+------+
|1     |Smith   |-1             |2018       |10         |M     |3000  |
|2     |Rose    |1              |2010       |20         |M     |4000  |
|3     |Williams|1              |2010       |10         |M     |1000  |
|4     |Jones   |2              |2005       |10         |F     |2000  |
|5     |Brown   |2              |2010       |40         |      |-1    |
|6     |Brown   |2              |2010       |50         |      |-1    |
+------+--------+---------------+-----------+-----------+------+------+

root
 |-- dept_name: string (nullable = true)
 |-- dept_id: long (nullable = true)

+---------+-------+
|dept_name|dept_id|
+---------+-------+
|Finance  |10     |
|Marketing|20     |
|Sales    |30     |
|IT       |40     |
+---------+-------+

3. PySpark Inner Join DataFrame

In [13]:

empDF.join(deptDF,empDF.emp_dept_id ==  deptDF.dept_id,"inner") \
     .show(truncate=False)

+------+--------+---------------+-----------+-----------+------+------+---------+-------+
|emp_id|name    |superior_emp_id|year_joined|emp_dept_id|gender|salary|dept_name|dept_id|
+------+--------+---------------+-----------+-----------+------+------+---------+-------+
|1     |Smith   |-1             |2018       |10         |M     |3000  |Finance  |10     |
|3     |Williams|1              |2010       |10         |M     |1000  |Finance  |10     |
|4     |Jones   |2              |2005       |10         |F     |2000  |Finance  |10     |
|2     |Rose    |1              |2010       |20         |M     |4000  |Marketing|20     |
|5     |Brown   |2              |2010       |40         |      |-1    |IT       |40     |
+------+--------+---------------+-----------+-----------+------+------+---------+-------+

4. PySpark Full Outer Join

In [14]:

empDF.join(deptDF,empDF.emp_dept_id ==  deptDF.dept_id,"outer") \
    .show(truncate=False)
empDF.join(deptDF,empDF.emp_dept_id ==  deptDF.dept_id,"full") \
    .show(truncate=False)
empDF.join(deptDF,empDF.emp_dept_id ==  deptDF.dept_id,"fullouter") \
    .show(truncate=False)

+------+--------+---------------+-----------+-----------+------+------+---------+-------+
|emp_id|name    |superior_emp_id|year_joined|emp_dept_id|gender|salary|dept_name|dept_id|
+------+--------+---------------+-----------+-----------+------+------+---------+-------+
|1     |Smith   |-1             |2018       |10         |M     |3000  |Finance  |10     |
|3     |Williams|1              |2010       |10         |M     |1000  |Finance  |10     |
|4     |Jones   |2              |2005       |10         |F     |2000  |Finance  |10     |
|2     |Rose    |1              |2010       |20         |M     |4000  |Marketing|20     |
|null  |null    |null           |null       |null       |null  |null  |Sales    |30     |
|5     |Brown   |2              |2010       |40         |      |-1    |IT       |40     |
|6     |Brown   |2              |2010       |50         |      |-1    |null     |null   |
+------+--------+---------------+-----------+-----------+------+------+---------+-------+

+------+--------+---------------+-----------+-----------+------+------+---------+-------+
|emp_id|name    |superior_emp_id|year_joined|emp_dept_id|gender|salary|dept_name|dept_id|
+------+--------+---------------+-----------+-----------+------+------+---------+-------+
|1     |Smith   |-1             |2018       |10         |M     |3000  |Finance  |10     |
|3     |Williams|1              |2010       |10         |M     |1000  |Finance  |10     |
|4     |Jones   |2              |2005       |10         |F     |2000  |Finance  |10     |
|2     |Rose    |1              |2010       |20         |M     |4000  |Marketing|20     |
|null  |null    |null           |null       |null       |null  |null  |Sales    |30     |
|5     |Brown   |2              |2010       |40         |      |-1    |IT       |40     |
|6     |Brown   |2              |2010       |50         |      |-1    |null     |null   |
+------+--------+---------------+-----------+-----------+------+------+---------+-------+

+------+--------+---------------+-----------+-----------+------+------+---------+-------+
|emp_id|name    |superior_emp_id|year_joined|emp_dept_id|gender|salary|dept_name|dept_id|
+------+--------+---------------+-----------+-----------+------+------+---------+-------+
|1     |Smith   |-1             |2018       |10         |M     |3000  |Finance  |10     |
|3     |Williams|1              |2010       |10         |M     |1000  |Finance  |10     |
|4     |Jones   |2              |2005       |10         |F     |2000  |Finance  |10     |
|2     |Rose    |1              |2010       |20         |M     |4000  |Marketing|20     |
|null  |null    |null           |null       |null       |null  |null  |Sales    |30     |
|5     |Brown   |2              |2010       |40         |      |-1    |IT       |40     |
|6     |Brown   |2              |2010       |50         |      |-1    |null     |null   |
+------+--------+---------------+-----------+-----------+------+------+---------+-------+