In [ ]:
// import org.apache.spark.sql.SparkSession

Intitializing Scala interpreter ...

Spark Web UI available at http://192.168.0.14:4043
SparkContext available as 'sc' (version = 3.3.0, master = local[*], app id = local-1666128146808)
SparkSession available as 'spark'

import org.apache.spark.sql.SparkSession

In [ ]:
import org.apache.spark.sql.SparkSession

val spark = SparkSession.builder()
   .appName("Hands-On Spark 3")
   .master("local[*]")
   .config("spark.memory.offHeap.enabled",true)
   .config("spark.executor.memory", "4g")
   .config("spark.driver.cores", "4")
   .config("spark.executor.cores", "2")
   .config("spark.driver.memory","2g")
   .getOrCreate()

Intitializing Scala interpreter ...

Spark Web UI available at http://192.168.0.14:4041
SparkContext available as 'sc' (version = 3.3.0, master = local[*], app id = local-1670349031543)
SparkSession available as 'spark'

22/12/06 18:50:34 WARN SparkSession: Using an existing Spark session; only runtime SQL configurations will take effect.

import org.apache.spark.sql.SparkSession
spark: org.apache.spark.sql.SparkSession = org.apache.spark.sql.SparkSession@4389c820

In [ ]:
sc.setLogLevel("ERROR")

In [ ]:
val rdd = spark.sparkContext.parallelize(
      List("Apple Orange Banana","Banana Orange Kiwi","Orange Mango Papaya China")
    )

In [ ]:
 val wordsRdd = rdd.flatMap(_.split(" "))
 val pairRDD = wordsRdd.map(f=>(f,1))
 pairRDD.foreach(println)

(Orange,1)
(Mango,1)
(Papaya,1)
(China,1)
(Banana,1)
(Orange,1)
(Kiwi,1)
(Apple,1)
(Orange,1)
(Banana,1)

wordsRdd: org.apache.spark.rdd.RDD[String] = MapPartitionsRDD[1] at flatMap at <console>:25
pairRDD: org.apache.spark.rdd.RDD[(String, Int)] = MapPartitionsRDD[2] at map at <console>:26

In [ ]:
//distinct – Returns distinct keys.


pairRDD.distinct().foreach(println)

(Russia,1)
(India,1)
(USA,1)
(Germany,1)
(China,1)
(Canada,1)
(Brazil,1)

In [ ]:
//sortByKey – Transformation returns an RDD after sorting by key

val sortRDD = pairRDD.sortByKey()

sortRDD.foreach(println)

Sort by Key ==>
(India,1)
(India,1)
(India,1)
(Canada,1)
(Brazil,1)
(Russia,1)
(China,1)
(USA,1)
(Germany,1)
(USA,1)

sortRDD: org.apache.spark.rdd.RDD[(String, Int)] = ShuffledRDD[8] at sortByKey at <console>:29

In [ ]:
// Example data sets
USD flag	US Dollar	Dollar	$	USD	United States
EUR flag	Euro	Euro	€	EUR	European Union
GBP flag	Pound sterling	Pound	£	GBP	United Kingdom
AUD flag	Australian dollar	Dollar	A$	AUD	Australia
CAD flag	Canadian dollar	Dollar	C$	CAD	Canada
CHF flag	Swiss franc	Franc	Fr	CHF	Switzerland
CNY flag	Chinese Renminbi	Yuan	¥	CNY	China
JPY flag	Japanese yen	Yen	¥	JPY	Japan
HKD flag	Hong Kong dollar	Dollar	$	HKD	Hong Kong SAR China
NZD flag	New Zealand dollar	Dollar	$	NZD	New Zealand
KRW flag	Korean won	Won	₩	KRW	South Korea
SEK flag	Swedish krona	Krona	kr	SEK	Sweden
MXN flag	Mexican peso	Peso	$	MXN	Mexico
INR flag	Indian rupee	Rupee	₹	INR	India
RUB flag	Russian ruble	Ruble	₽	RUB	Russia

In [ ]:

val currencyListRdd = spark.sparkContext.parallelize(
    List("USD;Euro;GBP;CHF","CHF;JPY;CNY;KRW","CNY;KRW;Euro;USD","CAD;NZD;SEK;MXN")
)

currencyListRdd: org.apache.spark.rdd.RDD[String] = ParallelCollectionRDD[1] at parallelize at <console>:25

In [ ]:
val currenciesRdd = currencyListRdd.flatMap(_.split(";"))

currenciesRdd: org.apache.spark.rdd.RDD[String] = MapPartitionsRDD[4] at flatMap at <console>:25

In [ ]:
val pairRDD = currenciesRdd.map(c=>(c,1))

pairRDD: org.apache.spark.rdd.RDD[(String, Int)] = MapPartitionsRDD[5] at map at <console>:25

In [ ]:
pairRDD.foreach(println)

(USD,1)
(Euro,1)
(GBP,1)
(CHF,1)
(CHF,1)
(JPY,1)
(CNY,1)
(KRW,1)
(CNY,1)
(KRW,1)
(Euro,1)
(USD,1)
(CAD,1)
(NZD,1)
(SEK,1)
(MXN,1)

In [ ]:
pairRDD.distinct().foreach(println)

(MXN,1)
(GBP,1)
(CHF,1)
(CNY,1)
(KRW,1)
(SEK,1)
(USD,1)
(JPY,1)
(Euro,1)
(NZD,1)
(CAD,1)

In [ ]:
//sortByKey – Transformation returns an RDD after sorting by key

pairRDD.sortByKey().foreach(println)

(KRW,1)
(KRW,1)
(CNY,1)
(CNY,1)
(GBP,1)
(NZD,1)
(JPY,1)
(MXN,1)
(Euro,1)
(Euro,1)
(SEK,1)
(USD,1)
(USD,1)
(CAD,1)
(CHF,1)
(CHF,1)

In [ ]:
// https://sparkbyexamples.com/apache-spark-rdd/spark-sortbykey-with-rdd-example/
val sortRDD = pairRDD.sortByKey(true)
sortRDD.foreach(println)

(JPY,1)
(GBP,1)
(KRW,1)
(KRW,1)
(SEK,1)
(USD,1)
(USD,1)
(NZD,1)
(CNY,1)
(CNY,1)
(MXN,1)
(Euro,1)
(Euro,1)
(CAD,1)
(CHF,1)
(CHF,1)

sortRDD: org.apache.spark.rdd.RDD[(String, Int)] = ShuffledRDD[67] at sortByKey at <console>:27

In [ ]:
// https://stackoverflow.com/questions/23838614/how-to-sort-an-rdd-in-scala-spark
// rdd.takeOrdered(10)

// In ascending order:
val sortRDD = pairRDD.sortByKey().takeOrdered(10)
sortRDD.foreach(println)

(CAD,1)
(CHF,1)
(CHF,1)
(CNY,1)
(CNY,1)
(Euro,1)
(Euro,1)
(GBP,1)
(JPY,1)
(KRW,1)

sortRDD: Array[(String, Int)] = Array((CAD,1), (CHF,1), (CHF,1), (CNY,1), (CNY,1), (Euro,1), (Euro,1), (GBP,1), (JPY,1), (KRW,1))

In [ ]:
// In descending order:

val sortRDD = pairRDD.sortByKey().takeOrdered(10, lambda (k, v): -v)
sortRDD.foreach(println)

<console>: 4: error: identifier expected but ')' found.

In [ ]:
val forexCount = pairRDD.reduceByKey((k,v)=>k+v)
wordCount.foreach(println)

(CAD,1)
(CHF,2)
(GBP,1)
(SEK,1)
(JPY,1)
(MXN,1)
(Euro,2)
(KRW,2)
(CNY,2)
(NZD,1)
(USD,2)

forexCount: org.apache.spark.rdd.RDD[(String, Int)] = ShuffledRDD[69] at reduceByKey at <console>:26

In [ ]:
val forexCount = pairRDD.reduceByKey(_ + _)
wordCount.foreach(println)

(CHF,2)
(Euro,2)
(GBP,1)
(KRW,2)
(CAD,1)
(NZD,1)
(USD,2)
(CNY,2)
(SEK,1)
(JPY,1)
(MXN,1)

forexCount: org.apache.spark.rdd.RDD[(String, Int)] = ShuffledRDD[70] at reduceByKey at <console>:26

In [ ]:
val DonQuixoteRdd = spark.sparkContext.textFile("DonQuixote.txt")

DonQuixoteRdd: org.apache.spark.rdd.RDD[String] = DonQuixote.txt MapPartitionsRDD[232] at textFile at <console>:25

In [ ]:
DonQuixoteRdd.foreach(println)

saddle the hack as well as handle the bill-hook. The age of this
In a village of La Mancha, the name of which I have no desire to call
gentleman of ours was bordering on fifty; he was of a hardy habit,
spare, gaunt-featured, a very early riser and a great sportsman. They
to mind, there lived not long since one of those gentlemen that keep a
will have it his surname was Quixada or Quesada (for here there is some
lance in the lance-rack, an old buckler, a lean hack, and a greyhound
difference of opinion among the authors who write on the subject),
for coursing. An olla of rather more beef than mutton, a salad on most
although from reasonable conjectures it seems plain that he was called
nights, scraps on Saturdays, lentils on Fridays, and a pigeon or so
Quexana. This, however, is of but little importance to our tale; it
extra on Sundays, made away with three-quarters of his income. The rest
of it went in a doublet of fine cloth and velvet breeches and shoes to
match for holidays, while on week-days he made a brave figure in his
best homespun. He had in his house a housekeeper past forty, a niece
will be enough not to stray a hair’s breadth from the truth in the
telling of it.
under twenty, and a lad for the field and market-place, who used to

In [ ]:
val wordsDonQuixoteRdd = DonQuixoteRdd.flatMap(_.split(" "))

wordsDonQuixoteRdd: org.apache.spark.rdd.RDD[String] = MapPartitionsRDD[233] at flatMap at <console>:25

In [ ]:
wordsDonQuixoteRdd.foreach(println)

saddle
In
a
village
of
La
Mancha,
the
name
the
of
which
I
have
hack
no
desire
as
well
to
call
as
handle
the
to
mind,
bill-hook.
The
there
lived
age
of
not
long
this
since
one
of
those
gentlemen
gentleman
of
that
keep
ours
was
a
bordering
lance
in
on
fifty;
he
the
lance-rack,
was
of
a
hardy
an
old
habit,
buckler,
a
spare,
gaunt-featured,
lean
hack,
a
very
and
a
early
riser
greyhound
and
a
great
sportsman.
They
for
will
have
coursing.
An
olla
of
rather
more
beef
than
mutton,
a
salad
on
most
it
his
surname
was
Quixada
nights,
scraps
on
Saturdays,
lentils
on
Fridays,
and
a
pigeon
or
so
extra
on
Sundays,
made
or
Quesada
(for
here
away
there
is
some
with
three-quarters
of
his
difference
of
income.
The
rest
of
opinion
it
among
the
went
in
authors
who
write
on
the
subject),
although
from
reasonable
conjectures
it
seems
plain
that
he
was
called
a
doublet
of
fine
cloth
and
velvet
breeches
and
shoes
to
Quexana.
This,
match
for
however,
is
holidays,
while
on
week-days
he
made
a
brave
figure
in
his
best
homespun.
of
but
little
importance
He
had
to
our
in
his
tale;
it
house
a
housekeeper
past
forty,
a
niece
will
be
enough
not
to
stray
a
hair’s
breadth
from
under
twenty,
and
the
truth
a
lad
for
the
field
and
market-place,
who
used
to
in
the
telling
of
it.

In [ ]:
val tupleDonQuixoteRdd = wordsDonQuixoteRdd.map(w => (w,1))

tupleDonQuixoteRdd: org.apache.spark.rdd.RDD[(String, Int)] = MapPartitionsRDD[74] at map at <console>:25

In [ ]:
tupleDonQuixoteRdd.foreach(println)

(saddle,1)
(In,1)
(the,1)
(hack,1)
(as,1)
(well,1)
(as,1)
(handle,1)
(the,1)
(bill-hook.,1)
(The,1)
(age,1)
(of,1)
(this,1)
(a,1)
(village,1)
(of,1)
(La,1)
(gentleman,1)
(of,1)
(ours,1)
(was,1)
(bordering,1)
(on,1)
(fifty;,1)
(he,1)
(was,1)
(of,1)
(a,1)
(hardy,1)
(habit,,1)
(Mancha,,1)
(the,1)
(name,1)
(spare,,1)
(gaunt-featured,,1)
(a,1)
(very,1)
(early,1)
(riser,1)
(and,1)
(a,1)
(great,1)
(sportsman.,1)
(They,1)
(of,1)
(which,1)
(I,1)
(have,1)
(will,1)
(have,1)
(it,1)
(his,1)
(surname,1)
(was,1)
(Quixada,1)
(or,1)
(Quesada,1)
((for,1)
(here,1)
(there,1)
(is,1)
(some,1)
(no,1)
(desire,1)
(to,1)
(call,1)
(difference,1)
(of,1)
(opinion,1)
(to,1)
(mind,,1)
(there,1)
(lived,1)
(not,1)
(long,1)
(since,1)
(one,1)
(among,1)
(of,1)
(the,1)
(authors,1)
(those,1)
(gentlemen,1)
(who,1)
(write,1)
(that,1)
(keep,1)
(on,1)
(the,1)
(subject),,1)
(a,1)
(although,1)
(from,1)
(lance,1)
(in,1)
(the,1)
(lance-rack,,1)
(an,1)
(old,1)
(reasonable,1)
(conjectures,1)
(buckler,,1)
(a,1)
(it,1)
(seems,1)
(lean,1)
(hack,,1)
(plain,1)
(that,1)
(and,1)
(a,1)
(he,1)
(was,1)
(greyhound,1)
(called,1)
(for,1)
(coursing.,1)
(An,1)
(olla,1)
(Quexana.,1)
(This,,1)
(of,1)
(however,,1)
(is,1)
(of,1)
(rather,1)
(more,1)
(beef,1)
(but,1)
(than,1)
(mutton,,1)
(little,1)
(importance,1)
(to,1)
(our,1)
(tale;,1)
(it,1)
(a,1)
(salad,1)
(on,1)
(most,1)
(nights,,1)
(scraps,1)
(on,1)
(Saturdays,,1)
(lentils,1)
(will,1)
(be,1)
(enough,1)
(on,1)
(Fridays,,1)
(and,1)
(not,1)
(a,1)
(pigeon,1)
(or,1)
(to,1)
(stray,1)
(a,1)
(hair’s,1)
(breadth,1)
(from,1)
(the,1)
(truth,1)
(in,1)
(the,1)
(so,1)
(telling,1)
(of,1)
(it.,1)
(extra,1)
(on,1)
(Sundays,,1)
(made,1)
(away,1)
(with,1)
(three-quarters,1)
(of,1)
(his,1)
(income.,1)
(The,1)
(rest,1)
(of,1)
(it,1)
(went,1)
(in,1)
(a,1)
(doublet,1)
(of,1)
(fine,1)
(cloth,1)
(and,1)
(velvet,1)
(breeches,1)
(and,1)
(shoes,1)
(to,1)
(match,1)
(for,1)
(holidays,,1)
(while,1)
(on,1)
(week-days,1)
(he,1)
(made,1)
(a,1)
(brave,1)
(figure,1)
(in,1)
(his,1)
(best,1)
(homespun.,1)
(He,1)
(had,1)
(in,1)
(his,1)
(house,1)
(a,1)
(housekeeper,1)
(past,1)
(forty,,1)
(a,1)
(niece,1)
(under,1)
(twenty,,1)
(and,1)
(a,1)
(lad,1)
(for,1)
(the,1)
(field,1)
(and,1)
(market-place,,1)
(who,1)
(used,1)
(to,1)

In [ ]:
val reduceByKeyDonQuixoteRdd = tupleDonQuixoteRdd.reduceByKey((a,b)=>a+b)

reduceByKeyDonQuixoteRdd: org.apache.spark.rdd.RDD[(String, Int)] = ShuffledRDD[75] at reduceByKey at <console>:25

In [ ]:
reduceByKeyDonQuixoteRdd.foreach(println)

(Quesada,1)
(went,1)
(under,1)
(call,1)
(this,1)
(hardy,1)
(long,1)
(authors,1)
(past,1)
(lean,1)
(Saturdays,,1)
(Fridays,,1)
(olla,1)
(have,2)
(scraps,1)
(plain,1)
(field,1)
(one,1)
(rather,1)
(with,1)
(extra,1)
(some,1)
(best,1)
(here,1)
(pigeon,1)
(house,1)
(importance,1)
(who,2)
(niece,1)
(buckler,,1)
(opinion,1)
(This,,1)
(week-days,1)
(They,1)
(coursing.,1)
(rest,1)
(gaunt-featured,,1)
(Mancha,,1)
(forty,,1)
(is,2)
(bordering,1)
(from,2)
(well,1)
(hair’s,1)
(three-quarters,1)
(habit,,1)
(little,1)
(his,4)
(market-place,,1)
(handle,1)
(among,1)
(housekeeper,1)
(fine,1)
(however,,1)
(away,1)
(enough,1)
(velvet,1)
(breadth,1)
(although,1)
(will,2)
(our,1)
(as,2)
(there,2)
(since,1)
(very,1)
(figure,1)
(cloth,1)
(beef,1)
(desire,1)
(so,1)
(brave,1)
(village,1)
(reasonable,1)
(mind,,1)
(lived,1)
(shoes,1)
(Quexana.,1)
(made,2)
(sportsman.,1)
(conjectures,1)
(it,4)
(The,2)
(than,1)
(lance-rack,,1)
(had,1)
(it.,1)
(on,7)
(old,1)
(hack,,1)
(truth,1)
(stray,1)
(while,1)
(twenty,,1)
(lentils,1)
(spare,,1)
(difference,1)
(he,3)
(in,5)
(salad,1)
(income.,1)
(tale;,1)
(which,1)
(In,1)
(those,1)
(for,3)
(used,1)
(great,1)
(surname,1)
(Sundays,,1)
(lance,1)
(riser,1)
(called,1)
(the,9)
(gentleman,1)
(ours,1)
(homespun.,1)
(greyhound,1)
(He,1)
(not,2)
(keep,1)
(doublet,1)
(bill-hook.,1)
(most,1)
(name,1)
(that,2)
(a,15)
(or,2)
(mutton,,1)
(be,1)
(was,4)
(match,1)
(no,1)
(saddle,1)
(I,1)
(to,6)
(breeches,1)
(more,1)
(of,13)
(Quixada,1)
(nights,,1)
(An,1)
(La,1)
(gentlemen,1)
(holidays,,1)
(age,1)
(hack,1)
(an,1)
(telling,1)
(but,1)
(and,7)
(subject),,1)
((for,1)
(early,1)
(write,1)
(fifty;,1)
(lad,1)
(seems,1)

In [ ]:
println("Count : "+reduceByKeyDonQuixoteRdd.count())

Count : 157

Saving a RDD to a text file

In [ ]:
reduceByKeyDonQuixoteRdd.saveAsTextFile("RDDDonQuixote")

22/09/27 03:31:27 WARN HeartbeatReceiver: Removing executor driver with no recent heartbeats: 971147 ms exceeds timeout 120000 ms
22/09/27 03:31:27 WARN SparkContext: Killing executors is not supported by current scheduler.

**How does Spark aggregate function - aggregateByKey work?**

In [ ]:
val pairs = sc.parallelize(Array(("a", 1), ("a", 3), ("b", 2), ("a", 5), ("b", 4), ("a", 7), ("b", 6)))

pairs: org.apache.spark.rdd.RDD[(String, Int)] = ParallelCollectionRDD[82] at parallelize at <console>:25

In [ ]:
// Now you want to "combine" them by key producing a sum. In this case reduceByKey and aggregateByKey are the same:

val outputReduceByKey = pairs.reduceByKey(_ + _) //the same operation for everything
outputReduceByKey.collect

outputReduceByKey: org.apache.spark.rdd.RDD[(String, Int)] = ShuffledRDD[87] at reduceByKey at <console>:28
res49: Array[(String, Int)] = Array((a,16), (b,12))

In [ ]:
//0 is initial value, _+_ inside partition, _+_ between partitions
val outputAggregateByKey = pairs.aggregateByKey(0)(_+_,_+_)
outputAggregateByKey.collect

outputAggregateByKey: org.apache.spark.rdd.RDD[(String, Int)] = ShuffledRDD[88] at aggregateByKey at <console>:27
res50: Array[(String, Int)] = Array((a,16), (b,12))

Now, imagine that you want the aggregation to be a Set of the values, that is a different type that the values, that are integers (the sum of integers is also integers):

In [ ]:
import scala.collection.mutable.HashSet
//the initial value is a void Set. Adding an element to a set is the first
//_+_ Join two sets is the  _++_
val outcomeSets = pairs.aggregateByKey(new HashSet[Int])(_+_, _++_)
outcomeSets.collect

import scala.collection.mutable.HashSet
outcomeSets: org.apache.spark.rdd.RDD[(String, scala.collection.mutable.HashSet[Int])] = ShuffledRDD[89] at aggregateByKey at <console>:28
res52: Array[(String, scala.collection.mutable.HashSet[Int])] = Array((a,Set(1, 5, 3, 7)), (b,Set(2, 6, 4)))

pyspark.RDD.foldByKey

In [ ]:
println("Partitions : "+pairs.getNumPartitions)

Partitions : 10

In [ ]:
pairs.foldByKey(0)(_+_).collect

res56: Array[(String, Int)] = Array((a,16), (b,12))

In [ ]:
pairs.foldByKey(1)(_+_).collect

res68: Array[(String, Int)] = Array((a,20), (b,15))

In [ ]:
pairs.foldByKey(2)(_+_).collect

res66: Array[(String, Int)] = Array((a,24), (b,18))

In [ ]:


def to_list(a):

    return [a]


def append(a, b):

    a.append(b)

    return a


def extend(a, b):

    a.extend(b)

    return a


pairs.combineByKey(to_list, append, extend).collect()

<console>: 2: error: ':' expected but ')' found.

Grouping of Data, groupByKey()

In [ ]:
val countriesDs = List("España", "Afghanistan", "Denmark", "Guatemala", "Kazakhstan").toDS
countriesDs.show

+-----------+
|      value|
+-----------+
|     España|
|Afghanistan|
|    Denmark|
|  Guatemala|
| Kazakhstan|
+-----------+

countriesDs: org.apache.spark.sql.Dataset[String] = [value: string]

In [ ]:
countriesDs.groupByKey(w => w.substring(0,3)).keys.show

+-----+
|value|
+-----+
|  Esp|
|  Afg|
|  Den|
|  Gua|
|  Kaz|
+-----+

In [ ]:
countriesDs.groupByKey(l => l.substring(0,3)).count.show

+---+--------+
|key|count(1)|
+---+--------+
|Esp|       1|
|Afg|       1|
|Den|       1|
|Gua|       1|
|Kaz|       1|
+---+--------+

In [ ]:
// Scala collection containing tuples Key-Value pairs
val countriesTuples = Seq(("España",1),("Kazakhstan",1), ("Denmark", 1),("España",1),("España",1),("Kazakhstan",1),("Kazakhstan",1))

// Converting the collection to a RDD.
val countriesDs = spark.sparkContext.parallelize(countriesTuples)

countriesTuples: Seq[(String, Int)] = List((España,1), (Kazakhstan,1), (Denmark,1), (España,1), (España,1), (Kazakhstan,1), (Kazakhstan,1))
countriesDs: org.apache.spark.rdd.RDD[(String, Int)] = ParallelCollectionRDD[37] at parallelize at <console>:29

In [ ]:
dataRDD.collect.foreach(println)

(España,1)
(Kazakhstan,1)
(Denmark,1)
(España,1)
(España,1)
(Kazakhstan,1)
(Kazakhstan,1)

After creating a pair RDD, we will collect all values corresponding to the same key using groupByKey method.

In [ ]:
// Applying transformation on Pair RDD.
val groupRDDByKey = dataRDD.groupByKey()

groupRDDByKey: org.apache.spark.rdd.RDD[(String, Iterable[Int])] = ShuffledRDD[34] at groupByKey at <console>:26

In [ ]:
groupRDDByKey.collect.foreach(println)

(España,CompactBuffer(1, 1, 1))
(Kazakhstan,CompactBuffer(1, 1, 1))
(Denmark,CompactBuffer(1))
22/10/08 00:53:05 WARN HeartbeatReceiver: Removing executor driver with no recent heartbeats: 939936 ms exceeds timeout 120000 ms
22/10/08 00:53:05 WARN SparkContext: Killing executors is not supported by current scheduler.

For example, we will sum all occurrences of an individual word. We will convert the CompactBuffer to a List as shown below.

In [ ]:

// Converting a CompactBuffer to a List to calculate the sum.
val countryCountRDD = groupRDDByKey.map(tuple => (tuple._1, tuple._2.toList.sum))

countryCountRDD.collect.foreach(println)

(España,3)
(Kazakhstan,3)
(Denmark,1)

countryCountRDD: org.apache.spark.rdd.RDD[(String, Int)] = MapPartitionsRDD[35] at map at <console>:26

Avoid GroupByKey

In [ ]:
val countriesList = List("España","Kazakhstan", "Denmark","España","España","Kazakhstan","Kazakhstan")

val countriesDs = spark.sparkContext.parallelize(countriesList)

countriesList: List[String] = List(España, Kazakhstan, Denmark, España, España, Kazakhstan, Kazakhstan)
countriesDs: org.apache.spark.rdd.RDD[String] = ParallelCollectionRDD[39] at parallelize at <console>:28

In [ ]:
val countryPairsRDD = sc.parallelize(countriesList).map(country => (country, 1))


val countryCountsWithReduce = countryPairsRDD
  .reduceByKey(_ + _)
  .collect()

val countryCountsWithGroup = countryPairsRDD
  .groupByKey()
  .map(t => (t._1, t._2.sum))
  .collect()

countryPairsRDD: org.apache.spark.rdd.RDD[(String, Int)] = MapPartitionsRDD[51] at map at <console>:27
countryCountsWithReduce: Array[(String, Int)] = Array((España,3), (Kazakhstan,3), (Denmark,1))
countryCountsWithGroup: Array[(String, Int)] = Array((España,3), (Kazakhstan,3), (Denmark,1))

Joins

In [ ]:

val rdd1 = sc.parallelize(Array(("PySpark",10),("Scala",15),("R",100)))
val rdd2 = sc.parallelize(Array(("Scala",11),("Scala",20),("PySpark",75), ("PySpark",35)))

val joinedRDD = rdd1.join(rdd2)

joinedRDD.foreach(println)

(Scala,(15,11))
(Scala,(15,20))
(PySpark,(10,75))
(PySpark,(10,35))

rdd1: org.apache.spark.rdd.RDD[(String, Int)] = ParallelCollectionRDD[86] at parallelize at <console>:28
rdd2: org.apache.spark.rdd.RDD[(String, Int)] = ParallelCollectionRDD[87] at parallelize at <console>:29
joinedRDD: org.apache.spark.rdd.RDD[(String, (Int, Int))] = MapPartitionsRDD[90] at join at <console>:31

In [ ]:
val innerJoinedRDD = rdd1.innerJoin(rdd2)

innerJoinedRDD.foreach(println)

<console>: 27: error: value innerJoin is not a member of org.apache.spark.rdd.RDD[(String, Int)]

In [ ]:
// val rdd1 = sc.parallelize(Array(("PySpark",10),("Scala",15),("R",100)))
// val rdd2 = sc.parallelize(Array(("Scala",11),("Scala",20),("PySpark",75), ("PySpark",35)))

val leftJoinedRDD = rdd1.leftOuterJoin(rdd2)

leftJoinedRDD.foreach(println)

(R,(100,None))
(Scala,(15,Some(11)))
(Scala,(15,Some(20)))
(PySpark,(10,Some(75)))
(PySpark,(10,Some(35)))

leftJoinedRDD: org.apache.spark.rdd.RDD[(String, (Int, Option[Int]))] = MapPartitionsRDD[96] at leftOuterJoin at <console>:26

In [ ]:
val leftJoinedRDD = rdd1.fullOuterJoin(rdd2)

leftJoinedRDD.foreach(println)

(R,(Some(100),None))
(Scala,(Some(15),Some(11)))
(PySpark,(Some(10),Some(75)))
(PySpark,(Some(10),Some(35)))
(Scala,(Some(15),Some(20)))

leftJoinedRDD: org.apache.spark.rdd.RDD[(String, (Option[Int], Option[Int]))] = MapPartitionsRDD[99] at fullOuterJoin at <console>:27

**Sorting Data**

In [ ]:
// val rdd1 = sc.parallelize(Array(("PySpark",10),("Scala",15),("R",100)))
// val rdd2 = sc.parallelize(Array(("Scala",11),("Scala",20),("PySpark",75), ("PySpark",35)))

rdd1.sortBy(_._2).foreach(println)

(Scala,15)
(R,100)
(PySpark,10)

In [ ]:
rdd2.sortBy(_._2).foreach(println)

(Scala,20)
(PySpark,35)
(Scala,11)
(PySpark,75)

In [ ]:
// val rdd1 = sc.parallelize(Array(("PySpark",10),("Scala",15),("R",100)))
// val rdd2 = sc.parallelize(Array(("Scala",11),("Scala",20),("PySpark",75), ("PySpark",35)))

rdd1.sortByKey(true).foreach(println)

(R,100)
(PySpark,10)
(Scala,15)

In [ ]:
val rdd3 = sc.parallelize(Array(("a",1), ("b",2), ("c",1), ("d",3)) )
rdd3.sortBy(_._2).foreach(println)

(b,2)
(d,3)
(a,1)
(c,1)

rdd3: org.apache.spark.rdd.RDD[(String, Int)] = ParallelCollectionRDD[196] at parallelize at <console>:26

In [ ]:
rdd1.sortByKey(false).foreach(println)

(PySpark,10)
(R,100)
(Scala,15)

In [ ]:
rdd1.sortBy(x => x._1).collect().foreach(println)
//rdd1.sortBy(x => x._2).collect().foreach(println)

(PySpark,10)
(R,100)
(Scala,15)

In [ ]:
rdd1.sortBy(x => x._2).collect().foreach(println)

(PySpark,10)
(Scala,15)
(R,100)

countByKey() method

In [ ]:
// val rdd2 = sc.parallelize(Array(("Scala",11),("Scala",20),("PySpark",75), ("PySpark",35)))
              
rdd2.countByKey()

res48: scala.collection.Map[String,Long] = Map(PySpark -> 2, Scala -> 2)

In [ ]:
rdd2.countByKey().foreach(println)

(PySpark,2)
(Scala,2)

In [ ]:
val elementsCount = rdd2.countByKey()
elementsCount.foreach(println)

(PySpark,2)
(Scala,2)

elementsCount: scala.collection.Map[String,Long] = Map(PySpark -> 2, Scala -> 2)

In [ ]:
// val ajay = elementsCount("Scala") 
// println(ajay)

2

ajay: Long = 2

In [ ]:
println(elementsCount("Scala"))

2

In [ ]:
println(elementsCount("SQL"))

java.util.NoSuchElementException:  key not found: SQL

**countByValue()**

RDD.countByValue() → Dict[K, int][source]

* Return the count of each unique value in this RDD as a dictionary of (value, count) pairs.

In [ ]:
println(rdd2.countByValue())
//Output:

Map((PySpark,35) -> 1, (Scala,11) -> 1, (Scala,20) -> 1, (PySpark,75) -> 1)

**RDD collectAsMap() method**
* PySpark RDD's collectAsMap(~) method collects all the elements of a pair RDD in the driver node and converts the RDD into a dictionary.

* NOTE. A pair RDD is a RDD that contains a list of tuples.
* Return Value. A dictionary.

In [ ]:
// val rdd1 = sc.parallelize(Array(("PySpark",10),("Scala",15),("R",100)))

rdd1.collectAsMap()

res62: scala.collection.Map[String,Int] = Map(R -> 100, Scala -> 15, PySpark -> 10)

In [ ]:
// val rdd2 = sc.parallelize(Array(("Scala",11),("Scala",20),("PySpark",75), ("PySpark",35)))

rdd2.collectAsMap() // Return (key,value) pairs as a dictionary

res63: scala.collection.Map[String,Int] = Map(Scala -> 20, PySpark -> 35)

**lookup(key)**
 
* It returns all values associated with the provided key.
rdd.lookup()

In [ ]:
// val rdd2 = sc.parallelize(Array(("Scala",11),("Scala",20),("PySpark",75), ("PySpark",35)))

rdd2.lookup("PySpark")

res66: Seq[Int] = WrappedArray(75, 35)

In [ ]:
rdd3 = sc.parallelize(range(100))
val result = rdd3.sum
//rdd3.sum() //Sum of RDD elements 4950
println(result)

<console>: 26: error: reassignment to val

**Broadcast variables in Spark, how and when to use them?**

In [ ]:
val bVariable = sc.broadcast(Array(1, 2, 3, 4, 5, 6, 7, 8, 9))

bVariable: org.apache.spark.broadcast.Broadcast[Array[Int]] = Broadcast(137)

In [ ]:
bVariable.value

res100: Array[Int] = Array(1, 2, 3, 4, 5, 6, 7, 8, 9)

**Accumulators**

**Accumulators**

In [ ]:
val acc = sc.longAccumulator("myAccumulator")

acc: org.apache.spark.util.LongAccumulator = LongAccumulator(id: 3707, name: Some(myAccumulator), value: 0)

In [ ]:
sc.parallelize(Array(1, 2, 3, 4, 5, 6, 7, 8, 9)).foreach(x => acc.add(x))

java.lang.InternalError:  java.lang.IllegalAccessException: final field has no write access: $Lambda$5982/0x0000000802117450.arg$1/putField, from class java.lang.Object (module java.base)

In [ ]:
acc.value

res106: Long = 0

In [ ]:
val accum = sc.longAccumulator("My Accumulator")

accum: org.apache.spark.util.LongAccumulator = LongAccumulator(id: 3709, name: Some(My Accumulator), value: 0)

In [ ]:
spark.sparkContext.parallelize(Array(1, 2, 3, 4)).foreach(x => accum.add(x))

java.lang.InternalError:  java.lang.IllegalAccessException: final field has no write access: $Lambda$6070/0x0000000802136060.arg$1/putField, from class java.lang.Object (module java.base)

In [ ]:
val multiplier = 0.25
val dataRDD = sc.parallelize(Array(1, 2, 3, 4, 5, 6, 7, 8, 9))

multiplier: Double = 0.25
dataRDD: org.apache.spark.rdd.RDD[Int] = ParallelCollectionRDD[257] at parallelize at <console>:26

In [ ]:
dataRDD.map(x => x * multiplier)

java.lang.InternalError:  java.lang.IllegalAccessException: final field has no write access: $Lambda$6122/0x0000000802160c38.arg$1/putField, from class java.lang.Object (module java.base)

**Datasets CHAPTER IV**

In [ ]:
// case class University(name: String, numStudents: Long, yearFounded: Long)

case class Personas(Nombre: String, Primer_Apellido: String, Segundo_Apellido: String, Edad: Int, Sexo:String)

defined class Personas

In [ ]:
// val schools = sqlContext.read.json("/schools.json").as[University]

val personas = spark.read.options("header",true).csv("/Users/aantolinez/Downloads/personas.csv").as[Personas]

<console>: 29: error: overloaded method value options with alternatives:

In [ ]:
val personas = spark.read.format("com.databricks.spark.csv")
    .option("header", "true")
    .option("inferSchema", "true")
    .load("/Users/aantolinez/Downloads/personas.csv")
    .as[Personas]

personas: org.apache.spark.sql.Dataset[Personas] = [Nombre: string, Primer_Apellido: string ... 3 more fields]

In [ ]:
personas.show()

+--------+-----------------+-------------------+----+----+
|  Nombre|  Primer_Apellido|   Segundo_Apellido|Edad|Sexo|
+--------+-----------------+-------------------+----+----+
|  Miguel|     de Cervantes|           Saavedra|  50|   M|
|Fancisco|          Quevedo|Santibáñez Villegas|  55|   M|
|    Luis|       de Góngora|           y Argote|  65|   M|
|  Teresa|Sánchez de Cepeda|          y Ahumada|  70|   F|
+--------+-----------------+-------------------+----+----+

In [ ]:
personas.printSchema()

root
 |-- Nombre: string (nullable = true)
 |-- Primer_Apellido: string (nullable = true)
 |-- Segundo_Apellido: string (nullable = true)
 |-- Edad: integer (nullable = true)
 |-- Sexo: string (nullable = true)

In [ ]:
val df_tmp = spark.read.format("com.databricks.spark.csv")
    .option("header", "true")
    .option("inferSchema", "true")
    .load("/Users/aantolinez/Downloads/personas.csv")

df_tmp: org.apache.spark.sql.DataFrame = [Nombre: string, Primer_Apellido: string ... 3 more fields]

In [ ]:
df_tmp.show()

+--------+-----------------+-------------------+----+----+
|  Nombre|  Primer_Apellido|   Segundo_Apellido|Edad|Sexo|
+--------+-----------------+-------------------+----+----+
|  Miguel|     de Cervantes|           Saavedra|  50|   M|
|Fancisco|          Quevedo|Santibáñez Villegas|  55|   M|
|    Luis|       de Góngora|           y Argote|  65|   M|
|  Teresa|Sánchez de Cepeda|          y Ahumada|  70|   F|
+--------+-----------------+-------------------+----+----+

In [ ]:
df_tmp.printSchema()

root
 |-- Nombre: string (nullable = true)
 |-- Primer_Apellido: string (nullable = true)
 |-- Segundo_Apellido: string (nullable = true)
 |-- Edad: integer (nullable = true)
 |-- Sexo: string (nullable = true)

In [ ]:
val textRDD = sc.textFile("/Users/aantolinez/Downloads/personas.csv")

textRDD: org.apache.spark.rdd.RDD[String] = /Users/aantolinez/Downloads/personas.csv MapPartitionsRDD[55] at textFile at <console>:25

In [ ]:
textRDD.foreach(println)

Nombre,Primer_Apellido,Segundo_Apellido,Edad,Sexo
Miguel,de Cervantes,Saavedra,50,M
Fancisco,Quevedo,Santibáñez Villegas,55,M
Luis,de Góngora,y Argote,65,M
Teresa,Sánchez de Cepeda,y Ahumada,70,F

In [ ]:
val empDF= spark.read.format("csv").option("header", "true").option("inferSchema", "true").load("/Users/aantolinez/Downloads/personas.csv")

empDF: org.apache.spark.sql.DataFrame = [Nombre: string, Primer_Apellido: string ... 3 more fields]

In [ ]:
empDF.show()

+--------+-----------------+-------------------+----+----+
|  Nombre|  Primer_Apellido|   Segundo_Apellido|Edad|Sexo|
+--------+-----------------+-------------------+----+----+
|  Miguel|     de Cervantes|           Saavedra|  50|   M|
|Fancisco|          Quevedo|Santibáñez Villegas|  55|   M|
|    Luis|       de Góngora|           y Argote|  65|   M|
|  Teresa|Sánchez de Cepeda|          y Ahumada|  70|   F|
+--------+-----------------+-------------------+----+----+

In [ ]:
val ds3=spark.createDataset(empDF)
ds3.printSchema()

<console>: 26: error: overloaded method value createDataset with alternatives:

**Applying lambda function on DataFrame and Dataset**

In [ ]:
//import spark.sparkContext.implicits._ grants access to toDF() method
import spark.sqlContext.implicits._

case class SpanishWriters(Nombre: String, Apellido: String, Edad: Int, Sexo:String)

import spark.sqlContext.implicits._
defined class SpanishWriters

In [ ]:
val SpanishWritersData = Seq(SpanishWriters("Miguel", "Cervantes", 50, "M"), SpanishWriters("Fancisco", "Quevedo", 55, "M"), SpanishWriters("Luis", "Góngora", 65, "M"))

SpanishWritersData: Seq[SpanishWriters] = List(SpanishWriters(Miguel,Cervantes,50,M), SpanishWriters(Fancisco,Quevedo,55,M), SpanishWriters(Luis,Góngora,65,M))

In [ ]:
//val SpanishWritersRDD = spark.sparkContext.makeRDD(SpanishWritersData)
val SpanishWritersRDD = spark.sparkContext.parallelize(SpanishWritersData)

SpanishWritersRDD: org.apache.spark.rdd.RDD[SpanishWriters] = ParallelCollectionRDD[241] at parallelize at <console>:76

In [ ]:
val writersDF = SpanishWritersRDD.toDF()

writersDF: org.apache.spark.sql.DataFrame = [Nombre: string, Apellido: string ... 2 more fields]

In [ ]:
val writersDS = SpanishWritersRDD.toDS()

writersDS: org.apache.spark.sql.Dataset[SpanishWriters] = [Nombre: string, Apellido: string ... 2 more fields]

In [ ]:
// Dataframe

val writersDFResult = writersDF.filter(writer => writer.Edad > 53)

<console>: 77: error: value Edad is not a member of org.apache.spark.sql.Row

In [ ]:
//Dataset

val writersDSResult = writersDS.filter(writer => writer.Edad > 53)

writersDSResult: org.apache.spark.sql.Dataset[SpanishWriters] = [Nombre: string, Apellido: string ... 2 more fields]

In [ ]:
writersDSResult.foreach(x => println(x))

SpanishWriters(Luis,Góngora,65,M)
SpanishWriters(Fancisco,Quevedo,55,M)

In [ ]:
val writersDFResult = writersDF.filter(writer => writer.getAs[Int]("Edad") > 53)

writersDFResult: org.apache.spark.sql.Dataset[org.apache.spark.sql.Row] = [Nombre: string, Apellido: string ... 2 more fields]

In [ ]:
System.out.println(writersDFResult.getClass)

class org.apache.spark.sql.Dataset

In [ ]:


writersDFResult.show()

22/10/22 16:31:43 ERROR Executor: Exception in task 2.0 in stage 106.0 (TID 398)
java.lang.ClassCastException: class $line377.$read$$iw$$iw$$iw$$iw$$iw$$iw$$iw$$iw$$iw$$iw$$iw$$iw$$iw$$iw$$iw$$iw$$iw$$iw$$iw$$iw$$iw$$iw$$iw$$iw$$iw$$iw$$iw$$iw$$iw$$iw$$iw$$iw$$iw$$iw$$iw$$iw$$iw$SpanishWriters cannot be cast to class $line377.$read$$iw$$iw$$iw$$iw$$iw$$iw$$iw$$iw$$iw$$iw$$iw$$iw$$iw$$iw$$iw$$iw$$iw$$iw$$iw$$iw$$iw$$iw$$iw$$iw$$iw$$iw$$iw$$iw$$iw$$iw$$iw$$iw$$iw$$iw$$iw$$iw$$iw$SpanishWriters ($line377.$read$$iw$$iw$$iw$$iw$$iw$$iw$$iw$$iw$$iw$$iw$$iw$$iw$$iw$$iw$$iw$$iw$$iw$$iw$$iw$$iw$$iw$$iw$$iw$$iw$$iw$$iw$$iw$$iw$$iw$$iw$$iw$$iw$$iw$$iw$$iw$$iw$$iw$SpanishWriters is in unnamed module of loader org.apache.spark.repl.ExecutorClassLoader @43f4912e; $line377.$read$$iw$$iw$$iw$$iw$$iw$$iw$$iw$$iw$$iw$$iw$$iw$$iw$$iw$$iw$$iw$$iw$$iw$$iw$$iw$$iw$$iw$$iw$$iw$$iw$$iw$$iw$$iw$$iw$$iw$$iw$$iw$$iw$$iw$$iw$$iw$$iw$$iw$SpanishWriters is in unnamed module of loader scala.tools.nsc.interpreter.IMain$TranslatingClassLoader @751c2a8b)
	at org.apache.spark.sql.catalyst.expressions.GeneratedClass$GeneratedIteratorForCodegenStage1.processNext(Unknown Source)
	at org.apache.spark.sql.execution.BufferedRowIterator.hasNext(BufferedRowIterator.java:43)
	at org.apache.spark.sql.execution.WholeStageCodegenExec$$anon$1.hasNext(WholeStageCodegenExec.scala:760)
	at org.apache.spark.sql.execution.SparkPlan.$anonfun$getByteArrayRdd$1(SparkPlan.scala:364)
	at org.apache.spark.rdd.RDD.$anonfun$mapPartitionsInternal$2(RDD.scala:890)
	at org.apache.spark.rdd.RDD.$anonfun$mapPartitionsInternal$2$adapted(RDD.scala:890)
	at org.apache.spark.rdd.MapPartitionsRDD.compute(MapPartitionsRDD.scala:52)
	at org.apache.spark.rdd.RDD.computeOrReadCheckpoint(RDD.scala:365)
	at org.apache.spark.rdd.RDD.iterator(RDD.scala:329)
	at org.apache.spark.scheduler.ResultTask.runTask(ResultTask.scala:90)
	at org.apache.spark.scheduler.Task.run(Task.scala:136)
	at org.apache.spark.executor.Executor$TaskRunner.$anonfun$run$3(Executor.scala:548)
	at org.apache.spark.util.Utils$.tryWithSafeFinally(Utils.scala:1504)
	at org.apache.spark.executor.Executor$TaskRunner.run(Executor.scala:551)
	at java.base/java.util.concurrent.ThreadPoolExecutor.runWorker(ThreadPoolExecutor.java:1136)
	at java.base/java.util.concurrent.ThreadPoolExecutor$Worker.run(ThreadPoolExecutor.java:635)
	at java.base/java.lang.Thread.run(Thread.java:833)
22/10/22 16:31:43 ERROR TaskSetManager: Task 2 in stage 106.0 failed 1 times; aborting job

org.apache.spark.SparkException:  Job aborted due to stage failure: Task 2 in stage 106.0 failed 1 times, most recent failure: Lost task 2.0 in stage 106.0 (TID 398) (192.168.51.14 executor driver): java.lang.ClassCastException: class SpanishWriters cannot be cast to class SpanishWriters (SpanishWriters is in unnamed module of loader org.apache.spark.repl.ExecutorClassLoader @43f4912e; SpanishWriters is in unnamed module of loader scala.tools.nsc.interpreter.IMain$TranslatingClassLoader @751c2a8b)

**Querying on non existing column**

**Dataset**

In [ ]:
import spark.sqlContext.implicits._

case class SpanishWriters(Nombre: String, Apellido: String, Edad: Int, Sexo:String)

import spark.sqlContext.implicits._
defined class SpanishWriters

In [ ]:
val SpanishWritersData = Seq(SpanishWriters("Miguel", "Cervantes", 50, "M"), SpanishWriters("Fancisco", "Quevedo", 55, "M"), SpanishWriters("Luis", "Góngora", 65, "M"))

SpanishWritersData: Seq[SpanishWriters] = List(SpanishWriters(Miguel,Cervantes,50,M), SpanishWriters(Fancisco,Quevedo,55,M), SpanishWriters(Luis,Góngora,65,M))

In [ ]:
val writersDS = SpanishWritersData.toDS()

writersDS: org.apache.spark.sql.Dataset[SpanishWriters] = [Nombre: string, Apellido: string ... 2 more fields]

In [ ]:
writersDS.show()

+--------+---------+----+----+
|  Nombre| Apellido|Edad|Sexo|
+--------+---------+----+----+
|  Miguel|Cervantes|  50|   M|
|Fancisco|  Quevedo|  55|   M|
|    Luis|  Góngora|  65|   M|
+--------+---------+----+----+

In [ ]:
writersDS.printSchema()

root
 |-- Nombre: string (nullable = true)
 |-- Apellido: string (nullable = true)
 |-- Edad: integer (nullable = false)
 |-- Sexo: string (nullable = true)

In [ ]:
val writersDSResult = writersDS.filter(writer => writer.Edad > 53)

writersDSResult: org.apache.spark.sql.Dataset[SpanishWriters] = [Nombre: string, Apellido: string ... 2 more fields]

In [ ]:
writersDSResult.foreach(x => println(x))

SpanishWriters(Luis,Góngora,65,M)
SpanishWriters(Fancisco,Quevedo,55,M)

In [ ]:
val SpanishWritersSeq = Seq(("Miguel", "Cervantes", 50, "M"), ("Fancisco", "Quevedo", 55, "M"), ("Luis", "Góngora", 65, "M"))

val SpanishWritersRDD = spark.sparkContext.parallelize(SpanishWritersSeq)

SpanishWritersSeq: Seq[(String, String, Int, String)] = List((Miguel,Cervantes,50,M), (Fancisco,Quevedo,55,M), (Luis,Góngora,65,M))
SpanishWritersRDD: org.apache.spark.rdd.RDD[(String, String, Int, String)] = ParallelCollectionRDD[187] at parallelize at <console>:60

In [ ]:
val writersDS = SpanishWritersRDD.toDS()

writersDS: org.apache.spark.sql.Dataset[(String, String, Int, String)] = [_1: string, _2: string ... 2 more fields]

In [ ]:
writersDS.show()

+--------+---------+---+---+
|      _1|       _2| _3| _4|
+--------+---------+---+---+
|  Miguel|Cervantes| 50|  M|
|Fancisco|  Quevedo| 55|  M|
|    Luis|  Góngora| 65|  M|
+--------+---------+---+---+

In [ ]:
val writersDSResult = writersDS.filter(writer => writer._3 > 53)

writersDSResult: org.apache.spark.sql.Dataset[(String, String, Int, String)] = [_1: string, _2: string ... 2 more fields]

**Dataframe**

In [ ]:
val SpanishWritersData = Seq(("Miguel", "Cervantes", 50, "M"), ("Fancisco", "Quevedo", 55, "M"), ("Luis", "Góngora", 65, "M"))

SpanishWritersData: Seq[(String, String, Int, String)] = List((Miguel,Cervantes,50,M), (Fancisco,Quevedo,55,M), (Luis,Góngora,65,M))

In [ ]:
import spark.implicits._
val columns = Seq("Nombre","Apellido", "Edad", "Sexo")

import spark.implicits._
columns: Seq[String] = List(Nombre, Apellido, Edad, Sexo)

In [ ]:
val SpanishWritersRDD = spark.sparkContext.makeRDD(SpanishWritersData)

SpanishWritersRDD: org.apache.spark.rdd.RDD[(String, String, Int, String)] = ParallelCollectionRDD[151] at makeRDD at <console>:41

In [ ]:
// Borrar
val SpanishWritersRDD_2 = spark.sparkContext.parallelize(SpanishWritersData)

SpanishWritersRDD_2: org.apache.spark.rdd.RDD[(String, String, Int, String)] = ParallelCollectionRDD[155] at parallelize at <console>:44

In [ ]:
// Borrar
val dfFromRDD1 = SpanishWritersRDD_2.toDF()

dfFromRDD1: org.apache.spark.sql.DataFrame = [_1: string, _2: string ... 2 more fields]

In [ ]:
dfFromRDD1.printSchema()

root
 |-- _1: string (nullable = true)
 |-- _2: string (nullable = true)
 |-- _3: integer (nullable = false)
 |-- _4: string (nullable = true)

In [ ]:
val writersDF = SpanishWritersRDD.toDF()

writersDF: org.apache.spark.sql.DataFrame = [Nombre: string, Apellido: string ... 2 more fields]

In [ ]:
writersDF.show()

22/10/22 17:28:26 ERROR Executor: Exception in task 2.0 in stage 108.0 (TID 403)
java.lang.ClassCastException: class $line377.$read$$iw$$iw$$iw$$iw$$iw$$iw$$iw$$iw$$iw$$iw$$iw$$iw$$iw$$iw$$iw$$iw$$iw$$iw$$iw$$iw$$iw$$iw$$iw$$iw$$iw$$iw$$iw$$iw$$iw$$iw$$iw$$iw$$iw$$iw$$iw$$iw$$iw$SpanishWriters cannot be cast to class $line377.$read$$iw$$iw$$iw$$iw$$iw$$iw$$iw$$iw$$iw$$iw$$iw$$iw$$iw$$iw$$iw$$iw$$iw$$iw$$iw$$iw$$iw$$iw$$iw$$iw$$iw$$iw$$iw$$iw$$iw$$iw$$iw$$iw$$iw$$iw$$iw$$iw$$iw$SpanishWriters ($line377.$read$$iw$$iw$$iw$$iw$$iw$$iw$$iw$$iw$$iw$$iw$$iw$$iw$$iw$$iw$$iw$$iw$$iw$$iw$$iw$$iw$$iw$$iw$$iw$$iw$$iw$$iw$$iw$$iw$$iw$$iw$$iw$$iw$$iw$$iw$$iw$$iw$$iw$SpanishWriters is in unnamed module of loader org.apache.spark.repl.ExecutorClassLoader @43f4912e; $line377.$read$$iw$$iw$$iw$$iw$$iw$$iw$$iw$$iw$$iw$$iw$$iw$$iw$$iw$$iw$$iw$$iw$$iw$$iw$$iw$$iw$$iw$$iw$$iw$$iw$$iw$$iw$$iw$$iw$$iw$$iw$$iw$$iw$$iw$$iw$$iw$$iw$$iw$SpanishWriters is in unnamed module of loader scala.tools.nsc.interpreter.IMain$TranslatingClassLoader @751c2a8b)
	at org.apache.spark.sql.catalyst.expressions.GeneratedClass$GeneratedIteratorForCodegenStage1.processNext(Unknown Source)
	at org.apache.spark.sql.execution.BufferedRowIterator.hasNext(BufferedRowIterator.java:43)
	at org.apache.spark.sql.execution.WholeStageCodegenExec$$anon$1.hasNext(WholeStageCodegenExec.scala:760)
	at org.apache.spark.sql.execution.SparkPlan.$anonfun$getByteArrayRdd$1(SparkPlan.scala:364)
	at org.apache.spark.rdd.RDD.$anonfun$mapPartitionsInternal$2(RDD.scala:890)
	at org.apache.spark.rdd.RDD.$anonfun$mapPartitionsInternal$2$adapted(RDD.scala:890)
	at org.apache.spark.rdd.MapPartitionsRDD.compute(MapPartitionsRDD.scala:52)
	at org.apache.spark.rdd.RDD.computeOrReadCheckpoint(RDD.scala:365)
	at org.apache.spark.rdd.RDD.iterator(RDD.scala:329)
	at org.apache.spark.scheduler.ResultTask.runTask(ResultTask.scala:90)
	at org.apache.spark.scheduler.Task.run(Task.scala:136)
	at org.apache.spark.executor.Executor$TaskRunner.$anonfun$run$3(Executor.scala:548)
	at org.apache.spark.util.Utils$.tryWithSafeFinally(Utils.scala:1504)
	at org.apache.spark.executor.Executor$TaskRunner.run(Executor.scala:551)
	at java.base/java.util.concurrent.ThreadPoolExecutor.runWorker(ThreadPoolExecutor.java:1136)
	at java.base/java.util.concurrent.ThreadPoolExecutor$Worker.run(ThreadPoolExecutor.java:635)
	at java.base/java.lang.Thread.run(Thread.java:833)
22/10/22 17:28:26 ERROR TaskSetManager: Task 2 in stage 108.0 failed 1 times; aborting job

org.apache.spark.SparkException:  Job aborted due to stage failure: Task 2 in stage 108.0 failed 1 times, most recent failure: Lost task 2.0 in stage 108.0 (TID 403) (192.168.51.14 executor driver): java.lang.ClassCastException: class SpanishWriters cannot be cast to class SpanishWriters (SpanishWriters is in unnamed module of loader org.apache.spark.repl.ExecutorClassLoader @43f4912e; SpanishWriters is in unnamed module of loader scala.tools.nsc.interpreter.IMain$TranslatingClassLoader @751c2a8b)

In [ ]:

val writersDF2 = spark.createDataFrame(SpanishWritersRDD).toDF(columns:_*)
writersDF2.printSchema()

root
 |-- Nombre: string (nullable = true)
 |-- Apellido: string (nullable = true)
 |-- Edad: integer (nullable = false)
 |-- Sexo: string (nullable = true)

writersDF2: org.apache.spark.sql.DataFrame = [Nombre: string, Apellido: string ... 2 more fields]

In [ ]:
val writersDFResult = writersDF2.filter(writer => writer.Edad > 53)

<console>: 44: error: value Edad is not a member of org.apache.spark.sql.Row

In [ ]:
val writersDFResult = writersDF2.filter(writer => writer.getAs[Int]("Edad") > 53)

writersDFResult: org.apache.spark.sql.Dataset[org.apache.spark.sql.Row] = [Nombre: string, Apellido: string ... 2 more fields]

In [ ]:
writersDFResult.show()

+--------+--------+----+----+
|  Nombre|Apellido|Edad|Sexo|
+--------+--------+----+----+
|Fancisco| Quevedo|  55|   M|
|    Luis| Góngora|  65|   M|
+--------+--------+----+----+

**Querying on non existing column**

In [ ]:
// Now, let’s see how DataFrame and Dataset behave differently when querying on non-existing column.
// Let’s query on a salary column which is not present in DataFrame.

val writersDFBirthday = writersDF.select("Birthday")

org.apache.spark.sql.AnalysisException:  Column 'Birthday' does not exist. Did you mean one of the following? [Edad, Apellido, Nombre, Sexo];

In [ ]:
val writersDSBirthday = writersDS.map(writer => writer.Birthday)

<console>: 75: error: value Birthday is not a member of SpanishWriters

**Preserving schema or not when converted back to RDD**

In [ ]:
val rddFromDF = writersDF.rdd

rddFromDF: org.apache.spark.rdd.RDD[org.apache.spark.sql.Row] = MapPartitionsRDD[249] at rdd at <console>:75

In [ ]:
rddFromDF.map(writer => writer.Nombre).foreach(println)

<console>: 77: error: value Nombre is not a member of org.apache.spark.sql.Row

In [ ]:
val rddFromDS = writersDS.rdd

rddFromDS: org.apache.spark.rdd.RDD[SpanishWriters] = MapPartitionsRDD[252] at rdd at <console>:75

In [ ]:
rddFromDS.map(writer => writer.Nombre).foreach(println)

Luis
Fancisco
Miguel

**Create a Spark DataFrame**

**toDF()**

In [ ]:
val carsData=Seq(("USA","Chrysler","Chrysler 300",292),("Germany","BMW","BMW 8 Series",617),("Spain", "Spania GTA", "GTA Spano",925))

carsData: Seq[(String, String, String, Int)] = List((USA,Chrysler,Chrysler 300,292), (Germany,BMW,BMW 8 Series,617), (Spain,Spania GTA,GTA Spano,925))

In [ ]:
val carsRdd = spark.sparkContext.parallelize(carsData)

carsRdd: org.apache.spark.rdd.RDD[(String, String, String, Int)] = ParallelCollectionRDD[6] at parallelize at <console>:31

In [ ]:
val dfCars = carsRdd.toDF()

dfCars: org.apache.spark.sql.DataFrame = [_1: string, _2: string ... 2 more fields]

In [ ]:
dfCars.show()

+-------+----------+------------+---+
|     _1|        _2|          _3| _4|
+-------+----------+------------+---+
|    USA|  Chrysler|Chrysler 300|292|
|Germany|       BMW|BMW 8 Series|617|
|  Spain|Spania GTA|   GTA Spano|925|
+-------+----------+------------+---+

In [ ]:
dfCars.printSchema()

root
 |-- _1: string (nullable = true)
 |-- _2: string (nullable = true)
 |-- _3: string (nullable = true)
 |-- _4: integer (nullable = false)

In [ ]:
val dfBrandedCars = carsRdd.toDF("Country","Manufacturer","Model","Power")

dfBrandedCars: org.apache.spark.sql.DataFrame = [Country: string, Manufacturer: string ... 2 more fields]

In [ ]:
dfBrandedCars.show()

+-------+------------+------------+-----+
|Country|Manufacturer|       Model|Power|
+-------+------------+------------+-----+
|    USA|    Chrysler|Chrysler 300|  292|
|Germany|         BMW|BMW 8 Series|  617|
|  Spain|  Spania GTA|   GTA Spano|  925|
+-------+------------+------------+-----+

**createDataFrame(rowRDD,schema)**

In [ ]:
// var dfFromData2 = spark.createDataFrame(data).toDF(columns:_*)

In [ ]:
var df2 = spark.createDataFrame(carsData).toDF("Country","Manufacturer","Model","Power")

df2: org.apache.spark.sql.DataFrame = [Country: string, Manufacturer: string ... 2 more fields]

In [ ]:
df2.show()

+-------+------------+------------+-----+
|Country|Manufacturer|       Model|Power|
+-------+------------+------------+-----+
|    USA|    Chrysler|Chrysler 300|  292|
|Germany|         BMW|BMW 8 Series|  617|
|  Spain|  Spania GTA|   GTA Spano|  925|
+-------+------------+------------+-----+

In [ ]:
import org.apache.spark.sql.types.{IntegerType,StringType, StructField, StructType}
import org.apache.spark.sql.Row

val Carschema = StructType( Array(
    StructField("Country", StringType,true),
    StructField("Manufacturer", StringType,true),
    StructField("Model", StringType,true),
    StructField("Power", IntegerType,true)
))

val carsRowRdd = carsRdd.map(carSpecs => Row(carSpecs._1, carSpecs._2, carSpecs._3, carSpecs._4))
val dfCarsFromRDD = spark.createDataFrame(carsRowRdd,Carschema)

import org.apache.spark.sql.types.{IntegerType, StringType, StructField, StructType}
import org.apache.spark.sql.Row
Carschema: org.apache.spark.sql.types.StructType = StructType(StructField(Country,StringType,true),StructField(Manufacturer,StringType,true),StructField(Model,StringType,true),StructField(Power,IntegerType,true))
carsRowRdd: org.apache.spark.rdd.RDD[org.apache.spark.sql.Row] = MapPartitionsRDD[18] at map at <console>:52
dfCarsFromRDD: org.apache.spark.sql.DataFrame = [Country: string, Manufacturer: string ... 2 more fields]

In [ ]:
dfCarsFromRDD.show()

+-------+------------+------------+-----+
|Country|Manufacturer|       Model|Power|
+-------+------------+------------+-----+
|    USA|    Chrysler|Chrysler 300|  292|
|Germany|         BMW|BMW 8 Series|  617|
|  Spain|  Spania GTA|   GTA Spano|  925|
+-------+------------+------------+-----+

**DataFrames. Generic Load/Save Functions**

In [ ]:
// Generating a parquet file from a CSV
val dfPersonas = spark.read.option("header", "true").csv("/Users/aantolinez/Downloads/personas.csv")

dfPersonas: org.apache.spark.sql.DataFrame = [Nombre: string, Primer_Apellido: string ... 3 more fields]

In [ ]:
// Saving the CSV file as parquet
dfPersonas.write.parquet("/Users/aantolinez/Downloads/personas.parquet")

In [ ]:
// Spark SQL
// Runtime SQL Configuration

val personasDF = spark.read.load("/Users/aantolinez/Downloads/personas.csv")

22/10/29 17:13:16 ERROR Executor: Exception in task 0.0 in stage 15.0 (TID 50)
org.apache.spark.SparkException: Exception thrown in awaitResult:
	at org.apache.spark.util.ThreadUtils$.awaitResult(ThreadUtils.scala:301)
	at org.apache.spark.util.ThreadUtils$.parmap(ThreadUtils.scala:375)
	at org.apache.spark.sql.execution.datasources.parquet.ParquetFileFormat$.readParquetFootersInParallel(ParquetFileFormat.scala:477)
	at org.apache.spark.sql.execution.datasources.parquet.ParquetFileFormat$.$anonfun$mergeSchemasInParallel$1(ParquetFileFormat.scala:523)
	at org.apache.spark.sql.execution.datasources.parquet.ParquetFileFormat$.$anonfun$mergeSchemasInParallel$1$adapted(ParquetFileFormat.scala:517)
	at org.apache.spark.sql.execution.datasources.SchemaMergeUtils$.$anonfun$mergeSchemasInParallel$2(SchemaMergeUtils.scala:76)
	at org.apache.spark.rdd.RDD.$anonfun$mapPartitions$2(RDD.scala:855)
	at org.apache.spark.rdd.RDD.$anonfun$mapPartitions$2$adapted(RDD.scala:855)
	at org.apache.spark.rdd.MapPartitionsRDD.compute(MapPartitionsRDD.scala:52)
	at org.apache.spark.rdd.RDD.computeOrReadCheckpoint(RDD.scala:365)
	at org.apache.spark.rdd.RDD.iterator(RDD.scala:329)
	at org.apache.spark.scheduler.ResultTask.runTask(ResultTask.scala:90)
	at org.apache.spark.scheduler.Task.run(Task.scala:136)
	at org.apache.spark.executor.Executor$TaskRunner.$anonfun$run$3(Executor.scala:548)
	at org.apache.spark.util.Utils$.tryWithSafeFinally(Utils.scala:1504)
	at org.apache.spark.executor.Executor$TaskRunner.run(Executor.scala:551)
	at java.base/java.util.concurrent.ThreadPoolExecutor.runWorker(ThreadPoolExecutor.java:1136)
	at java.base/java.util.concurrent.ThreadPoolExecutor$Worker.run(ThreadPoolExecutor.java:635)
	at java.base/java.lang.Thread.run(Thread.java:833)
Caused by: java.io.IOException: Could not read footer for file: FileStatus{path=file:/Users/aantolinez/Downloads/personas.csv; isDirectory=false; length=200; replication=0; blocksize=0; modification_time=0; access_time=0; owner=; group=; permission=rw-rw-rw-; isSymlink=false; hasAcl=false; isEncrypted=false; isErasureCoded=false}
	at org.apache.spark.sql.errors.QueryExecutionErrors$.cannotReadFooterForFileError(QueryExecutionErrors.scala:864)
	at org.apache.spark.sql.execution.datasources.parquet.ParquetFileFormat$.$anonfun$readParquetFootersInParallel$1(ParquetFileFormat.scala:490)
	at org.apache.spark.util.ThreadUtils$.$anonfun$parmap$2(ThreadUtils.scala:372)
	at scala.concurrent.Future$.$anonfun$apply$1(Future.scala:659)
	at scala.util.Success.$anonfun$map$1(Try.scala:255)
	at scala.util.Success.map(Try.scala:213)
	at scala.concurrent.Future.$anonfun$map$1(Future.scala:292)
	at scala.concurrent.impl.Promise.liftedTree1$1(Promise.scala:33)
	at scala.concurrent.impl.Promise.$anonfun$transform$1(Promise.scala:33)
	at scala.concurrent.impl.CallbackRunnable.run(Promise.scala:64)
	at java.base/java.util.concurrent.ForkJoinTask$RunnableExecuteAction.exec(ForkJoinTask.java:1395)
	at java.base/java.util.concurrent.ForkJoinTask.doExec(ForkJoinTask.java:373)
	at java.base/java.util.concurrent.ForkJoinPool$WorkQueue.topLevelExec(ForkJoinPool.java:1182)
	at java.base/java.util.concurrent.ForkJoinPool.scan(ForkJoinPool.java:1655)
	at java.base/java.util.concurrent.ForkJoinPool.runWorker(ForkJoinPool.java:1622)
	at java.base/java.util.concurrent.ForkJoinWorkerThread.run(ForkJoinWorkerThread.java:165)
Caused by: java.lang.RuntimeException: file:/Users/aantolinez/Downloads/personas.csv is not a Parquet file. Expected magic number at tail, but found [48, 44, 70, 10]
	at org.apache.parquet.hadoop.ParquetFileReader.readFooter(ParquetFileReader.java:556)
	at org.apache.parquet.hadoop.ParquetFileReader.<init>(ParquetFileReader.java:776)
	at org.apache.parquet.hadoop.ParquetFileReader.open(ParquetFileReader.java:657)
	at org.apache.spark.sql.execution.datasources.parquet.ParquetFooterReader.readFooter(ParquetFooterReader.java:53)
	at org.apache.spark.sql.execution.datasources.parquet.ParquetFooterReader.readFooter(ParquetFooterReader.java:44)
	at org.apache.spark.sql.execution.datasources.parquet.ParquetFileFormat$.$anonfun$readParquetFootersInParallel$1(ParquetFileFormat.scala:484)
	... 14 more
22/10/29 17:13:16 ERROR TaskSetManager: Task 0 in stage 15.0 failed 1 times; aborting job

org.apache.spark.SparkException:  Job aborted due to stage failure: Task 0 in stage 15.0 failed 1 times, most recent failure: Lost task 0.0 in stage 15.0 (TID 50) (192.168.0.14 executor driver): org.apache.spark.SparkException: Exception thrown in awaitResult:

In [ ]:
val personasDF = spark.read.load("/Users/aantolinez/Downloads/personas.parquet")

personasDF: org.apache.spark.sql.DataFrame = [Nombre: string, Primer_Apellido: string ... 3 more fields]

In [ ]:
spark.sql("SELECT * FROM parquet.`/Users/aantolinez/Downloads/personas.parquet`").show()

+--------+-----------------+-------------------+----+----+
|  Nombre|  Primer_Apellido|   Segundo_Apellido|Edad|Sexo|
+--------+-----------------+-------------------+----+----+
|  Miguel|     de Cervantes|           Saavedra|  50|   M|
|Fancisco|          Quevedo|Santibáñez Villegas|  55|   M|
|    Luis|       de Góngora|           y Argote|  65|   M|
|  Teresa|Sánchez de Cepeda|          y Ahumada|  70|   F|
+--------+-----------------+-------------------+----+----+

**Ignore Corrupt Files**

In [ ]:
// enable ignore corrupt files
spark.sql("set spark.sql.files.ignoreCorruptFiles=true")

// personas_corrupt.parquet is not real parquet file
val corruptFiles = spark.read.parquet(
    "/Users/aantolinez/Downloads/personas.parquet",
    "/Users/aantolinez/Downloads/personas_corrupt.parquet")
corruptFiles.show()

+--------+-----------------+-------------------+----+----+
|  Nombre|  Primer_Apellido|   Segundo_Apellido|Edad|Sexo|
+--------+-----------------+-------------------+----+----+
|  Miguel|     de Cervantes|           Saavedra|  50|   M|
|Fancisco|          Quevedo|Santibáñez Villegas|  55|   M|
|    Luis|       de Góngora|           y Argote|  65|   M|
|  Teresa|Sánchez de Cepeda|          y Ahumada|  70|   F|
+--------+-----------------+-------------------+----+----+

corruptFiles: org.apache.spark.sql.DataFrame = [Nombre: string, Primer_Apellido: string ... 3 more fields]

**Modification Time Path Filters**

In [ ]:
val beforeFilterDF = spark.read.format("csv")
  .option("header", "true")
  .option("modifiedBefore", "2022-10-01T05:30:00")
  .load("/Users/aantolinez/Downloads/Hands-On-Spark3");
beforeFilterDF.show();

org.apache.spark.sql.AnalysisException:  Unable to infer schema for CSV. It must be specified manually.

In [ ]:
val modifiedAfterDF = spark.read.format("csv")
  .option("header", "true")
  .option("modifiedAfter", "2022-10-30T05:30:00")
  .load("/Users/aantolinez/Downloads/Hands-On-Spark3");

modifiedAfterDF.show();

+--------+-----------------+-------------------+----+----+
|  Nombre|  Primer_Apellido|   Segundo_Apellido|Edad|Sexo|
+--------+-----------------+-------------------+----+----+
|  Miguel|     de Cervantes|           Saavedra|  50|   M|
|Fancisco|          Quevedo|Santibáñez Villegas|  55|   M|
|    Luis|       de Góngora|           y Argote|  65|   M|
|  Teresa|Sánchez de Cepeda|          y Ahumada|  70|   F|
+--------+-----------------+-------------------+----+----+

modifiedAfterDF: org.apache.spark.sql.DataFrame = [Nombre: string, Primer_Apellido: string ... 3 more fields]

**Save Modes**

In [ ]:
val SpanishDf = spark.read.option("header", "true")
     .option("inferSchema", "true")
     .csv("/Users/aantolinez/Downloads/personas.csv")

SpanishDf: org.apache.spark.sql.DataFrame = [Nombre: string, Primer_Apellido: string ... 3 more fields]

In [ ]:
SpanishDf.show()

+--------+-----------------+-------------------+----+----+
|  Nombre|  Primer_Apellido|   Segundo_Apellido|Edad|Sexo|
+--------+-----------------+-------------------+----+----+
|  Miguel|     de Cervantes|           Saavedra|  50|   M|
|Fancisco|          Quevedo|Santibáñez Villegas|  55|   M|
|    Luis|       de Góngora|           y Argote|  65|   M|
|  Teresa|Sánchez de Cepeda|          y Ahumada|  70|   F|
+--------+-----------------+-------------------+----+----+

In [ ]:
SpanishDf.write.format("csv").mode("overwrite")
    .option("header", true)
    .save("/Users/aantolinez/Downloads/personas2.csv")

In [ ]:

val SpanishWritersData2 = Seq(("Miguel", "de Unamuno", 70, "M"))

val SpanishWritersRdd = spark.sparkContext.parallelize(SpanishWritersData2)

SpanishWritersData2: Seq[(String, String, Int, String)] = List((Miguel,de Unamuno,70,M))
SpanishWritersRdd: org.apache.spark.rdd.RDD[(String, String, Int, String)] = ParallelCollectionRDD[70] at parallelize at <console>:28

In [ ]:
val SpanishWritersAppendDF = SpanishWritersRdd.toDF()

writersDF.show()

+------+----------+---+---+
|    _1|        _2| _3| _4|
+------+----------+---+---+
|Miguel|de Unamuno| 70|  M|
+------+----------+---+---+

SpanishWritersAppendDF: org.apache.spark.sql.DataFrame = [_1: string, _2: string ... 2 more fields]

In [ ]:
SpanishWritersAppendDF.write.format("csv").mode("append").save("/Users/aantolinez/Downloads/personas2.csv")

**Saving data into a single file**

In [ ]:
// Using coalesce()

SpanishWritersAppendDF.coalesce(1)
.write.csv("/Users/aantolinez/Downloads/personas_coalesce.csv")

In [ ]:
// Using repartition()

df.repartition(1).write.csv("address")

**Chapter 4. Read and Write Apache Parquet Files**

In [ ]:
import org.apache.spark.sql.types.{StringType, StructType, IntegerType} 

val schemaWriters = new StructType()
    .add("Name",StringType,true)
    .add("Surname",StringType,true)
    .add("Century",StringType,true)
    .add("YearOfBirth",IntegerType,true)
val SpanishWritersDf = spark.read.option("header", "true")
    .schema(schemaWriters)
    .csv("/Users/aantolinez/Downloads/Spanish_Writers_by_Century.csv")

import org.apache.spark.sql.types.{StringType, StructType, IntegerType}
schemaWriters: org.apache.spark.sql.types.StructType = StructType(StructField(Name,StringType,true),StructField(Surname,StringType,true),StructField(Century,StringType,true),StructField(YearOfBirth,IntegerType,true))
SpanishWritersDf: org.apache.spark.sql.DataFrame = [Name: string, Surname: string ... 2 more fields]

In [ ]:
SpanishWritersDf.show()

+---------+---------------+-------+-----------+
|     Name|        Surname|Century|YearOfBirth|
+---------+---------------+-------+-----------+
|  Gonzalo|      de Berceo|   XIII|       1196|
|    Juan |           Ruiz|    XIV|       1283|
| Fernando|       de Rojas|     XV|       1465|
|Garcilaso|     de la Vega|    XVI|       1539|
|   Miguel|   de Cervantes|    XVI|       1547|
|Francisco|     de Quevedo|    XVI|       1580|
|     Luis|     de Góngora|    XVI|       1561|
|     Lope|        de Vega|    XVI|       1562|
|    Tirso|      de Molina|    XVI|       1583|
| Calderón|    de la Barca|   XVII|       1600|
|   Adolfo|        Bécquer|    XIX|       1836|
|   Benito|   Pérez Galdós|    XIX|       1843|
|   Emilia|    Pardo Bazán|    XIX|       1851|
|     José|Ortega y Gasset|     XX|       1883|
+---------+---------------+-------+-----------+

In [ ]:
SpanishWritersDf.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Surname: string (nullable = true)
 |-- Century: string (nullable = true)
 |-- YearOfBirth: integer (nullable = true)

In [ ]:
// Saving data with default compression codec: snappy
SpanishWritersDf.write.parquet("/Users/aantolinez/Downloads/Spanish_Writers_by_Century.parquet")

In [ ]:
// Saving data with gzip compression codec
SpanishWritersDf.write.mode("append").option("compression", "gzip").parquet("/Users/aantolinez/Downloads/Spanish_Writers_by_Century.parquet")

*Using SQL queries on Parquet

We can also create a temporary view on Parquet files and then use it in Spark SQL statements. This temporary table would be available until the SparkContext present.

In [ ]:
val parquetDF = spark.read.parquet("/Users/aantolinez/Downloads/Spanish_Writers_by_Century.parquet")

parquetDF: org.apache.spark.sql.DataFrame = [Name: string, Surname: string ... 2 more fields]

In [ ]:
parquetDF.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Surname: string (nullable = true)
 |-- Century: string (nullable = true)
 |-- YearOfBirth: integer (nullable = true)

In [ ]:
parquetDF.createOrReplaceTempView("TempTable")

val sqlDf = spark.sql("select * from TempTable where YearOfBirth = 1600")

sqlDf: org.apache.spark.sql.DataFrame = [Name: string, Surname: string ... 2 more fields]

In [ ]:
sqlDf.show()

+--------+-----------+-------+-----------+
|    Name|    Surname|Century|YearOfBirth|
+--------+-----------+-------+-----------+
|Calderón|de la Barca|   XVII|       1600|
+--------+-----------+-------+-----------+

**Parquet File Partitioning**

In [ ]:
import org.apache.spark.sql.types.{StringType, StructType, IntegerType} 

val schemaWriters = new StructType()
    .add("Name",StringType,true)
    .add("Surname",StringType,true)
    .add("Century",StringType,true)
    .add("YearOfBirth",IntegerType,true)
    .add("Gender",StringType,true)
val SpanishWritersDf = spark.read.option("header", "true")
    .schema(schemaWriters)
    .csv("/Users/aantolinez/Downloads/Spanish_Writers_by_Gender.csv")

import org.apache.spark.sql.types.{StringType, StructType, IntegerType}
schemaWriters: org.apache.spark.sql.types.StructType = StructType(StructField(Name,StringType,true),StructField(Surname,StringType,true),StructField(Century,StringType,true),StructField(YearOfBirth,IntegerType,true),StructField(Gender,StringType,true))
SpanishWritersDf: org.apache.spark.sql.DataFrame = [Name: string, Surname: string ... 3 more fields]

In [ ]:
SpanishWritersDf.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Surname: string (nullable = true)
 |-- Century: string (nullable = true)
 |-- YearOfBirth: integer (nullable = true)
 |-- Gender: string (nullable = true)

In [ ]:
SpanishWritersDf.write.partitionBy("Century","Gender")
    .parquet("/Users/aantolinez/Downloads/Spanish_Writers_by_Gender.parquet")

Spanish_Writers_by_Gender.parquet
├── ._SUCCESS.crc
├── Century=XIII
│   └── Gender=M
│       ├── .part-00000-aca04d79-8009-4b12-9e67-45d9f7f975e8.c000.snappy.parquet.crc
│       └── part-00000-aca04d79-8009-4b12-9e67-45d9f7f975e8.c000.snappy.parquet
├── Century=XIV
│   └── Gender=M
│       ├── .part-00000-aca04d79-8009-4b12-9e67-45d9f7f975e8.c000.snappy.parquet.crc
│       └── part-00000-aca04d79-8009-4b12-9e67-45d9f7f975e8.c000.snappy.parquet
├── Century=XIX
│   ├── Gender=F
│   │   ├── .part-00000-aca04d79-8009-4b12-9e67-45d9f7f975e8.c000.snappy.parquet.crc
│   │   └── part-00000-aca04d79-8009-4b12-9e67-45d9f7f975e8.c000.snappy.parquet
│   └── Gender=M
│       ├── .part-00000-aca04d79-8009-4b12-9e67-45d9f7f975e8.c000.snappy.parquet.crc
│       └── part-00000-aca04d79-8009-4b12-9e67-45d9f7f975e8.c000.snappy.parquet
├── Century=XV
│   ├── Gender=F
│   │   ├── .part-00000-aca04d79-8009-4b12-9e67-45d9f7f975e8.c000.snappy.parquet.crc
│   │   └── part-00000-aca04d79-8009-4b12-9e67-45d9f7f975e8.c000.snappy.parquet
│   └── Gender=M
│       ├── .part-00000-aca04d79-8009-4b12-9e67-45d9f7f975e8.c000.snappy.parquet.crc
│       └── part-00000-aca04d79-8009-4b12-9e67-45d9f7f975e8.c000.snappy.parquet
├── Century=XVI
│   ├── Gender=F
│   │   ├── .part-00000-aca04d79-8009-4b12-9e67-45d9f7f975e8.c000.snappy.parquet.crc
│   │   └── part-00000-aca04d79-8009-4b12-9e67-45d9f7f975e8.c000.snappy.parquet
│   └── Gender=M
│       ├── .part-00000-aca04d79-8009-4b12-9e67-45d9f7f975e8.c000.snappy.parquet.crc
│       └── part-00000-aca04d79-8009-4b12-9e67-45d9f7f975e8.c000.snappy.parquet
├── Century=XVII
│   └── Gender=M
│       ├── .part-00000-aca04d79-8009-4b12-9e67-45d9f7f975e8.c000.snappy.parquet.crc
│       └── part-00000-aca04d79-8009-4b12-9e67-45d9f7f975e8.c000.snappy.parquet
├── Century=XX
│   └── Gender=M
│       ├── .part-00000-aca04d79-8009-4b12-9e67-45d9f7f975e8.c000.snappy.parquet.crc
│       └── part-00000-aca04d79-8009-4b12-9e67-45d9f7f975e8.c000.snappy.parquet
└── _SUCCESS

**Reading Parquet File Partitions**

In [ ]:


val partitionDF = spark.read.parquet("/Users/aantolinez/Downloads/Spanish_Writers_by_Gender.parquet/Century=XX")

partitionDF.show()

+----+---------------+-----------+------+
|Name|        Surname|YearOfBirth|Gender|
+----+---------------+-----------+------+
|José|Ortega y Gasset|       1883|     M|
+----+---------------+-----------+------+

partitionDF: org.apache.spark.sql.DataFrame = [Name: string, Surname: string ... 2 more fields]

**Spark JSON Read and Write operations**

*Spark Read JSON Files into DataFrames*

In [ ]:
//Loading a newline-delimited JSON strings file into a dataframe

val jsonDf = spark.read.json("/Users/aantolinez/Downloads/Spaniards.json")

jsonDf: org.apache.spark.sql.DataFrame = [country: string, email: string ... 5 more fields]

In [ ]:
jsonDf.printSchema()

root
 |-- country: string (nullable = true)
 |-- email: string (nullable = true)
 |-- first_name: string (nullable = true)
 |-- id: long (nullable = true)
 |-- last_name: string (nullable = true)
 |-- registered: boolean (nullable = true)
 |-- updated: string (nullable = true)

In [ ]:
jsonDf.show(4, false)

+-------+-------------------+----------+---+---------+----------+----------+
|country|email              |first_name|id |last_name|registered|updated   |
+-------+-------------------+----------+---+---------+----------+----------+
|Spain  |luis.ortiz@mapy.cz |Luis      |1  |Ortiz    |false     |2015-05-16|
|Spain  |aantolinez@optc.es |Alfonso   |2  |Antolinez|true      |2015-03-11|
|Spain  |jdomin@xyz.org     |Juan      |3  |Dominguez|true      |2015-02-15|
|Spain  |ssanchez@google.com|Santiago  |4  |Sanchez  |false     |2014-10-31|
+-------+-------------------+----------+---+---------+----------+----------+

In [ ]:
//Loading a multiline JSON strings file into a dataframe

val multilineJsonDf = spark.read.option("multiline","true")
.json("/Users/aantolinez/Downloads/Spaniards_array.json")

multilineJsonDf: org.apache.spark.sql.DataFrame = [country: string, email: string ... 5 more fields]

In [ ]:
multilineJsonDf.show(4, false)

+-------+-------------------+----------+---+---------+----------+----------+
|country|email              |first_name|id |last_name|registered|updated   |
+-------+-------------------+----------+---+---------+----------+----------+
|Spain  |luis.ortiz@mapy.cz |Luis      |1  |Ortiz    |false     |2015-05-16|
|Spain  |aantolinez@optc.es |Alfonso   |2  |Antolinez|true      |2015-03-11|
|Spain  |jdomin@xyz.org     |Juan      |3  |Dominguez|true      |2015-02-15|
|Spain  |ssanchez@google.com|Santiago  |4  |Sanchez  |false     |2014-10-31|
+-------+-------------------+----------+---+---------+----------+----------+

**Reading Multiple JSON Files at Once**

In [ ]:
//Loading a multiline JSON strings file into a dataframe at once

val multipleJsonsDf = spark.read.option("multiline","true").json(
    "/Users/aantolinez/Downloads/Spaniards_array.json",
    "/Users/aantolinez/Downloads/Spaniards_array2.json")

multipleJsonsDf: org.apache.spark.sql.DataFrame = [country: string, email: string ... 5 more fields]

In [ ]:
multipleJsonsDf.show(false)

+-------+-------------------+----------+---+---------+----------+----------+
|country|email              |first_name|id |last_name|registered|updated   |
+-------+-------------------+----------+---+---------+----------+----------+
|Spain  |luis.ortiz@mapy.cz |Luis      |1  |Ortiz    |false     |2015-05-16|
|Spain  |aantolinez@optc.es |Alfonso   |2  |Antolinez|true      |2015-03-11|
|Spain  |jdomin@xyz.org     |Juan      |3  |Dominguez|true      |2015-02-15|
|Spain  |ssanchez@google.com|Santiago  |4  |Sanchez  |false     |2014-10-31|
|Spain  |luis.herrera@xyz.es|Luis      |1  |Herrera  |false     |2015-05-15|
|Spain  |mabad@opti.es      |Marcos    |2  |Abad     |true      |2015-03-21|
|Spain  |jabalos@redis.org  |Juan      |3  |Abalos   |true      |2015-02-14|
|Spain  |samo@terra.es      |Santiago  |4  |Amo      |false     |2014-10-21|
+-------+-------------------+----------+---+---------+----------+----------+

**Reading JSON Files Based On Patterns At Once**

In [ ]:
val patternJsonsDf = spark.read.option("multiline","true").json(
    "/Users/aantolinez/Downloads/Spaniards_array*.json")

patternJsonsDf: org.apache.spark.sql.DataFrame = [country: string, email: string ... 5 more fields]

In [ ]:
patternJsonsDf.show(20, false)

+-------+-------------------------+----------+---+---------+----------+----------+
|country|email                    |first_name|id |last_name|registered|updated   |
+-------+-------------------------+----------+---+---------+----------+----------+
|Spain  |luis.garcia@xyz.es       |Lucia     |9  |Garcia   |true      |2015-05-15|
|Spain  |maria.rodriguez@opti.es  |Maria     |10 |Rodriguez|true      |2015-03-21|
|Spain  |carmen.gonzalez@redis.org|Carmen    |11 |Gonzalez |true      |2015-02-14|
|Spain  |sara.fernandez@terra.es  |Sara      |12 |Fernandez|true      |2014-10-21|
|Spain  |luis.ortiz@mapy.cz       |Luis      |1  |Ortiz    |false     |2015-05-16|
|Spain  |aantolinez@optc.es       |Alfonso   |2  |Antolinez|true      |2015-03-11|
|Spain  |jdomin@xyz.org           |Juan      |3  |Dominguez|true      |2015-02-15|
|Spain  |ssanchez@google.com      |Santiago  |4  |Sanchez  |false     |2014-10-31|
|Spain  |luis.herrera@xyz.es      |Luis      |1  |Herrera  |false     |2015-05-15|
|Spain  |mabad@opti.es            |Marcos    |2  |Abad     |true      |2015-03-21|
|Spain  |jabalos@redis.org        |Juan      |3  |Abalos   |true      |2015-02-14|
|Spain  |samo@terra.es            |Santiago  |4  |Amo      |false     |2014-10-21|
+-------+-------------------------+----------+---+---------+----------+----------+

In [ ]:
//  Reading all the JSON files from a directory and only JSON files.

val patternJsonsDf = spark.read.option("multiline","true").json(
    "/Users/aantolinez/Downloads/*.json")

In [ ]:
//  Reading ALL the files from a directory.

val patternJsonsDf = spark.read.option("multiline","true").json(
    "/Users/aantolinez/Downloads/")

**Direct Queries on Parquet Files**

In [ ]:
// One way to do it linking a SQL query string

spark.sqlContext.sql("CREATE TEMPORARY VIEW Spaniards USING json OPTIONS" + 
      " (path '/Users/aantolinez/Downloads/Spaniards.json')")

res14: org.apache.spark.sql.DataFrame = []

In [ ]:
spark.sqlContext.sql("select * from Spaniards").show(false)

+-------+-------------------+----------+---+---------+----------+----------+
|country|email              |first_name|id |last_name|registered|updated   |
+-------+-------------------+----------+---+---------+----------+----------+
|Spain  |luis.ortiz@mapy.cz |Luis      |1  |Ortiz    |false     |2015-05-16|
|Spain  |aantolinez@optc.es |Alfonso   |2  |Antolinez|true      |2015-03-11|
|Spain  |jdomin@xyz.org     |Juan      |3  |Dominguez|true      |2015-02-15|
|Spain  |ssanchez@google.com|Santiago  |4  |Sanchez  |false     |2014-10-31|
+-------+-------------------+----------+---+---------+----------+----------+

In [ ]:
// Another way to do it, step-by-step

val sqlContext = new org.apache.spark.sql.SQLContext(sc)

sqlContext: org.apache.spark.sql.SQLContext = org.apache.spark.sql.SQLContext@74bdd79c

In [ ]:
val Spaniards = sqlContext.jsonFile("/Users/aantolinez/Downloads/Spaniards.json")

Spaniards: org.apache.spark.sql.DataFrame = [country: string, email: string ... 5 more fields]

In [ ]:
Spaniards.registerTempTable("Spaniards")

In [ ]:
sqlContext.sql("select * from Spaniards").show(false)

+-------+-------------------+----------+---+---------+----------+----------+
|country|email              |first_name|id |last_name|registered|updated   |
+-------+-------------------+----------+---+---------+----------+----------+
|Spain  |luis.ortiz@mapy.cz |Luis      |1  |Ortiz    |false     |2015-05-16|
|Spain  |aantolinez@optc.es |Alfonso   |2  |Antolinez|true      |2015-03-11|
|Spain  |jdomin@xyz.org     |Juan      |3  |Dominguez|true      |2015-02-15|
|Spain  |ssanchez@google.com|Santiago  |4  |Sanchez  |false     |2014-10-31|
+-------+-------------------+----------+---+---------+----------+----------+

*How to work with Complex Nested JSON Files using Spark SQL*

**Saving a DataFrame To JSON File**

In [ ]:
multipleJsonsDf.write
 .json("/Users/aantolinez/Downloads/Merged_Spaniards_array.json")

In [ ]:
multipleJsonsDf.write.mode("append").json("/Users/aantolinez/Downloads/Merged_Spaniards_array.json")

**Load JSON Files Based On Customized Schemas**

In [ ]:
import org.apache.spark.sql.types.{StructType,StructField, StringType,IntegerType,BooleanType,DateType}

val schemaSpaniards = StructType(Array(
    StructField("id",StringType,nullable=true),
    StructField("first_name",StringType,nullable=true),
    StructField("last_name",StringType,nullable=true),
    StructField("email", StringType,nullable=true),
    StructField("country", StringType,nullable=true),
    StructField("updated", DateType,nullable=true),
    StructField("registered", BooleanType,nullable=true)
  ))

import org.apache.spark.sql.types.{StructType, StructField, StringType, IntegerType, BooleanType, DateType}
schemaSpaniards: org.apache.spark.sql.types.StructType = StructType(StructField(id,StringType,true),StructField(first_name,StringType,true),StructField(last_name,StringType,true),StructField(email,StringType,true),StructField(country,StringType,true),StructField(updated,DateType,true),StructField(registered,BooleanType,true))

In [ ]:
val schemaSpaniardsDf = spark.read.schema(schemaSpaniards).json("/Users/aantolinez/Downloads/Spaniards.json")

schemaSpaniardsDf: org.apache.spark.sql.DataFrame = [id: string, first_name: string ... 5 more fields]

In [ ]:
schemaSpaniardsDf.printSchema()

root
 |-- id: string (nullable = true)
 |-- first_name: string (nullable = true)
 |-- last_name: string (nullable = true)
 |-- email: string (nullable = true)
 |-- country: string (nullable = true)
 |-- updated: date (nullable = true)
 |-- registered: boolean (nullable = true)

In [ ]:
schemaSpaniardsDf.show(false)

+---+----------+---------+-------------------+-------+----------+----------+
|id |first_name|last_name|email              |country|updated   |registered|
+---+----------+---------+-------------------+-------+----------+----------+
|1  |Luis      |Ortiz    |luis.ortiz@mapy.cz |Spain  |2015-05-16|false     |
|2  |Alfonso   |Antolinez|aantolinez@optc.es |Spain  |2015-03-11|true      |
|3  |Juan      |Dominguez|jdomin@xyz.org     |Spain  |2015-02-15|true      |
|4  |Santiago  |Sanchez  |ssanchez@google.com|Spain  |2014-10-31|false     |
+---+----------+---------+-------------------+-------+----------+----------+

**Chapter 4. Work With Complex Nested JSON Structures using Spark**

In [ ]:
val dfMlBooks = spark.read.option("multiline", "true").json("file:///Users/aantolinez/Books_array.json")

dfMlBooks: org.apache.spark.sql.DataFrame = [Book: struct<Authors: array<struct<firstname:string,lastname:string>>, DOI: string ... 7 more fields>]

In [ ]:
dfMlBooks.printSchema()

root
 |-- Book: struct (nullable = true)
 |    |-- Authors: array (nullable = true)
 |    |    |-- element: struct (containsNull = true)
 |    |    |    |-- firstname: string (nullable = true)
 |    |    |    |-- lastname: string (nullable = true)
 |    |-- DOI: string (nullable = true)
 |    |-- Editors: array (nullable = true)
 |    |    |-- element: struct (containsNull = true)
 |    |    |    |-- firstname: string (nullable = true)
 |    |    |    |-- lastname: string (nullable = true)
 |    |-- ISBN: array (nullable = true)
 |    |    |-- element: struct (containsNull = true)
 |    |    |    |-- Hardcover ISBN: string (nullable = true)
 |    |    |    |-- Softcover ISBN: string (nullable = true)
 |    |    |    |-- eBook ISBN: string (nullable = true)
 |    |-- Id: long (nullable = true)
 |    |-- Publisher: string (nullable = true)
 |    |-- Title: struct (nullable = true)
 |    |    |-- Book Subtitle: string (nullable = true)
 |    |    |-- Book Title: string (nullable = true)
 |    |-- Topics: array (nullable = true)
 |    |    |-- element: string (containsNull = true)
 |    |-- eBook Packages: array (nullable = true)
 |    |    |-- element: string (containsNull = true)

In [ ]:
dfMlBooks.show(false)

+----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
|Book                                                                                                                                                                                                                                                                                                                                                                                                                                    |
+----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
|{[{Adam,  Freeman}], https://doi.org/10.1007/978-1-4842-7355-5, null, [{null, 978-1-4842-7354-8, 978-1-4842-7355-5}], 1, Apress Berkeley, CA, {The Complete Guide to Programming Reliable and Efficient Software Using Golang, Pro Go}, [Programming Language, Open Source, Programming Techniques], [Professional and Applied Computing, Professional and Applied Computing (R0), Apress Access Books]}                                |
|{[{Hien, Luu}], https://doi.org/10.1007/978-1-4842-3579-9, null, [{null, null, 978-1-4842-3579-9}], 2, Apress Berkeley, CA, {With Resilient Distributed Datasets, Spark SQL, Structured Streaming and Spark Machine Learning library, Beginning Apache Spark 2}, [Big Data, Java, Data Mining and Knowledge Discovery, Open Source], [Professional and Applied Computing, Professional and Applied Computing (R0), Apress Access Books]}|
|{null, https://doi.org/10.1007/978-981-13-0550-4, [{Valentina E., Mamta Mittal}, {Balas, Lalit Mohan Goyal}], [{978-981-13-0549-8, 978-981-13-4448-0, 978-981-13-0550-4}], 3, Springer Singapore, {null, Big Data Processing Using Spark in Cloud}, [Big Data, Data and Information Security, Data Analysis and Big Data], [ Engineering, Engineering (R0)]}                                                                            |
+----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+

In [ ]:
val df2 =dfMlBooks.select("Book.*")

df2: org.apache.spark.sql.DataFrame = [Authors: array<struct<firstname:string,lastname:string>>, DOI: string ... 7 more fields]

In [ ]:
val df3=df2.select(explode_outer($"Authors"), col("DOI"), $"Editors", $"ISBN", col("Id"), col("Publisher"), $"Title", col("Topics"), $"eBook Packages")
//df3.show(false)
df3.printSchema()

root
 |-- col: struct (nullable = true)
 |    |-- firstname: string (nullable = true)
 |    |-- lastname: string (nullable = true)
 |-- DOI: string (nullable = true)
 |-- Editors: array (nullable = true)
 |    |-- element: struct (containsNull = true)
 |    |    |-- firstname: string (nullable = true)
 |    |    |-- lastname: string (nullable = true)
 |-- ISBN: array (nullable = true)
 |    |-- element: struct (containsNull = true)
 |    |    |-- Hardcover ISBN: string (nullable = true)
 |    |    |-- Softcover ISBN: string (nullable = true)
 |    |    |-- eBook ISBN: string (nullable = true)
 |-- Id: long (nullable = true)
 |-- Publisher: string (nullable = true)
 |-- Title: struct (nullable = true)
 |    |-- Book Subtitle: string (nullable = true)
 |    |-- Book Title: string (nullable = true)
 |-- Topics: array (nullable = true)
 |    |-- element: string (containsNull = true)
 |-- eBook Packages: array (nullable = true)
 |    |-- element: string (containsNull = true)

df3: org.apache.spark.sql.DataFrame = [col: struct<firstname: string, lastname: string>, DOI: string ... 7 more fields]

In [ ]:
val df4=df3.select(col("col.*"),  col("DOI"), explode_outer($"Editors"), $"ISBN", col("Id"), col("Publisher"), $"Title", col("Topics"), $"eBook Packages")
//df4.show(false)
df4.printSchema()

root
 |-- firstname: string (nullable = true)
 |-- lastname: string (nullable = true)
 |-- DOI: string (nullable = true)
 |-- col: struct (nullable = true)
 |    |-- firstname: string (nullable = true)
 |    |-- lastname: string (nullable = true)
 |-- ISBN: array (nullable = true)
 |    |-- element: struct (containsNull = true)
 |    |    |-- Hardcover ISBN: string (nullable = true)
 |    |    |-- Softcover ISBN: string (nullable = true)
 |    |    |-- eBook ISBN: string (nullable = true)
 |-- Id: long (nullable = true)
 |-- Publisher: string (nullable = true)
 |-- Title: struct (nullable = true)
 |    |-- Book Subtitle: string (nullable = true)
 |    |-- Book Title: string (nullable = true)
 |-- Topics: array (nullable = true)
 |    |-- element: string (containsNull = true)
 |-- eBook Packages: array (nullable = true)
 |    |-- element: string (containsNull = true)

df4: org.apache.spark.sql.DataFrame = [firstname: string, lastname: string ... 8 more fields]

In [ ]:
val df5=df4.select(col("firstname").alias("Afirstname"),col("lastname").alias("Alastname"),col("DOI"), col("col.*"),explode_outer($"ISBN"), col("Id"), col("Publisher"), $"Title", col("Topics"), $"eBook Packages")
//df5.show(false)
df5.printSchema()

root
 |-- Afirstname: string (nullable = true)
 |-- Alastname: string (nullable = true)
 |-- DOI: string (nullable = true)
 |-- firstname: string (nullable = true)
 |-- lastname: string (nullable = true)
 |-- col: struct (nullable = true)
 |    |-- Hardcover ISBN: string (nullable = true)
 |    |-- Softcover ISBN: string (nullable = true)
 |    |-- eBook ISBN: string (nullable = true)
 |-- Id: long (nullable = true)
 |-- Publisher: string (nullable = true)
 |-- Title: struct (nullable = true)
 |    |-- Book Subtitle: string (nullable = true)
 |    |-- Book Title: string (nullable = true)
 |-- Topics: array (nullable = true)
 |    |-- element: string (containsNull = true)
 |-- eBook Packages: array (nullable = true)
 |    |-- element: string (containsNull = true)

df5: org.apache.spark.sql.DataFrame = [Afirstname: string, Alastname: string ... 9 more fields]

In [ ]:
val df6=df5.select(col("Afirstname"),col("Alastname"),col("DOI"),col("firstname").alias("Efirstname"),col("lastname").alias("Elastname"),col("col.Hardcover ISBN").alias("Hardcover ISBN"),col("col.Softcover ISBN").alias("Softcover ISBN"),col("col.eBook ISBN").alias("eBook ISBN"), col("Id"), col("Publisher"),col("Title.Book Subtitle").alias("Book Subtitle"),col("Title.Book Title").alias("Book Title") ,explode_outer($"Topics").alias("Topics"), $"eBook Packages")
//df6.show(false)
df6.printSchema()

root
 |-- Afirstname: string (nullable = true)
 |-- Alastname: string (nullable = true)
 |-- DOI: string (nullable = true)
 |-- Efirstname: string (nullable = true)
 |-- Elastname: string (nullable = true)
 |-- Hardcover ISBN: string (nullable = true)
 |-- Softcover ISBN: string (nullable = true)
 |-- eBook ISBN: string (nullable = true)
 |-- Id: long (nullable = true)
 |-- Publisher: string (nullable = true)
 |-- Book Subtitle: string (nullable = true)
 |-- Book Title: string (nullable = true)
 |-- Topics: string (nullable = true)
 |-- eBook Packages: array (nullable = true)
 |    |-- element: string (containsNull = true)

df6: org.apache.spark.sql.DataFrame = [Afirstname: string, Alastname: string ... 12 more fields]

In [ ]:
val df7=df6.select(col("Afirstname"),col("Alastname"),col("DOI"),col("Efirstname"), col("Elastname"),col("Hardcover ISBN"),col("Softcover ISBN"),col("eBook ISBN"),col("Id"),col("Publisher"),col("Book Subtitle"),col("Book Title"),col("Topics"),explode_outer( $"eBook Packages").alias("eBook Packages"))
df7.show(10, false)

+----------+---------+-----------------------------------------+----------+---------+--------------+-----------------+-----------------+---+-------------------+-------------------------------------------------------------------------------------------------------+------------------------+----------------------+---------------------------------------+
|Afirstname|Alastname|DOI                                      |Efirstname|Elastname|Hardcover ISBN|Softcover ISBN   |eBook ISBN       |Id |Publisher          |Book Subtitle                                                                                          |Book Title              |Topics                |eBook Packages                         |
+----------+---------+-----------------------------------------+----------+---------+--------------+-----------------+-----------------+---+-------------------+-------------------------------------------------------------------------------------------------------+------------------------+----------------------+---------------------------------------+
|Adam      | Freeman |https://doi.org/10.1007/978-1-4842-7355-5|null      |null     |null          |978-1-4842-7354-8|978-1-4842-7355-5|1  |Apress Berkeley, CA|The Complete Guide to Programming Reliable and Efficient Software Using Golang                         |Pro Go                  |Programming Language  |Professional and Applied Computing     |
|Adam      | Freeman |https://doi.org/10.1007/978-1-4842-7355-5|null      |null     |null          |978-1-4842-7354-8|978-1-4842-7355-5|1  |Apress Berkeley, CA|The Complete Guide to Programming Reliable and Efficient Software Using Golang                         |Pro Go                  |Programming Language  |Professional and Applied Computing (R0)|
|Adam      | Freeman |https://doi.org/10.1007/978-1-4842-7355-5|null      |null     |null          |978-1-4842-7354-8|978-1-4842-7355-5|1  |Apress Berkeley, CA|The Complete Guide to Programming Reliable and Efficient Software Using Golang                         |Pro Go                  |Programming Language  |Apress Access Books                    |
|Adam      | Freeman |https://doi.org/10.1007/978-1-4842-7355-5|null      |null     |null          |978-1-4842-7354-8|978-1-4842-7355-5|1  |Apress Berkeley, CA|The Complete Guide to Programming Reliable and Efficient Software Using Golang                         |Pro Go                  |Open Source           |Professional and Applied Computing     |
|Adam      | Freeman |https://doi.org/10.1007/978-1-4842-7355-5|null      |null     |null          |978-1-4842-7354-8|978-1-4842-7355-5|1  |Apress Berkeley, CA|The Complete Guide to Programming Reliable and Efficient Software Using Golang                         |Pro Go                  |Open Source           |Professional and Applied Computing (R0)|
|Adam      | Freeman |https://doi.org/10.1007/978-1-4842-7355-5|null      |null     |null          |978-1-4842-7354-8|978-1-4842-7355-5|1  |Apress Berkeley, CA|The Complete Guide to Programming Reliable and Efficient Software Using Golang                         |Pro Go                  |Open Source           |Apress Access Books                    |
|Adam      | Freeman |https://doi.org/10.1007/978-1-4842-7355-5|null      |null     |null          |978-1-4842-7354-8|978-1-4842-7355-5|1  |Apress Berkeley, CA|The Complete Guide to Programming Reliable and Efficient Software Using Golang                         |Pro Go                  |Programming Techniques|Professional and Applied Computing     |
|Adam      | Freeman |https://doi.org/10.1007/978-1-4842-7355-5|null      |null     |null          |978-1-4842-7354-8|978-1-4842-7355-5|1  |Apress Berkeley, CA|The Complete Guide to Programming Reliable and Efficient Software Using Golang                         |Pro Go                  |Programming Techniques|Professional and Applied Computing (R0)|
|Adam      | Freeman |https://doi.org/10.1007/978-1-4842-7355-5|null      |null     |null          |978-1-4842-7354-8|978-1-4842-7355-5|1  |Apress Berkeley, CA|The Complete Guide to Programming Reliable and Efficient Software Using Golang                         |Pro Go                  |Programming Techniques|Apress Access Books                    |
|Hien      |Luu      |https://doi.org/10.1007/978-1-4842-3579-9|null      |null     |null          |null             |978-1-4842-3579-9|2  |Apress Berkeley, CA|With Resilient Distributed Datasets, Spark SQL, Structured Streaming and Spark Machine Learning library|Beginning Apache Spark 2|Big Data              |Professional and Applied Computing     |
+----------+---------+-----------------------------------------+----------+---------+--------------+-----------------+-----------------+---+-------------------+-------------------------------------------------------------------------------------------------------+------------------------+----------------------+---------------------------------------+
only showing top 10 rows

df7: org.apache.spark.sql.DataFrame = [Afirstname: string, Alastname: string ... 12 more fields]

In [ ]:
df7.printSchema()

root
 |-- Afirstname: string (nullable = true)
 |-- Alastname: string (nullable = true)
 |-- DOI: string (nullable = true)
 |-- Efirstname: string (nullable = true)
 |-- Elastname: string (nullable = true)
 |-- Hardcover ISBN: string (nullable = true)
 |-- Softcover ISBN: string (nullable = true)
 |-- eBook ISBN: string (nullable = true)
 |-- Id: long (nullable = true)
 |-- Publisher: string (nullable = true)
 |-- Book Subtitle: string (nullable = true)
 |-- Book Title: string (nullable = true)
 |-- Topics: string (nullable = true)
 |-- eBook Packages: string (nullable = true)

In [ ]:
val df8=df7.select("*")
df8.show(false)

+----------+---------+-----------------------------------------+----------+---------+--------------+-----------------+-----------------+---+-------------------+-------------------------------------------------------------------------------------------------------+------------------------+-----------------------------------+---------------------------------------+
|Afirstname|Alastname|DOI                                      |Efirstname|Elastname|Hardcover ISBN|Softcover ISBN   |eBook ISBN       |Id |Publisher          |Book Subtitle                                                                                          |Book Title              |Topics                             |eBook Packages                         |
+----------+---------+-----------------------------------------+----------+---------+--------------+-----------------+-----------------+---+-------------------+-------------------------------------------------------------------------------------------------------+------------------------+-----------------------------------+---------------------------------------+
|Adam      | Freeman |https://doi.org/10.1007/978-1-4842-7355-5|null      |null     |null          |978-1-4842-7354-8|978-1-4842-7355-5|1  |Apress Berkeley, CA|The Complete Guide to Programming Reliable and Efficient Software Using Golang                         |Pro Go                  |Programming Language               |Professional and Applied Computing     |
|Adam      | Freeman |https://doi.org/10.1007/978-1-4842-7355-5|null      |null     |null          |978-1-4842-7354-8|978-1-4842-7355-5|1  |Apress Berkeley, CA|The Complete Guide to Programming Reliable and Efficient Software Using Golang                         |Pro Go                  |Programming Language               |Professional and Applied Computing (R0)|
|Adam      | Freeman |https://doi.org/10.1007/978-1-4842-7355-5|null      |null     |null          |978-1-4842-7354-8|978-1-4842-7355-5|1  |Apress Berkeley, CA|The Complete Guide to Programming Reliable and Efficient Software Using Golang                         |Pro Go                  |Programming Language               |Apress Access Books                    |
|Adam      | Freeman |https://doi.org/10.1007/978-1-4842-7355-5|null      |null     |null          |978-1-4842-7354-8|978-1-4842-7355-5|1  |Apress Berkeley, CA|The Complete Guide to Programming Reliable and Efficient Software Using Golang                         |Pro Go                  |Open Source                        |Professional and Applied Computing     |
|Adam      | Freeman |https://doi.org/10.1007/978-1-4842-7355-5|null      |null     |null          |978-1-4842-7354-8|978-1-4842-7355-5|1  |Apress Berkeley, CA|The Complete Guide to Programming Reliable and Efficient Software Using Golang                         |Pro Go                  |Open Source                        |Professional and Applied Computing (R0)|
|Adam      | Freeman |https://doi.org/10.1007/978-1-4842-7355-5|null      |null     |null          |978-1-4842-7354-8|978-1-4842-7355-5|1  |Apress Berkeley, CA|The Complete Guide to Programming Reliable and Efficient Software Using Golang                         |Pro Go                  |Open Source                        |Apress Access Books                    |
|Adam      | Freeman |https://doi.org/10.1007/978-1-4842-7355-5|null      |null     |null          |978-1-4842-7354-8|978-1-4842-7355-5|1  |Apress Berkeley, CA|The Complete Guide to Programming Reliable and Efficient Software Using Golang                         |Pro Go                  |Programming Techniques             |Professional and Applied Computing     |
|Adam      | Freeman |https://doi.org/10.1007/978-1-4842-7355-5|null      |null     |null          |978-1-4842-7354-8|978-1-4842-7355-5|1  |Apress Berkeley, CA|The Complete Guide to Programming Reliable and Efficient Software Using Golang                         |Pro Go                  |Programming Techniques             |Professional and Applied Computing (R0)|
|Adam      | Freeman |https://doi.org/10.1007/978-1-4842-7355-5|null      |null     |null          |978-1-4842-7354-8|978-1-4842-7355-5|1  |Apress Berkeley, CA|The Complete Guide to Programming Reliable and Efficient Software Using Golang                         |Pro Go                  |Programming Techniques             |Apress Access Books                    |
|Hien      |Luu      |https://doi.org/10.1007/978-1-4842-3579-9|null      |null     |null          |null             |978-1-4842-3579-9|2  |Apress Berkeley, CA|With Resilient Distributed Datasets, Spark SQL, Structured Streaming and Spark Machine Learning library|Beginning Apache Spark 2|Big Data                           |Professional and Applied Computing     |
|Hien      |Luu      |https://doi.org/10.1007/978-1-4842-3579-9|null      |null     |null          |null             |978-1-4842-3579-9|2  |Apress Berkeley, CA|With Resilient Distributed Datasets, Spark SQL, Structured Streaming and Spark Machine Learning library|Beginning Apache Spark 2|Big Data                           |Professional and Applied Computing (R0)|
|Hien      |Luu      |https://doi.org/10.1007/978-1-4842-3579-9|null      |null     |null          |null             |978-1-4842-3579-9|2  |Apress Berkeley, CA|With Resilient Distributed Datasets, Spark SQL, Structured Streaming and Spark Machine Learning library|Beginning Apache Spark 2|Big Data                           |Apress Access Books                    |
|Hien      |Luu      |https://doi.org/10.1007/978-1-4842-3579-9|null      |null     |null          |null             |978-1-4842-3579-9|2  |Apress Berkeley, CA|With Resilient Distributed Datasets, Spark SQL, Structured Streaming and Spark Machine Learning library|Beginning Apache Spark 2|Java                               |Professional and Applied Computing     |
|Hien      |Luu      |https://doi.org/10.1007/978-1-4842-3579-9|null      |null     |null          |null             |978-1-4842-3579-9|2  |Apress Berkeley, CA|With Resilient Distributed Datasets, Spark SQL, Structured Streaming and Spark Machine Learning library|Beginning Apache Spark 2|Java                               |Professional and Applied Computing (R0)|
|Hien      |Luu      |https://doi.org/10.1007/978-1-4842-3579-9|null      |null     |null          |null             |978-1-4842-3579-9|2  |Apress Berkeley, CA|With Resilient Distributed Datasets, Spark SQL, Structured Streaming and Spark Machine Learning library|Beginning Apache Spark 2|Java                               |Apress Access Books                    |
|Hien      |Luu      |https://doi.org/10.1007/978-1-4842-3579-9|null      |null     |null          |null             |978-1-4842-3579-9|2  |Apress Berkeley, CA|With Resilient Distributed Datasets, Spark SQL, Structured Streaming and Spark Machine Learning library|Beginning Apache Spark 2|Data Mining and Knowledge Discovery|Professional and Applied Computing     |
|Hien      |Luu      |https://doi.org/10.1007/978-1-4842-3579-9|null      |null     |null          |null             |978-1-4842-3579-9|2  |Apress Berkeley, CA|With Resilient Distributed Datasets, Spark SQL, Structured Streaming and Spark Machine Learning library|Beginning Apache Spark 2|Data Mining and Knowledge Discovery|Professional and Applied Computing (R0)|
|Hien      |Luu      |https://doi.org/10.1007/978-1-4842-3579-9|null      |null     |null          |null             |978-1-4842-3579-9|2  |Apress Berkeley, CA|With Resilient Distributed Datasets, Spark SQL, Structured Streaming and Spark Machine Learning library|Beginning Apache Spark 2|Data Mining and Knowledge Discovery|Apress Access Books                    |
|Hien      |Luu      |https://doi.org/10.1007/978-1-4842-3579-9|null      |null     |null          |null             |978-1-4842-3579-9|2  |Apress Berkeley, CA|With Resilient Distributed Datasets, Spark SQL, Structured Streaming and Spark Machine Learning library|Beginning Apache Spark 2|Open Source                        |Professional and Applied Computing     |
|Hien      |Luu      |https://doi.org/10.1007/978-1-4842-3579-9|null      |null     |null          |null             |978-1-4842-3579-9|2  |Apress Berkeley, CA|With Resilient Distributed Datasets, Spark SQL, Structured Streaming and Spark Machine Learning library|Beginning Apache Spark 2|Open Source                        |Professional and Applied Computing (R0)|
+----------+---------+-----------------------------------------+----------+---------+--------------+-----------------+-----------------+---+-------------------+-------------------------------------------------------------------------------------------------------+------------------------+-----------------------------------+---------------------------------------+
only showing top 20 rows

df8: org.apache.spark.sql.DataFrame = [Afirstname: string, Alastname: string ... 12 more fields]

**Chapter 4. Read and Write CSV Files with Spark**

In [ ]:
// The default delimiter is "," for CSV files
val PATH ="Downloads/Spanish_Writers_by_Century_II.csv"

val df0 = spark.read.csv(PATH)
df0.show(5)

+--------------------+
|                 _c0|
+--------------------+
|Name;Surname;Cent...|
|Gonzalo;de Berceo...|
| Juan ;Ruiz;XIV;1283|
|Fernando;de Rojas...|
|Garcilaso;de la V...|
+--------------------+
only showing top 5 rows

PATH: String = Downloads/Spanish_Writers_by_Century_II.csv
df0: org.apache.spark.sql.DataFrame = [_c0: string]

In [ ]:
// We can take advantage of the option() function to specify a field's delimiter.
val df1 = spark.read.option("delimiter", ";").csv(PATH)
df1.show(5)

+---------+----------+-------+-----------+
|      _c0|       _c1|    _c2|        _c3|
+---------+----------+-------+-----------+
|     Name|   Surname|Century|YearOfBirth|
|  Gonzalo| de Berceo|   XIII|       1196|
|    Juan |      Ruiz|    XIV|       1283|
| Fernando|  de Rojas|     XV|       1465|
|Garcilaso|de la Vega|    XVI|       1539|
+---------+----------+-------+-----------+
only showing top 5 rows

df1: org.apache.spark.sql.DataFrame = [_c0: string, _c1: string ... 2 more fields]

In [ ]:
// To skip the first line and use it as column names we can use .option("header", "true")
val df2 = spark.read.option("delimiter", ";").option("header", "true").csv(PATH)
df2.show(5)

+---------+------------+-------+-----------+
|     Name|     Surname|Century|YearOfBirth|
+---------+------------+-------+-----------+
|  Gonzalo|   de Berceo|   XIII|       1196|
|    Juan |        Ruiz|    XIV|       1283|
| Fernando|    de Rojas|     XV|       1465|
|Garcilaso|  de la Vega|    XVI|       1539|
|   Miguel|de Cervantes|    XVI|       1547|
+---------+------------+-------+-----------+
only showing top 5 rows

df2: org.apache.spark.sql.DataFrame = [Name: string, Surname: string ... 2 more fields]

In [ ]:
// You can also use options() to use multiple options
val df3 = spark.read.options(Map("inferSchema"->"true","delimiter"->";", "header"->"true")).csv(PATH)
df3.show(5)

+---------+------------+-------+-----------+
|     Name|     Surname|Century|YearOfBirth|
+---------+------------+-------+-----------+
|  Gonzalo|   de Berceo|   XIII|       1196|
|    Juan |        Ruiz|    XIV|       1283|
| Fernando|    de Rojas|     XV|       1465|
|Garcilaso|  de la Vega|    XVI|       1539|
|   Miguel|de Cervantes|    XVI|       1547|
+---------+------------+-------+-----------+
only showing top 5 rows

df3: org.apache.spark.sql.DataFrame = [Name: string, Surname: string ... 2 more fields]

In [ ]:
val GZIP_PATH = "Downloads/Spanish_Writers_by_Century_II.csv.gz"

val df5 = spark.read.option("delimiter", ";").option("header", "true").option("compression", "gzip").csv(GZIP_PATH)
df5.show(5)

+---------+------------+-------+-----------+
|     Name|     Surname|Century|YearOfBirth|
+---------+------------+-------+-----------+
|  Gonzalo|   de Berceo|   XIII|       1196|
|    Juan |        Ruiz|    XIV|       1283|
| Fernando|    de Rojas|     XV|       1465|
|Garcilaso|  de la Vega|    XVI|       1539|
|   Miguel|de Cervantes|    XVI|       1547|
+---------+------------+-------+-----------+
only showing top 5 rows

GZIP_PATH: String = Downloads/Spanish_Writers_by_Century_II.csv.gz
df5: org.apache.spark.sql.DataFrame = [Name: string, Surname: string ... 2 more fields]

In [ ]:
// To save a DataFrame to a CSV file

OUTPUT_PATH="Downloads/"

df5.write.option("header","true").csv(OUTPUT_PATH)

**Chapter 4. Hive Tables**

**Chapter 4. Use of Spark DataFrames**

*Data Sources*
* https://www.kaggle.com/datasets/abecklas/fifa-world-cup?select=WorldCups.csv

In [ ]:


val dfWC=spark.read.option("header", "true").csv("file:///Users/aantolinez/Downloads/WorldCups.csv")

Intitializing Scala interpreter ...

Spark Web UI available at http://192.168.2.38:4045
SparkContext available as 'sc' (version = 3.3.0, master = local[*], app id = local-1669988580258)
SparkSession available as 'spark'

dfWC: org.apache.spark.sql.DataFrame = [Year: string, Country: string ... 8 more fields]

In [ ]:
// The show() function without parameters displays 20 rows and truncates the text length to 20 characters by default.
dfWC.show(5)

+----+-----------+----------+--------------+-------+----------+-----------+--------------+-------------+----------+
|Year|    Country|    Winner|    Runners-Up|  Third|    Fourth|GoalsScored|QualifiedTeams|MatchesPlayed|Attendance|
+----+-----------+----------+--------------+-------+----------+-----------+--------------+-------------+----------+
|1930|    Uruguay|   Uruguay|     Argentina|    USA|Yugoslavia|         70|            13|           18|   590.549|
|1934|      Italy|     Italy|Czechoslovakia|Germany|   Austria|         70|            16|           17|   363.000|
|1938|     France|     Italy|       Hungary| Brazil|    Sweden|         84|            15|           18|   375.700|
|1950|     Brazil|   Uruguay|        Brazil| Sweden|     Spain|         88|            13|           22| 1.045.246|
|1954|Switzerland|Germany FR|       Hungary|Austria|   Uruguay|        140|            16|           26|   768.607|
+----+-----------+----------+--------------+-------+----------+-----------+--------------+-------------+----------+
only showing top 5 rows

In [ ]:
dfWC.show(5,8)

+----+--------+--------+----------+-------+--------+-----------+--------------+-------------+----------+
|Year| Country|  Winner|Runners-Up|  Third|  Fourth|GoalsScored|QualifiedTeams|MatchesPlayed|Attendance|
+----+--------+--------+----------+-------+--------+-----------+--------------+-------------+----------+
|1930| Uruguay| Uruguay|  Argen...|    USA|Yugos...|         70|            13|           18|   590.549|
|1934|   Italy|   Italy|  Czech...|Germany| Austria|         70|            16|           17|   363.000|
|1938|  France|   Italy|   Hungary| Brazil|  Sweden|         84|            15|           18|   375.700|
|1950|  Brazil| Uruguay|    Brazil| Sweden|   Spain|         88|            13|           22|  1.045...|
|1954|Switz...|Germa...|   Hungary|Austria| Uruguay|        140|            16|           26|   768.607|
+----+--------+--------+----------+-------+--------+-----------+--------------+-------------+----------+
only showing top 5 rows

In [ ]:
// Select all the columns from a DataFrame
dfWC.select("*").show(5, 7)

+----+-------+-------+----------+-------+-------+-----------+--------------+-------------+----------+
|Year|Country| Winner|Runners-Up|  Third| Fourth|GoalsScored|QualifiedTeams|MatchesPlayed|Attendance|
+----+-------+-------+----------+-------+-------+-----------+--------------+-------------+----------+
|1930|Uruguay|Uruguay|   Arge...|    USA|Yugo...|         70|            13|           18|   590.549|
|1934|  Italy|  Italy|   Czec...|Germany|Austria|         70|            16|           17|   363.000|
|1938| France|  Italy|   Hungary| Brazil| Sweden|         84|            15|           18|   375.700|
|1950| Brazil|Uruguay|    Brazil| Sweden|  Spain|         88|            13|           22|   1.04...|
|1954|Swit...|Germ...|   Hungary|Austria|Uruguay|        140|            16|           26|   768.607|
+----+-------+-------+----------+-------+-------+-----------+--------------+-------------+----------+
only showing top 5 rows

In [ ]:
// Fetch specific columns from a DataFrame using column names

dfWC.select("Year","Country", "Winner", "Runners-Up", "Third","Fourth").show(5, false)

+----+-----------+----------+--------------+-------+----------+
|Year|Country    |Winner    |Runners-Up    |Third  |Fourth    |
+----+-----------+----------+--------------+-------+----------+
|1930|Uruguay    |Uruguay   |Argentina     |USA    |Yugoslavia|
|1934|Italy      |Italy     |Czechoslovakia|Germany|Austria   |
|1938|France     |Italy     |Hungary       |Brazil |Sweden    |
|1950|Brazil     |Uruguay   |Brazil        |Sweden |Spain     |
|1954|Switzerland|Germany FR|Hungary       |Austria|Uruguay   |
+----+-----------+----------+--------------+-------+----------+
only showing top 5 rows

In [ ]:
//Fetch individual columns from a DataFrame using Dataframe object name
dfWC.select(dfWC("Year"),dfWC("Country"),dfWC("Winner"),dfWC("Runners-Up"),dfWC("Third"),dfWC("Fourth")).show(5, false)

+----+-----------+----------+--------------+-------+----------+
|Year|Country    |Winner    |Runners-Up    |Third  |Fourth    |
+----+-----------+----------+--------------+-------+----------+
|1930|Uruguay    |Uruguay   |Argentina     |USA    |Yugoslavia|
|1934|Italy      |Italy     |Czechoslovakia|Germany|Austria   |
|1938|France     |Italy     |Hungary       |Brazil |Sweden    |
|1950|Brazil     |Uruguay   |Brazil        |Sweden |Spain     |
|1954|Switzerland|Germany FR|Hungary       |Austria|Uruguay   |
+----+-----------+----------+--------------+-------+----------+
only showing top 5 rows

In [ ]:
//Fetch individual columns from a DataFrame using col function.

import org.apache.spark.sql.functions.col
dfWC.select(col("Year"),col("Country"),col("Winner"),col("Runners-Up"),col("Third"),col("Fourth")).show(5, false)

+----+-----------+----------+--------------+-------+----------+
|Year|Country    |Winner    |Runners-Up    |Third  |Fourth    |
+----+-----------+----------+--------------+-------+----------+
|1930|Uruguay    |Uruguay   |Argentina     |USA    |Yugoslavia|
|1934|Italy      |Italy     |Czechoslovakia|Germany|Austria   |
|1938|France     |Italy     |Hungary       |Brazil |Sweden    |
|1950|Brazil     |Uruguay   |Brazil        |Sweden |Spain     |
|1954|Switzerland|Germany FR|Hungary       |Austria|Uruguay   |
+----+-----------+----------+--------------+-------+----------+
only showing top 5 rows

import org.apache.spark.sql.functions.col

In [ ]:
// Select columns from DataFrame based on column index
dfWC.select(dfWC.columns(0),dfWC.columns(1),dfWC.columns(2),dfWC.columns(3)).show(5, false)

+----+-----------+----------+--------------+
|Year|Country    |Winner    |Runners-Up    |
+----+-----------+----------+--------------+
|1930|Uruguay    |Uruguay   |Argentina     |
|1934|Italy      |Italy     |Czechoslovakia|
|1938|France     |Italy     |Hungary       |
|1950|Brazil     |Uruguay   |Brazil        |
|1954|Switzerland|Germany FR|Hungary       |
+----+-----------+----------+--------------+
only showing top 5 rows

*Using a sequence of columns*

In [ ]:
// Select columns from DataFrame based on column index
val colIndex = Seq(0, 1, 2, 3, 4, 5)
dfWC.select(colIndex map dfWC.columns map col: _*).show(5, false)

+----+-----------+----------+--------------+-------+----------+
|Year|Country    |Winner    |Runners-Up    |Third  |Fourth    |
+----+-----------+----------+--------------+-------+----------+
|1930|Uruguay    |Uruguay   |Argentina     |USA    |Yugoslavia|
|1934|Italy      |Italy     |Czechoslovakia|Germany|Austria   |
|1938|France     |Italy     |Hungary       |Brazil |Sweden    |
|1950|Brazil     |Uruguay   |Brazil        |Sweden |Spain     |
|1954|Switzerland|Germany FR|Hungary       |Austria|Uruguay   |
+----+-----------+----------+--------------+-------+----------+
only showing top 5 rows

colIndex: Seq[Int] = List(0, 1, 2, 3, 4, 5)

In [ ]:
// Using a sequence plus the string column names:
val seqColumnas = Seq("Year","Country","Winner","Runners-Up","Third","Fourth")
val result = dfWC.select(seqColumnas.head, seqColumnas.tail: _*).show(5, false)

+----+-----------+----------+--------------+-------+----------+
|Year|Country    |Winner    |Runners-Up    |Third  |Fourth    |
+----+-----------+----------+--------------+-------+----------+
|1930|Uruguay    |Uruguay   |Argentina     |USA    |Yugoslavia|
|1934|Italy      |Italy     |Czechoslovakia|Germany|Austria   |
|1938|France     |Italy     |Hungary       |Brazil |Sweden    |
|1950|Brazil     |Uruguay   |Brazil        |Sweden |Spain     |
|1954|Switzerland|Germany FR|Hungary       |Austria|Uruguay   |
+----+-----------+----------+--------------+-------+----------+
only showing top 5 rows

seqColumnas: Seq[String] = List(Year, Country, Winner, Runners-Up, Third, Fourth)
result: Unit = ()

In [ ]:
// Using a sequence plus map Column name objects:
dfWC.select(seqColumnas.map(i => col(i)): _*).show(5,false)

+----+-----------+----------+--------------+-------+----------+
|Year|Country    |Winner    |Runners-Up    |Third  |Fourth    |
+----+-----------+----------+--------------+-------+----------+
|1930|Uruguay    |Uruguay   |Argentina     |USA    |Yugoslavia|
|1934|Italy      |Italy     |Czechoslovakia|Germany|Austria   |
|1938|France     |Italy     |Hungary       |Brazil |Sweden    |
|1950|Brazil     |Uruguay   |Brazil        |Sweden |Spain     |
|1954|Switzerland|Germany FR|Hungary       |Austria|Uruguay   |
+----+-----------+----------+--------------+-------+----------+
only showing top 5 rows

*Using a list of columns*

In [ ]:
import org.apache.spark.sql.Column

val miColumnas: List[Column] = List(new Column("Year"), new Column("Country"), new Column("Winner"))

dfWC.select(miColumnas: _*).show(5,false)

+----+-----------+----------+
|Year|Country    |Winner    |
+----+-----------+----------+
|1930|Uruguay    |Uruguay   |
|1934|Italy      |Italy     |
|1938|France     |Italy     |
|1950|Brazil     |Uruguay   |
|1954|Switzerland|Germany FR|
+----+-----------+----------+
only showing top 5 rows

import org.apache.spark.sql.Column
miColumnas: List[org.apache.spark.sql.Column] = List(Year, Country, Winner)

*Select Columns Based on Name Patterns, startsWith(String prefix) and endsWith(String suffix)*

In [ ]:
dfWC.select(dfWC.columns.filter(s=>s.startsWith("Y")).map(c=>col(c)):_*).show(5,false)

+----+
|Year|
+----+
|1930|
|1934|
|1938|
|1950|
|1954|
+----+
only showing top 5 rows

In [ ]:
dfWC.select(dfWC.columns.filter(s=>s.endsWith("ner")).map(c=>col(c)):_*).show(5,false)

+----------+
|Winner    |
+----------+
|Uruguay   |
|Italy     |
|Italy     |
|Uruguay   |
|Germany FR|
+----------+
only showing top 5 rows

In [ ]:
// Filter all rows that contains string 'mes' in a 'name' column
import org.apache.spark.sql.functions.col

dfWC.select("Year","Country","Winner","Runners-Up","Third","Fourth").filter(col("Winner").contains("S")).show()

+----+------------+------+-----------+-------+-------+
|Year|     Country|Winner| Runners-Up|  Third| Fourth|
+----+------------+------+-----------+-------+-------+
|2010|South Africa| Spain|Netherlands|Germany|Uruguay|
+----+------------+------+-----------+-------+-------+

import org.apache.spark.sql.functions.col

In [ ]:
// Use of filter with like to get the same result
dfWC.select("Year","Country","Winner","Runners-Up","Third","Fourth").filter(col("Winner").like("%S%")).show()

+----+------------+------+-----------+-------+-------+
|Year|     Country|Winner| Runners-Up|  Third| Fourth|
+----+------------+------+-----------+-------+-------+
|2010|South Africa| Spain|Netherlands|Germany|Uruguay|
+----+------------+------+-----------+-------+-------+

In [ ]:
// We can also use SQL ANSI languege to filter rows
dfWC.createOrReplaceTempView("WorldCups")
spark.sql("select Year,Country,Winner,`Runners-Up`,Third,Fourth from WorldCups where Winner like '%S%'").show()

+----+------------+------+-----------+-------+-------+
|Year|     Country|Winner| Runners-Up|  Third| Fourth|
+----+------------+------+-----------+-------+-------+
|2010|South Africa| Spain|Netherlands|Germany|Uruguay|
+----+------------+------+-----------+-------+-------+

*Use of Filter and Where to refine the results of query*

In [ ]:
dfWC.filter("Year < 1938").show(5,false)

+----+-------+-------+--------------+-------+----------+-----------+--------------+-------------+----------+
|Year|Country|Winner |Runners-Up    |Third  |Fourth    |GoalsScored|QualifiedTeams|MatchesPlayed|Attendance|
+----+-------+-------+--------------+-------+----------+-----------+--------------+-------------+----------+
|1930|Uruguay|Uruguay|Argentina     |USA    |Yugoslavia|70         |13            |18           |590.549   |
|1934|Italy  |Italy  |Czechoslovakia|Germany|Austria   |70         |16            |17           |363.000   |
+----+-------+-------+--------------+-------+----------+-----------+--------------+-------------+----------+

In [ ]:
dfWC.select(col("Year"),col("Country"),col("Winner"),col("Runners-Up"),col("Third"),col("Fourth")).filter("Year < 1938").show(5,false)

+----+-------+-------+--------------+-------+----------+
|Year|Country|Winner |Runners-Up    |Third  |Fourth    |
+----+-------+-------+--------------+-------+----------+
|1930|Uruguay|Uruguay|Argentina     |USA    |Yugoslavia|
|1934|Italy  |Italy  |Czechoslovakia|Germany|Austria   |
+----+-------+-------+--------------+-------+----------+

In [ ]:
dfWC.select(col("Year"),col("Country"),col("Winner"),col("Runners-Up")).filter("Year < 1938").filter("Country = 'Italy'").show(5,false)

+----+-------+------+--------------+
|Year|Country|Winner|Runners-Up    |
+----+-------+------+--------------+
|1934|Italy  |Italy |Czechoslovakia|
+----+-------+------+--------------+

In [ ]:
dfWC.where("Country = 'Italy'").show()

+----+-------+----------+--------------+-------+-------+-----------+--------------+-------------+----------+
|Year|Country|    Winner|    Runners-Up|  Third| Fourth|GoalsScored|QualifiedTeams|MatchesPlayed|Attendance|
+----+-------+----------+--------------+-------+-------+-----------+--------------+-------------+----------+
|1934|  Italy|     Italy|Czechoslovakia|Germany|Austria|         70|            16|           17|   363.000|
|1990|  Italy|Germany FR|     Argentina|  Italy|England|        115|            24|           52| 2.516.215|
+----+-------+----------+--------------+-------+-------+-----------+--------------+-------------+----------+

Using `col(ColumName)`, `$"ColumName"` and `DataFrame("ColumName")` to refer to column names while working with DataFrames and use of `“===”` for comparison.

In [ ]:
dfWC.select("Year","Country","Winner","Runners-Up","Third","Fourth","GoalsScored").filter('Winner === "Spain").show(false)

+----+------------+------+-----------+-------+-------+-----------+
|Year|Country     |Winner|Runners-Up |Third  |Fourth |GoalsScored|
+----+------------+------+-----------+-------+-------+-----------+
|2010|South Africa|Spain |Netherlands|Germany|Uruguay|145        |
+----+------------+------+-----------+-------+-------+-----------+

In [ ]:
dfWC.select("Year","Country","Winner","Runners-Up","Third","Fourth","GoalsScored").filter($"Winner" === "Spain").show(false)

+----+------------+------+-----------+-------+-------+-----------+
|Year|Country     |Winner|Runners-Up |Third  |Fourth |GoalsScored|
+----+------------+------+-----------+-------+-------+-----------+
|2010|South Africa|Spain |Netherlands|Germany|Uruguay|145        |
+----+------------+------+-----------+-------+-------+-----------+

In [ ]:
dfWC.select("Year","Country","Winner","Runners-Up","Third","Fourth","GoalsScored").filter(col("Winner") === "Spain").show(false)

+----+------------+------+-----------+-------+-------+-----------+
|Year|Country     |Winner|Runners-Up |Third  |Fourth |GoalsScored|
+----+------------+------+-----------+-------+-------+-----------+
|2010|South Africa|Spain |Netherlands|Germany|Uruguay|145        |
+----+------------+------+-----------+-------+-------+-----------+

In [ ]:
dfWC.select("Year","Country","Winner","Runners-Up","Third","Fourth","GoalsScored").filter(dfWC("Winner") === "Spain").show(false)

+----+------------+------+-----------+-------+-------+-----------+
|Year|Country     |Winner|Runners-Up |Third  |Fourth |GoalsScored|
+----+------------+------+-----------+-------+-------+-----------+
|2010|South Africa|Spain |Netherlands|Germany|Uruguay|145        |
+----+------------+------+-----------+-------+-------+-----------+

*Use of where()*

In [ ]:
dfWC.select("Year","Country","Winner","Runners-Up","Third","Fourth","GoalsScored").where('Winner === "Spain").show(false)

+----+------------+------+-----------+-------+-------+-----------+
|Year|Country     |Winner|Runners-Up |Third  |Fourth |GoalsScored|
+----+------------+------+-----------+-------+-------+-----------+
|2010|South Africa|Spain |Netherlands|Germany|Uruguay|145        |
+----+------------+------+-----------+-------+-------+-----------+

In [ ]:
dfWC.select("Year","Country","Winner","Runners-Up","Third","Fourth","GoalsScored").where($"Winner" === "Spain").show(false)

+----+------------+------+-----------+-------+-------+-----------+
|Year|Country     |Winner|Runners-Up |Third  |Fourth |GoalsScored|
+----+------------+------+-----------+-------+-------+-----------+
|2010|South Africa|Spain |Netherlands|Germany|Uruguay|145        |
+----+------------+------+-----------+-------+-------+-----------+

In [ ]:
dfWC.select("Year","Country","Winner","Runners-Up","Third","Fourth","GoalsScored").where(col("Winner") === "Spain").show(false)

+----+------------+------+-----------+-------+-------+-----------+
|Year|Country     |Winner|Runners-Up |Third  |Fourth |GoalsScored|
+----+------------+------+-----------+-------+-------+-----------+
|2010|South Africa|Spain |Netherlands|Germany|Uruguay|145        |
+----+------------+------+-----------+-------+-------+-----------+

In [ ]:
dfWC.select("Year","Country","Winner","Runners-Up","Third","Fourth","GoalsScored").where(dfWC("Winner") === "Spain").show(false)

+----+------------+------+-----------+-------+-------+-----------+
|Year|Country     |Winner|Runners-Up |Third  |Fourth |GoalsScored|
+----+------------+------+-----------+-------+-------+-----------+
|2010|South Africa|Spain |Netherlands|Germany|Uruguay|145        |
+----+------------+------+-----------+-------+-------+-----------+

* filter() Spark DataFrame based on multiple conditions using AND, OR, and NOT. Equivalent &&", "||" and "!" *

In [ ]:
// Using AND, "&&" logical operator
dfWC.select("Year","Country","Winner","Runners-Up","Third","Fourth","GoalsScored").filter(dfWC("Winner") === "Spain" and dfWC("Runners-Up") === "Netherlands").show(false)

+----+------------+------+-----------+-------+-------+-----------+
|Year|Country     |Winner|Runners-Up |Third  |Fourth |GoalsScored|
+----+------------+------+-----------+-------+-------+-----------+
|2010|South Africa|Spain |Netherlands|Germany|Uruguay|145        |
+----+------------+------+-----------+-------+-------+-----------+

In [ ]:
// Using AND, "&&" logical operator
dfWC.select("Year","Country","Winner","Runners-Up","Third","Fourth","GoalsScored").filter(dfWC("Winner") === "Spain" && dfWC("Runners-Up") === "Netherlands").show(false)

+----+------------+------+-----------+-------+-------+-----------+
|Year|Country     |Winner|Runners-Up |Third  |Fourth |GoalsScored|
+----+------------+------+-----------+-------+-------+-----------+
|2010|South Africa|Spain |Netherlands|Germany|Uruguay|145        |
+----+------------+------+-----------+-------+-------+-----------+

In [ ]:
// Using OR, “||” logical operator
dfWC.select("Year","Country","Winner","Runners-Up","Third","Fourth","GoalsScored").filter(dfWC("Winner") === "Spain" or dfWC("Runners-Up") === "Netherlands").show(false)

+----+------------+----------+-----------+-------+-------+-----------+
|Year|Country     |Winner    |Runners-Up |Third  |Fourth |GoalsScored|
+----+------------+----------+-----------+-------+-------+-----------+
|1974|Germany     |Germany FR|Netherlands|Poland |Brazil |97         |
|1978|Argentina   |Argentina |Netherlands|Brazil |Italy  |102        |
|2010|South Africa|Spain     |Netherlands|Germany|Uruguay|145        |
+----+------------+----------+-----------+-------+-------+-----------+

In [ ]:
// Using OR, “||” logical operator
dfWC.select("Year","Country","Winner","Runners-Up","Third","Fourth","GoalsScored").filter(dfWC("Winner") === "Spain" || dfWC("Runners-Up") === "Netherlands").show(false)

+----+------------+----------+-----------+-------+-------+-----------+
|Year|Country     |Winner    |Runners-Up |Third  |Fourth |GoalsScored|
+----+------------+----------+-----------+-------+-------+-----------+
|1974|Germany     |Germany FR|Netherlands|Poland |Brazil |97         |
|1978|Argentina   |Argentina |Netherlands|Brazil |Italy  |102        |
|2010|South Africa|Spain     |Netherlands|Germany|Uruguay|145        |
+----+------------+----------+-----------+-------+-------+-----------+

In [ ]:
// Using NOT, “!” logical operator
dfWC.select("Year","Country","Winner","Runners-Up","Third","Fourth").filter(not (dfWC("Winner") === "Italy" or dfWC("Runners-Up") === "Netherlands")).show(false)

+----+-----------+----------+--------------+-----------+--------------+
|Year|Country    |Winner    |Runners-Up    |Third      |Fourth        |
+----+-----------+----------+--------------+-----------+--------------+
|1930|Uruguay    |Uruguay   |Argentina     |USA        |Yugoslavia    |
|1950|Brazil     |Uruguay   |Brazil        |Sweden     |Spain         |
|1954|Switzerland|Germany FR|Hungary       |Austria    |Uruguay       |
|1958|Sweden     |Brazil    |Sweden        |France     |Germany FR    |
|1962|Chile      |Brazil    |Czechoslovakia|Chile      |Yugoslavia    |
|1966|England    |England   |Germany FR    |Portugal   |Soviet Union  |
|1970|Mexico     |Brazil    |Italy         |Germany FR |Uruguay       |
|1986|Mexico     |Argentina |Germany FR    |France     |Belgium       |
|1990|Italy      |Germany FR|Argentina     |Italy      |England       |
|1994|USA        |Brazil    |Italy         |Sweden     |Bulgaria      |
|1998|France     |France    |Brazil        |Croatia    |Netherlands   |
|2002|Korea/Japan|Brazil    |Germany       |Turkey     |Korea Republic|
|2014|Brazil     |Germany   |Argentina     |Netherlands|Brazil        |
+----+-----------+----------+--------------+-----------+--------------+

**Chapter 4. Manipulating Spark DataFrame Columns**

In [ ]:
dfWC.select("*").show(5)

+----+-----------+----------+--------------+-------+----------+-----------+--------------+-------------+----------+
|Year|    Country|    Winner|    Runners-Up|  Third|    Fourth|GoalsScored|QualifiedTeams|MatchesPlayed|Attendance|
+----+-----------+----------+--------------+-------+----------+-----------+--------------+-------------+----------+
|1930|    Uruguay|   Uruguay|     Argentina|    USA|Yugoslavia|         70|            13|           18|   590.549|
|1934|      Italy|     Italy|Czechoslovakia|Germany|   Austria|         70|            16|           17|   363.000|
|1938|     France|     Italy|       Hungary| Brazil|    Sweden|         84|            15|           18|   375.700|
|1950|     Brazil|   Uruguay|        Brazil| Sweden|     Spain|         88|            13|           22| 1.045.246|
|1954|Switzerland|Germany FR|       Hungary|Austria|   Uruguay|        140|            16|           26|   768.607|
+----+-----------+----------+--------------+-------+----------+-----------+--------------+-------------+----------+
only showing top 5 rows

In [ ]:
dfWC.printSchema()

root
 |-- Year: string (nullable = true)
 |-- Country: string (nullable = true)
 |-- Winner: string (nullable = true)
 |-- Runners-Up: string (nullable = true)
 |-- Third: string (nullable = true)
 |-- Fourth: string (nullable = true)
 |-- GoalsScored: string (nullable = true)
 |-- QualifiedTeams: string (nullable = true)
 |-- MatchesPlayed: string (nullable = true)
 |-- Attendance: string (nullable = true)

In [ ]:
dfWC.select("*").filter(col("Attendance") === "1.045.246").show()

+----+-------+-------+----------+------+------+-----------+--------------+-------------+----------+
|Year|Country| Winner|Runners-Up| Third|Fourth|GoalsScored|QualifiedTeams|MatchesPlayed|Attendance|
+----+-------+-------+----------+------+------+-----------+--------------+-------------+----------+
|1950| Brazil|Uruguay|    Brazil|Sweden| Spain|         88|            13|           22| 1.045.246|
+----+-------+-------+----------+------+------+-----------+--------------+-------------+----------+

In [ ]:
// Modifying data format to transform it into numeric

import org.apache.spark.sql.functions.regexp_replace
import org.apache.spark.sql.functions.col

val dfWC2=dfWC.withColumn("Attendance", regexp_replace($"Attendance", "\\.", ""))
dfWC2.select("Attendance").show()

+----------+
|Attendance|
+----------+
|    590549|
|    363000|
|    375700|
|   1045246|
|    768607|
|    819810|
|    893172|
|   1563135|
|   1603975|
|   1865753|
|   1545791|
|   2109723|
|   2394031|
|   2516215|
|   3587538|
|   2785100|
|   2705197|
|   3359439|
|   3178856|
|   3386810|
+----------+

import org.apache.spark.sql.functions.regexp_replace
import org.apache.spark.sql.functions.col
dfWC2: org.apache.spark.sql.DataFrame = [Year: string, Country: string ... 8 more fields]

In [ ]:
import org.apache.spark.sql.types.IntegerType

val dfWC3=dfWC2.withColumn("GoalsScored", col("GoalsScored").cast(IntegerType))
.withColumn("QualifiedTeams", col("QualifiedTeams").cast(IntegerType))
.withColumn("MatchesPlayed", col("MatchesPlayed").cast(IntegerType))
.withColumn("Attendance", col("Attendance").cast(IntegerType))
dfWC3.printSchema()

root
 |-- Year: string (nullable = true)
 |-- Country: string (nullable = true)
 |-- Winner: string (nullable = true)
 |-- Runners-Up: string (nullable = true)
 |-- Third: string (nullable = true)
 |-- Fourth: string (nullable = true)
 |-- GoalsScored: integer (nullable = true)
 |-- QualifiedTeams: integer (nullable = true)
 |-- MatchesPlayed: integer (nullable = true)
 |-- Attendance: integer (nullable = true)

import org.apache.spark.sql.types.IntegerType
dfWC3: org.apache.spark.sql.DataFrame = [Year: string, Country: string ... 8 more fields]

In [ ]:
// Adding a new column to the DataFrame fans attendance per match played

val dfWCExt=dfWC3.withColumn("AttendancePerMatch", round(col("Attendance").cast(IntegerType)/col("MatchesPlayed").cast(IntegerType), 3))

dfWCExt.select("Attendance","MatchesPlayed","AttendancePerMatch").show(5)

+----------+-------------+------------------+
|Attendance|MatchesPlayed|AttendancePerMatch|
+----------+-------------+------------------+
|    590549|           18|         32808.278|
|    363000|           17|         21352.941|
|    375700|           18|         20872.222|
|   1045246|           22|         47511.182|
|    768607|           26|         29561.808|
+----------+-------------+------------------+
only showing top 5 rows

dfWCExt: org.apache.spark.sql.DataFrame = [Year: string, Country: string ... 9 more fields]

**Chapter 4. Renaming DataFrame Columns**

In [ ]:
val dfRenamed = dfWCExt.withColumnRenamed("AttendancePerMatch","AxMatch")
dfRenamed.select("Attendance", "MatchesPlayed","AxMatch").show(5)

+----------+-------------+---------+
|Attendance|MatchesPlayed|  AxMatch|
+----------+-------------+---------+
|    590549|           18|32808.278|
|    363000|           17|21352.941|
|    375700|           18|20872.222|
|   1045246|           22|47511.182|
|    768607|           26|29561.808|
+----------+-------------+---------+
only showing top 5 rows

dfRenamed: org.apache.spark.sql.DataFrame = [Year: string, Country: string ... 9 more fields]

In [ ]:
// Renaming several columns at onces joining calls to withColumnRenamed()

val dfRenamed2 = dfRenamed
.withColumnRenamed("Attendance","Att")
.withColumnRenamed("AxMatch","AttendancexMatch")

dfRenamed2.select("Att", "MatchesPlayed","AttendancexMatch").show(5)

+-------+-------------+----------------+
|    Att|MatchesPlayed|AttendancexMatch|
+-------+-------------+----------------+
| 590549|           18|       32808.278|
| 363000|           17|       21352.941|
| 375700|           18|       20872.222|
|1045246|           22|       47511.182|
| 768607|           26|       29561.808|
+-------+-------------+----------------+
only showing top 5 rows

dfRenamed2: org.apache.spark.sql.DataFrame = [Year: string, Country: string ... 9 more fields]

**Chapter 4. Drop DataFrame column(s)**

* Deleting a single column: dataframe.drop("column name")
* Deleting multiple columns: dataframe.drop(*("column 1","column 2","column n"))
* Deleting all columns of dataframe: dataframe.drop(*list_of_column names)

In [ ]:
val dfFropOne = dfRenamed2.drop("AttendancexMatch")
dfFropOne.show(5)

+----+-----------+----------+--------------+-------+----------+-----------+--------------+-------------+-------+
|Year|    Country|    Winner|    Runners-Up|  Third|    Fourth|GoalsScored|QualifiedTeams|MatchesPlayed|    Att|
+----+-----------+----------+--------------+-------+----------+-----------+--------------+-------------+-------+
|1930|    Uruguay|   Uruguay|     Argentina|    USA|Yugoslavia|         70|            13|           18| 590549|
|1934|      Italy|     Italy|Czechoslovakia|Germany|   Austria|         70|            16|           17| 363000|
|1938|     France|     Italy|       Hungary| Brazil|    Sweden|         84|            15|           18| 375700|
|1950|     Brazil|   Uruguay|        Brazil| Sweden|     Spain|         88|            13|           22|1045246|
|1954|Switzerland|Germany FR|       Hungary|Austria|   Uruguay|        140|            16|           26| 768607|
+----+-----------+----------+--------------+-------+----------+-----------+--------------+-------------+-------+
only showing top 5 rows

dfFropOne: org.apache.spark.sql.DataFrame = [Year: string, Country: string ... 8 more fields]

In [ ]:
val allColumnsList = dfRenamed2.columns
val dfFropAll = dfRenamed2.drop(allColumnsList:_*)
dfFropAll.show(2)

++
||
++
||
||
++
only showing top 2 rows

allColumnsList: Array[String] = Array(Year, Country, Winner, Runners-Up, Third, Fourth, GoalsScored, QualifiedTeams, MatchesPlayed, Att, AttendancexMatch)
dfFropAll: org.apache.spark.sql.DataFrame = []

**Charter 4. Creating a New Dataframe Column Dependent on Another Column Condition**

In [ ]:
import org.apache.spark.sql.functions.{when, _}
import spark.sqlContext.implicits._

val p = List(("Juan ","Bravo",67,"M",65000),
                ("Miguel ","Rosales",40,"M",87000),
                ("Roberto ","Morales",7,"M",0),
                ("Maria ","Gomez",12,"F",0),
                ("Vanesa","Lopez",25,"F",72000))
val c = Seq("name","surname","age","gender","salary")

val df = spark.createDataFrame(p).toDF(c:_*)
df.show(5)

+--------+-------+---+------+------+
|    name|surname|age|gender|salary|
+--------+-------+---+------+------+
|   Juan |  Bravo| 67|     M| 65000|
| Miguel |Rosales| 40|     M| 87000|
|Roberto |Morales|  7|     M|     0|
|  Maria |  Gomez| 12|     F|     0|
|  Vanesa|  Lopez| 25|     F| 72000|
+--------+-------+---+------+------+

import org.apache.spark.sql.functions.{when, _}
import spark.sqlContext.implicits._
p: List[(String, String, Int, String, Int)] = List(("Juan ",Bravo,67,M,65000), ("Miguel ",Rosales,40,M,87000), ("Roberto ",Morales,7,M,0), ("Maria ",Gomez,12,F,0), (Vanesa,Lopez,25,F,72000))
c: Seq[String] = List(name, surname, age, gender, salary)
df: org.apache.spark.sql.DataFrame = [name: string, surname: string ... 3 more fields]

In [ ]:
val df2 = df
    .withColumn("stage", when(col("age") < 10,"Child")
    .when(col("age") >= 10 && col("age") < 18,"Teenager")
    .otherwise("Adult"))
df2.show(5)

+--------+-------+---+------+------+--------+
|    name|surname|age|gender|salary|   stage|
+--------+-------+---+------+------+--------+
|   Juan |  Bravo| 67|     M| 65000|   Adult|
| Miguel |Rosales| 40|     M| 87000|   Adult|
|Roberto |Morales|  7|     M|     0|   Child|
|  Maria |  Gomez| 12|     F|     0|Teenager|
|  Vanesa|  Lopez| 25|     F| 72000|   Adult|
+--------+-------+---+------+------+--------+

df2: org.apache.spark.sql.DataFrame = [name: string, surname: string ... 4 more fields]

In [ ]:
// Using when() as part of a SQL select statement.
val df3 = df.select(col("*"),
      expr("case when age < '10' then 'Child' " +
                       "when age >= '10' and age <= '18' then 'Teenager' " +
                       "else 'Adult' end").alias("stage"))
df3.show()

+--------+-------+---+------+------+--------+
|    name|surname|age|gender|salary|   stage|
+--------+-------+---+------+------+--------+
|   Juan |  Bravo| 67|     M| 65000|   Adult|
| Miguel |Rosales| 40|     M| 87000|   Adult|
|Roberto |Morales|  7|     M|     0|   Child|
|  Maria |  Gomez| 12|     F|     0|Teenager|
|  Vanesa|  Lopez| 25|     F| 72000|   Adult|
+--------+-------+---+------+------+--------+

df3: org.apache.spark.sql.DataFrame = [name: string, surname: string ... 4 more fields]

*Using when() with null values*

In [ ]:
// Using the when() with null values

val personas = sc.parallelize(Seq(
    ("Juan ","Bravo",67,"M",new Integer(65000) ),
    ("Miguel ","Rosales",40,"M",new Integer(87000) ),
    ("Roberto ","Morales",7,"M",null.asInstanceOf[Integer] ),
    ("Maria ","Gomez",12,"F",null.asInstanceOf[Integer] ),
    ("Vanesa","Lopez",25,"F",new Integer(32000) ))
)
val dfp = personas.toDF("name","surname","age","gender","salary")

// ppower --> purchasing power
dfp.withColumn("ppower", when(col("salary") < 40000,"Low")
               .when(col("salary") >= 40000 && col("Salary") < 70000,"Medium")
               .when(col("salary").isNull ,"")
               .otherwise("High")).show()

+--------+-------+---+------+------+------+
|    name|surname|age|gender|salary|ppower|
+--------+-------+---+------+------+------+
|   Juan |  Bravo| 67|     M| 65000|Medium|
| Miguel |Rosales| 40|     M| 87000|  High|
|Roberto |Morales|  7|     M|  null|      |
|  Maria |  Gomez| 12|     F|  null|      |
|  Vanesa|  Lopez| 25|     F| 32000|   Low|
+--------+-------+---+------+------+------+

personas: org.apache.spark.rdd.RDD[(String, String, Int, String, Integer)] = ParallelCollectionRDD[159] at parallelize at <console>:40
dfp: org.apache.spark.sql.DataFrame = [name: string, surname: string ... 3 more fields]

**Chapter 4. User Defined Functions (UDF)**

In [ ]:
// Writting the UDF
def  isAdult= (age: Integer) => {
  if(age >= 18){
      "Adult"
  }
    else{
        "No adult"
    }
}
val isAdultUDF = udf(isAdult)

isAdult: Integer => String
isAdultUDF: org.apache.spark.sql.expressions.UserDefinedFunction = SparkUserDefinedFunction($Lambda$4389/0x0000000801d46878@290c47fb,StringType,List(Some(class[value[0]: int])),Some(class[value[0]: string]),None,true,true)

In [ ]:
val finalDF=df.withColumn("is_adult",isAdultUDF(col("age")))

finalDF.show()

+--------+-------+---+------+------+--------+
|    name|surname|age|gender|salary|is_adult|
+--------+-------+---+------+------+--------+
|   Juan |  Bravo| 67|     M| 65000|   Adult|
| Miguel |Rosales| 40|     M| 87000|   Adult|
|Roberto |Morales|  7|     M|     0|No adult|
|  Maria |  Gomez| 12|     F|     0|No adult|
|  Vanesa|  Lopez| 25|     F| 72000|   Adult|
+--------+-------+---+------+------+--------+

finalDF: org.apache.spark.sql.DataFrame = [name: string, surname: string ... 4 more fields]

**Charter 4. Use of Union and UnionByName with Data Frames**

Crude Oil Production (Thousand Barrels)

In [ ]:

val dfCOP1=spark.read.option("header", "true").csv("file:///Users/aantolinez/Downloads/Crude_Oil_Production_1.csv")

dfCOP1.show(5)

+----+------+------+------+------+------+------+
|Year|   Jan|   Feb|   Mar|   Apr|   May|   Jun|
+----+------+------+------+------+------+------+
|2015|290891|266154|297091|289755|293711|280734|
|2016|285262|262902|282132|266219|273875|260284|
|2017|275117|255081|284146|273041|284727|273321|
|2018|310032|287870|324467|314996|323491|319216|
|2019|367924|326845|369292|364458|376763|366546|
+----+------+------+------+------+------+------+
only showing top 5 rows

dfCOP1: org.apache.spark.sql.DataFrame = [Year: string, Jan: string ... 5 more fields]

In [ ]:

val dfCOP2=spark.read.option("header", "true").csv("file:///Users/aantolinez/Downloads/Crude_Oil_Production_2.csv")

dfCOP2.show(5)

+----+------+------+------+------+------+------+
|Year|   Jul|   Aug|   Sep|   Oct|   Nov|   Dec|
+----+------+------+------+------+------+------+
|2015|292807|291702|284406|291419|279982|287533|
|2016|268526|269386|256317|272918|267097|273288|
|2017|286657|286759|285499|299726|302564|309486|
|2018|337814|353154|343298|356767|356583|370284|
|2019|368965|387073|377710|397094|390010|402314|
+----+------+------+------+------+------+------+
only showing top 5 rows

dfCOP2: org.apache.spark.sql.DataFrame = [Year: string, Jul: string ... 5 more fields]

In [ ]:
val dfCOP3=spark.read.option("header", "true").csv("file:///Users/aantolinez/Downloads/Crude_Oil_Production_3.csv")

dfCOP3.show(5)

+----+------+------+------+------+------+------+------+------+------+------+------+------+
|Year|   Jan|   Feb|   Mar|   Apr|   May|   Jun|   Jul|   Aug|   Sep|   Oct|   Nov|   Dec|
+----+------+------+------+------+------+------+------+------+------+------+------+------+
|2010|167529|155496|170976|161769|167427|161385|164234|168867|168473|174547|167272|173831|
|2011|170393|151354|174158|166858|174363|167673|168635|175618|168411|182977|181157|189487|
|2012|191472|181783|196138|189601|197456|188262|199368|196867|197942|216057|212472|220282|
|2013|219601|200383|223683|221242|227139|218355|233210|233599|235177|240600|237597|245937|
|2014|250430|228396|257225|255822|268025|262291|274273|276909|272623|287256|279821|296518|
+----+------+------+------+------+------+------+------+------+------+------+------+------+

dfCOP3: org.apache.spark.sql.DataFrame = [Year: string, Jan: string ... 11 more fields]

In [ ]:
val dfCOP4=spark.read.option("header", "true").csv("file:///Users/aantolinez/Downloads/Crude_Oil_Production_4.csv")

dfCOP4.show(5)

+----+------+------+------+------+------+------+------+------+------+------+------+------+
|Year|   Jan|   Feb|   Mar|   Apr|   May|   Jun|   Jul|   Aug|   Sep|   Oct|   Nov|   Dec|
+----+------+------+------+------+------+------+------+------+------+------+------+------+
|2015|290891|266154|297091|289755|293711|280734|292807|291702|284406|291419|279982|287533|
|2016|285262|262902|282132|266219|273875|260284|268526|269386|256317|272918|267097|273288|
|2017|275117|255081|284146|273041|284727|273321|286657|286759|285499|299726|302564|309486|
|2018|310032|287870|324467|314996|323491|319216|337814|353154|343298|356767|356583|370284|
|2019|367924|326845|369292|364458|376763|366546|368965|387073|377710|397094|390010|402314|
+----+------+------+------+------+------+------+------+------+------+------+------+------+

dfCOP4: org.apache.spark.sql.DataFrame = [Year: string, Jan: string ... 11 more fields]

In [ ]:
// Combining DataFrames with Duplicates and Removing Duplicates

In [ ]:
val dfCOP5=spark.read.option("header", "true").csv("file:///Users/aantolinez/Downloads/Crude_Oil_Production_5.csv")

dfCOP5.show(10)

+----+------+------+------+------+------+------+------+------+------+------+------+------+
|Year|   Jan|   Feb|   Mar|   Apr|   May|   Jun|   Jul|   Aug|   Sep|   Oct|   Nov|   Dec|
+----+------+------+------+------+------+------+------+------+------+------+------+------+
|2010|167529|155496|170976|161769|167427|161385|164234|168867|168473|174547|167272|173831|
|2011|170393|151354|174158|166858|174363|167673|168635|175618|168411|182977|181157|189487|
|2012|191472|181783|196138|189601|197456|188262|199368|196867|197942|216057|212472|220282|
|2013|219601|200383|223683|221242|227139|218355|233210|233599|235177|240600|237597|245937|
|2014|250430|228396|257225|255822|268025|262291|274273|276909|272623|287256|279821|296518|
|2015|290891|266154|297091|289755|293711|280734|292807|291702|284406|291419|279982|287533|
+----+------+------+------+------+------+------+------+------+------+------+------+------+

dfCOP5: org.apache.spark.sql.DataFrame = [Year: string, Jan: string ... 11 more fields]

In [ ]:
val cleanDf = dfCOP4.union(dfCOP5).distinct()

cleanDf.show(false)

+----+------+------+------+------+------+------+------+------+------+------+------+------+
|Year|Jan   |Feb   |Mar   |Apr   |May   |Jun   |Jul   |Aug   |Sep   |Oct   |Nov   |Dec   |
+----+------+------+------+------+------+------+------+------+------+------+------+------+
|2019|367924|326845|369292|364458|376763|366546|368965|387073|377710|397094|390010|402314|
|2016|285262|262902|282132|266219|273875|260284|268526|269386|256317|272918|267097|273288|
|2015|290891|266154|297091|289755|293711|280734|292807|291702|284406|291419|279982|287533|
|2018|310032|287870|324467|314996|323491|319216|337814|353154|343298|356767|356583|370284|
|2017|275117|255081|284146|273041|284727|273321|286657|286759|285499|299726|302564|309486|
|2012|191472|181783|196138|189601|197456|188262|199368|196867|197942|216057|212472|220282|
|2011|170393|151354|174158|166858|174363|167673|168635|175618|168411|182977|181157|189487|
|2014|250430|228396|257225|255822|268025|262291|274273|276909|272623|287256|279821|296518|
|2010|167529|155496|170976|161769|167427|161385|164234|168867|168473|174547|167272|173831|
|2013|219601|200383|223683|221242|227139|218355|233210|233599|235177|240600|237597|245937|
+----+------+------+------+------+------+------+------+------+------+------+------+------+

cleanDf: org.apache.spark.sql.Dataset[org.apache.spark.sql.Row] = [Year: string, Jan: string ... 11 more fields]

22/12/02 22:07:04 WARN HeartbeatReceiver: Removing executor driver with no recent heartbeats: 979524 ms exceeds timeout 120000 ms
22/12/02 22:07:04 WARN SparkContext: Killing executors is not supported by current scheduler.

In [ ]:
// Using allowMissingColumns=true

val missingColumnsDf=dfCOP1.unionByName(dfCOP2, allowMissingColumns=true)

missingColumnsDf.show()

+----+------+------+------+------+------+------+------+------+------+------+------+------+
|Year|   Jan|   Feb|   Mar|   Apr|   May|   Jun|   Jul|   Aug|   Sep|   Oct|   Nov|   Dec|
+----+------+------+------+------+------+------+------+------+------+------+------+------+
|2015|290891|266154|297091|289755|293711|280734|  null|  null|  null|  null|  null|  null|
|2016|285262|262902|282132|266219|273875|260284|  null|  null|  null|  null|  null|  null|
|2017|275117|255081|284146|273041|284727|273321|  null|  null|  null|  null|  null|  null|
|2018|310032|287870|324467|314996|323491|319216|  null|  null|  null|  null|  null|  null|
|2019|367924|326845|369292|364458|376763|366546|  null|  null|  null|  null|  null|  null|
|2020|398420|372419|396693|357412|301105|313275|  null|  null|  null|  null|  null|  null|
|2015|  null|  null|  null|  null|  null|  null|292807|291702|284406|291419|279982|287533|
|2016|  null|  null|  null|  null|  null|  null|268526|269386|256317|272918|267097|273288|
|2017|  null|  null|  null|  null|  null|  null|286657|286759|285499|299726|302564|309486|
|2018|  null|  null|  null|  null|  null|  null|337814|353154|343298|356767|356583|370284|
|2019|  null|  null|  null|  null|  null|  null|368965|387073|377710|397094|390010|402314|
|2020|  null|  null|  null|  null|  null|  null|341184|327875|327623|324180|335867|346223|
+----+------+------+------+------+------+------+------+------+------+------+------+------+

missingColumnsDf: org.apache.spark.sql.Dataset[org.apache.spark.sql.Row] = [Year: string, Jan: string ... 11 more fields]

**Charter 4. Joining DataFrames with Join**

In [ ]:
val dfUByL=spark.read.option("header", "true").csv("file:///Users/aantolinez/Downloads/User_by_language.csv")

dfUByL.show(5)

+---------+--------+------+--------+-----------+------+
|firstName|lastName|gender|language|ISO3166Code|salary|
+---------+--------+------+--------+-----------+------+
|  Liselda|   Rojas|Female| Spanish|        484| 62000|
| Leopoldo|   Galán|  Male| Spanish|        604| 47000|
|  William|   Adams|  Male| English|        826| 99000|
|    James|   Allen|  Male| English|        124| 55000|
|   Andrea|   López|Female| Spanish|        724| 95000|
+---------+--------+------+--------+-----------+------+
only showing top 5 rows

dfUByL: org.apache.spark.sql.DataFrame = [firstName: string, lastName: string ... 4 more fields]

In [ ]:
val dfCCodes=spark.read.option("header", "true").csv("file:///Users/aantolinez/Downloads/ISO_3166_country_codes.csv")

dfCCodes.show(5)

+-----------+--------------+
|ISO3166Code|   CountryName|
+-----------+--------------+
|        484|        Mexico|
|        826|United Kingdom|
|        250|        France|
|        124|        Canada|
|        724|         Spain|
+-----------+--------------+
only showing top 5 rows

dfCCodes: org.apache.spark.sql.DataFrame = [ISO3166Code: string, CountryName: string]

In [ ]:
dfUByL.join(dfCCodes, dfUByL("ISO3166Code") === dfCCodes("ISO3166Code"), "inner").show()

+---------+---------+------+--------+-----------+------+-----------+--------------+
|firstName| lastName|gender|language|ISO3166Code|salary|ISO3166Code|   CountryName|
+---------+---------+------+--------+-----------+------+-----------+--------------+
|  Liselda|    Rojas|Female| Spanish|        484| 62000|        484|        Mexico|
| Leopoldo|    Galán|  Male| Spanish|        604| 47000|        604|          Peru|
|  William|    Adams|  Male| English|        826| 99000|        826|United Kingdom|
|    James|    Allen|  Male| English|        124| 55000|        124|        Canada|
|   Andrea|    López|Female| Spanish|        724| 95000|        724|         Spain|
|   Sophia|Rochefort|Female|  French|        250| 49000|        250|        France|
|      Ben|   Müller|Female|  German|        276| 47000|        276|       Germany|
+---------+---------+------+--------+-----------+------+-----------+--------------+

In [ ]:
val joinedDf=dfUByL.join(dfCCodes, dfUByL("ISO3166Code") === dfCCodes("ISO3166Code"), "inner")
joinedDf.show(5)

+---------+--------+------+--------+-----------+------+-----------+--------------+
|firstName|lastName|gender|language|ISO3166Code|salary|ISO3166Code|   CountryName|
+---------+--------+------+--------+-----------+------+-----------+--------------+
|  Liselda|   Rojas|Female| Spanish|        484| 62000|        484|        Mexico|
| Leopoldo|   Galán|  Male| Spanish|        604| 47000|        604|          Peru|
|  William|   Adams|  Male| English|        826| 99000|        826|United Kingdom|
|    James|   Allen|  Male| English|        124| 55000|        124|        Canada|
|   Andrea|   López|Female| Spanish|        724| 95000|        724|         Spain|
+---------+--------+------+--------+-----------+------+-----------+--------------+
only showing top 5 rows

joinedDf: org.apache.spark.sql.DataFrame = [firstName: string, lastName: string ... 6 more fields]

In [ ]:
// Create a temporary view
dfUByL.createOrReplaceTempView("UByL")
dfCCodes.createOrReplaceTempView("CCodes")

// Now you can run a SQL query as you would do in a RDBMS
spark.sql("SELECT u.*, c.CountryName FROM UByL u INNER JOIN CCodes c ON u.ISO3166Code == c.ISO3166Code").show(truncate=false)

+---------+---------+------+--------+-----------+------+--------------+
|firstName|lastName |gender|language|ISO3166Code|salary|CountryName   |
+---------+---------+------+--------+-----------+------+--------------+
|Liselda  |Rojas    |Female|Spanish |484        |62000 |Mexico        |
|Leopoldo |Galán    |Male  |Spanish |604        |47000 |Peru          |
|William  |Adams    |Male  |English |826        |99000 |United Kingdom|
|James    |Allen    |Male  |English |124        |55000 |Canada        |
|Andrea   |López    |Female|Spanish |724        |95000 |Spain         |
|Sophia   |Rochefort|Female|French  |250        |49000 |France        |
|Ben      |Müller   |Female|German  |276        |47000 |Germany       |
+---------+---------+------+--------+-----------+------+--------------+

In [ ]:
// Now you can run a SQL query as you would do in a RDBMS

val cleanDf=spark.sql("SELECT u.*, c.CountryName FROM UByL u INNER JOIN CCodes c ON u.ISO3166Code == c.ISO3166Code")
cleanDf.show(5)

+---------+--------+------+--------+-----------+------+--------------+
|firstName|lastName|gender|language|ISO3166Code|salary|   CountryName|
+---------+--------+------+--------+-----------+------+--------------+
|  Liselda|   Rojas|Female| Spanish|        484| 62000|        Mexico|
| Leopoldo|   Galán|  Male| Spanish|        604| 47000|          Peru|
|  William|   Adams|  Male| English|        826| 99000|United Kingdom|
|    James|   Allen|  Male| English|        124| 55000|        Canada|
|   Andrea|   López|Female| Spanish|        724| 95000|         Spain|
+---------+--------+------+--------+-----------+------+--------------+
only showing top 5 rows

cleanDf: org.apache.spark.sql.DataFrame = [firstName: string, lastName: string ... 5 more fields]

In [ ]:
// Fullouter, Full and Outer join

dfUByL.join(dfCCodes, dfUByL("ISO3166Code") === dfCCodes("ISO3166Code"), "fullouter").show()

+---------+---------+------+--------+-----------+------+-----------+--------------+
|firstName| lastName|gender|language|ISO3166Code|salary|ISO3166Code|   CountryName|
+---------+---------+------+--------+-----------+------+-----------+--------------+
|    James|    Allen|  Male| English|        124| 55000|        124|        Canada|
|   Agnete|   Jensen|Female|  Danish|        208| 80000|       null|          null|
|   Sophia|Rochefort|Female|  French|        250| 49000|        250|        France|
|      Ben|   Müller|Female|  German|        276| 47000|        276|       Germany|
|   Amelie| Hoffmann|Female|  German|         40| 45000|       null|          null|
|  Liselda|    Rojas|Female| Spanish|        484| 62000|        484|        Mexico|
| Leopoldo|    Galán|  Male| Spanish|        604| 47000|        604|          Peru|
|   Andrea|    López|Female| Spanish|        724| 95000|        724|         Spain|
|  William|    Adams|  Male| English|        826| 99000|        826|United Kingdom|
+---------+---------+------+--------+-----------+------+-----------+--------------+

In [ ]:
// Fullouter, Full and Outer join

dfUByL.join(dfCCodes, dfUByL("ISO3166Code") === dfCCodes("ISO3166Code"), "full").show()

+---------+---------+------+--------+-----------+------+-----------+--------------+
|firstName| lastName|gender|language|ISO3166Code|salary|ISO3166Code|   CountryName|
+---------+---------+------+--------+-----------+------+-----------+--------------+
|    James|    Allen|  Male| English|        124| 55000|        124|        Canada|
|   Agnete|   Jensen|Female|  Danish|        208| 80000|       null|          null|
|   Sophia|Rochefort|Female|  French|        250| 49000|        250|        France|
|      Ben|   Müller|Female|  German|        276| 47000|        276|       Germany|
|   Amelie| Hoffmann|Female|  German|         40| 45000|       null|          null|
|  Liselda|    Rojas|Female| Spanish|        484| 62000|        484|        Mexico|
| Leopoldo|    Galán|  Male| Spanish|        604| 47000|        604|          Peru|
|   Andrea|    López|Female| Spanish|        724| 95000|        724|         Spain|
|  William|    Adams|  Male| English|        826| 99000|        826|United Kingdom|
+---------+---------+------+--------+-----------+------+-----------+--------------+

In [ ]:
// Fullouter, Full and Outer join

dfUByL.join(dfCCodes, dfUByL("ISO3166Code") === dfCCodes("ISO3166Code"), "outer").show()

+---------+---------+------+--------+-----------+------+-----------+--------------+
|firstName| lastName|gender|language|ISO3166Code|salary|ISO3166Code|   CountryName|
+---------+---------+------+--------+-----------+------+-----------+--------------+
|    James|    Allen|  Male| English|        124| 55000|        124|        Canada|
|   Agnete|   Jensen|Female|  Danish|        208| 80000|       null|          null|
|   Sophia|Rochefort|Female|  French|        250| 49000|        250|        France|
|      Ben|   Müller|Female|  German|        276| 47000|        276|       Germany|
|   Amelie| Hoffmann|Female|  German|         40| 45000|       null|          null|
|  Liselda|    Rojas|Female| Spanish|        484| 62000|        484|        Mexico|
| Leopoldo|    Galán|  Male| Spanish|        604| 47000|        604|          Peru|
|   Andrea|    López|Female| Spanish|        724| 95000|        724|         Spain|
|  William|    Adams|  Male| English|        826| 99000|        826|United Kingdom|
+---------+---------+------+--------+-----------+------+-----------+--------------+

In [ ]:
// Leftouter Left join

dfUByL.join(dfCCodes, dfUByL("ISO3166Code") === dfCCodes("ISO3166Code"), "left").show()

+---------+---------+------+--------+-----------+------+-----------+--------------+
|firstName| lastName|gender|language|ISO3166Code|salary|ISO3166Code|   CountryName|
+---------+---------+------+--------+-----------+------+-----------+--------------+
|  Liselda|    Rojas|Female| Spanish|        484| 62000|        484|        Mexico|
| Leopoldo|    Galán|  Male| Spanish|        604| 47000|        604|          Peru|
|  William|    Adams|  Male| English|        826| 99000|        826|United Kingdom|
|    James|    Allen|  Male| English|        124| 55000|        124|        Canada|
|   Andrea|    López|Female| Spanish|        724| 95000|        724|         Spain|
|   Sophia|Rochefort|Female|  French|        250| 49000|        250|        France|
|      Ben|   Müller|Female|  German|        276| 47000|        276|       Germany|
|   Agnete|   Jensen|Female|  Danish|        208| 80000|       null|          null|
|   Amelie| Hoffmann|Female|  German|         40| 45000|       null|          null|
+---------+---------+------+--------+-----------+------+-----------+--------------+

In [ ]:
dfUByL.join(dfCCodes, dfUByL("ISO3166Code") === dfCCodes("ISO3166Code"), "leftouter").show()

+---------+---------+------+--------+-----------+------+-----------+--------------+
|firstName| lastName|gender|language|ISO3166Code|salary|ISO3166Code|   CountryName|
+---------+---------+------+--------+-----------+------+-----------+--------------+
|  Liselda|    Rojas|Female| Spanish|        484| 62000|        484|        Mexico|
| Leopoldo|    Galán|  Male| Spanish|        604| 47000|        604|          Peru|
|  William|    Adams|  Male| English|        826| 99000|        826|United Kingdom|
|    James|    Allen|  Male| English|        124| 55000|        124|        Canada|
|   Andrea|    López|Female| Spanish|        724| 95000|        724|         Spain|
|   Sophia|Rochefort|Female|  French|        250| 49000|        250|        France|
|      Ben|   Müller|Female|  German|        276| 47000|        276|       Germany|
|   Agnete|   Jensen|Female|  Danish|        208| 80000|       null|          null|
|   Amelie| Hoffmann|Female|  German|         40| 45000|       null|          null|
+---------+---------+------+--------+-----------+------+-----------+--------------+

In [ ]:
// Right or Rightouter join 
dfUByL.join(dfCCodes, dfUByL("ISO3166Code") === dfCCodes("ISO3166Code"), "right").show()

+---------+---------+------+--------+-----------+------+-----------+--------------+
|firstName| lastName|gender|language|ISO3166Code|salary|ISO3166Code|   CountryName|
+---------+---------+------+--------+-----------+------+-----------+--------------+
|  Liselda|    Rojas|Female| Spanish|        484| 62000|        484|        Mexico|
|  William|    Adams|  Male| English|        826| 99000|        826|United Kingdom|
|   Sophia|Rochefort|Female|  French|        250| 49000|        250|        France|
|    James|    Allen|  Male| English|        124| 55000|        124|        Canada|
|   Andrea|    López|Female| Spanish|        724| 95000|        724|         Spain|
| Leopoldo|    Galán|  Male| Spanish|        604| 47000|        604|          Peru|
|      Ben|   Müller|Female|  German|        276| 47000|        276|       Germany|
+---------+---------+------+--------+-----------+------+-----------+--------------+

In [ ]:
// Right or Rightouter join 
dfUByL.join(dfCCodes, dfUByL("ISO3166Code") === dfCCodes("ISO3166Code"), "rightouter").show()

+---------+---------+------+--------+-----------+------+-----------+--------------+
|firstName| lastName|gender|language|ISO3166Code|salary|ISO3166Code|   CountryName|
+---------+---------+------+--------+-----------+------+-----------+--------------+
|  Liselda|    Rojas|Female| Spanish|        484| 62000|        484|        Mexico|
|  William|    Adams|  Male| English|        826| 99000|        826|United Kingdom|
|   Sophia|Rochefort|Female|  French|        250| 49000|        250|        France|
|    James|    Allen|  Male| English|        124| 55000|        124|        Canada|
|   Andrea|    López|Female| Spanish|        724| 95000|        724|         Spain|
| Leopoldo|    Galán|  Male| Spanish|        604| 47000|        604|          Peru|
|      Ben|   Müller|Female|  German|        276| 47000|        276|       Germany|
+---------+---------+------+--------+-----------+------+-----------+--------------+

In [ ]:
// Anti join
dfUByL.join(dfCCodes, dfUByL("ISO3166Code") === dfCCodes("ISO3166Code"), "anti").show()

+---------+--------+------+--------+-----------+------+
|firstName|lastName|gender|language|ISO3166Code|salary|
+---------+--------+------+--------+-----------+------+
|   Agnete|  Jensen|Female|  Danish|        208| 80000|
|   Amelie|Hoffmann|Female|  German|         40| 45000|
+---------+--------+------+--------+-----------+------+

**Chapter 4. cache()**

In [ ]:
val dfcache = spark.range(1, 1000000000).toDF("base").withColumn("square", $"base" * $"base")

df1: org.apache.spark.sql.DataFrame = [id: bigint, square: bigint]

In [ ]:
dfcache.cache() // Cache the data

res80: df1.type = [id: bigint, square: bigint]

In [ ]:
spark.time(dfcache.count()) // Materialize the cache

Time taken: 57407 ms

res81: Long = 1000000000

In [ ]:
spark.time(dfcache.count())

Time taken: 2358 ms

res83: Long = 1000000000

**Chapter 4. persist()**

In [ ]:
import org.apache.spark.storage.StorageLevel

val dfpersist = spark.range(1, 1000000000).toDF("base").withColumn("square", $"base" * $"base")
dfpersist.persist(StorageLevel.DISK_ONLY) // Data is serialized and cached it on disk

import org.apache.spark.storage.StorageLevel
dfpersist: org.apache.spark.sql.DataFrame = [base: bigint, square: bigint]
res89: dfpersist.type = [base: bigint, square: bigint]

In [ ]:
spark.time(dfpersist.count()) // Materialize the cache

Time taken: 54762 ms

res90: Long = 999999999

In [ ]:
spark.time(dfpersist.count()) // Taking advantage of cached data

Time taken: 2045 ms

res91: Long = 999999999

**Chapter 4. Cache tables or views derived from DataFrames**

In [ ]:
import org.apache.spark.storage.StorageLevel

val dfWithQuery = spark.range(1, 10000000).toDF("base").withColumn("square", $"base" * $"base")

dfWithQuery.createOrReplaceTempView("TableWithQuery")
spark.sql("CACHE TABLE TableWithQuery")
spark.time(spark.sql("SELECT count(*) FROM TableWithQuery")).show()

Time taken: 23 ms
+--------+
|count(1)|
+--------+
| 9999999|
+--------+

import org.apache.spark.storage.StorageLevel
dfWithQuery: org.apache.spark.sql.DataFrame = [base: bigint, square: bigint]

In [ ]:
// Using already cached data
spark.time(spark.sql("SELECT count(*) FROM TableWithQuery")).show()

Time taken: 3 ms
+--------+
|count(1)|
+--------+
| 9999999|
+--------+

**Chapter 4. Uncache tables or views derived from DataFrames**

In [ ]:
val dfUnpersist = dfWithQuery.unpersist()

dfUnpersist: dfWithQuery.type = [base: bigint, square: bigint]

In [ ]:
spark.time(dfUnpersist.count())

Time taken: 99 ms

res2: Long = 9999999

22/12/07 01:37:35 WARN HeartbeatReceiver: Removing executor driver with no recent heartbeats: 990721 ms exceeds timeout 120000 ms
22/12/07 01:37:35 WARN SparkContext: Killing executors is not supported by current scheduler.